@model List<AccountManagement.DBContext.Models.ViewModels.FormPermissionMaster.UserwiseFormPermissionModel>

@if (Model != null && Model.Count > 0)
{
    int rowCounter = 0;
    foreach (var item in Model)
    {
        var rowClass = rowCounter % 2 == 0 ? "bg-light" : "";
        <tr id="templateRow_@Convert.ToInt64(item.RowNumber + 1)" class="forms @rowClass" data-product-id="@item.FormId">
            <td>
                <h6 class="pt-1" id="formName" data-product-id="@item.FormId">@item.FormName</h6>
                <input type="hidden" id="txtuserformId" value="@item.FormId" />
                <input type="hidden" id="txtuserId" value="@item.UserId" />
            </td>
            <td>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="isView_@item.FormId" name="isView" @(item.IsViewAllow ? "checked" : "") onchange="updateUserSelectAll('@item.FormId')">
                </div>
            </td>
            <td>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="isAdd_@item.FormId" name="isAdd" @(item.IsAddAllow ? "checked" : "") onchange="updateUserSelectAll('@item.FormId')">
                </div>
            </td>
            <td>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="isEdit_@item.FormId" name="isEdit" @(item.IsEditAllow ? "checked" : "") onchange="updateUserSelectAll('@item.FormId')">
                </div>
            </td>
            <td>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="isDelete_@item.FormId" name="isDelete" @(item.IsDeleteAllow ? "checked" : "") onchange="updateUserSelectAll('@item.FormId')">
                </div>
            </td>
            <td class="text-center">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="isApproved_@item.FormId" name="isApproved" @(item.IsApproved.HasValue && item.IsApproved.Value ? "checked" : "") onchange="toggleIsApprovedLabel(@item.FormId)">
                    <label id="labelIsApproved_@item.FormId">
                        @(item.IsApproved.HasValue && item.IsApproved.Value ? "Auto Approved-On" : "Auto Approved-Off")
                    </label>
                </div>
            </td>
            <td>
                <div class="form-check">
                    <input class="form-check-input alluser-checkbox" type="checkbox" id="usercheckboxAll_@item.FormId" onclick="toggleUserCheckboxes('@item.FormId')">
                </div>
            </td>
        </tr>
        rowCounter++;
    }
}
