@model IEnumerable<AccountManagement.DBContext.Models.ViewModels.UserModels.UserRoleModel>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@foreach (var item in Model)
{
    @*<div class="row ac-card" id="userCard_@item.RoleId" onclick="SelectUserDetails('@item.RoleId', this)">
        <div class="card  border mb-0">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-lg-5 col-md-5 col-xl-5">
                        <div class="d-flex align-items-center gap-3">
                            <div class="widget-icon-2 bg-light-primary">
                                <div class="font-22">
                                    <i class="lni lni-user">

                                    </i>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <h4 class="mb-0 text-primary">@item.Role</h4>
                                <input type="text" id="roleId" value="@item.RoleId" hidden />
                                <p class="mb-1"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5 col-md-5 col-xl-3">
                        <div class="flex-grow-1">
                            <h5 class="mb-0 text-primary"></h5>
                            <h6 class="mb-2"></h6>
                        </div>
                    </div>
                    <div class="col-12 col-lg-2 col-md-2 col-xl-1">
                        <div class="form-check form-switch">
                            <input class="form-check-input font-22" type="checkbox" id="flexSwitchCheckChecked_@item.Role" hidden>
                            <label class="form-check-label" for="flexSwitchCheckChecked_@item.RoleId"></label>
                        </div>
                    </div>
                    <div class="col-12 col-lg-2 col-md-2 col-xl-3  ac-m-btn font-22">
                        <a class="btn text-primary" onclick="EditRoleWiseFormDetails('@item.RoleId')" title="Edit" aria-label="Edit"><i class="fadeIn animated bx bx-edit"></i></a>
                        <a href="javascript:;" class="btn text-primary" onclick="deleteFormwiseUserDetails('@item.RoleId')" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete" aria-label="Delete" hidden><i class="lni lni-trash"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

    <tr id="siteCard_@item.RoleId" onclick="SelectSiteDetails('@item.RoleId', this)">
        <td>@item.Role</td>
        <td>
            <a class="btn text-primary" onclick="EditRoleWiseFormDetails('@item.RoleId')" title="Edit" aria-label="Edit"><i class="fadeIn animated bx bx-edit"></i></a>
        </td>
    </tr>
}
