@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@model IEnumerable<AccountManagement.DBContext.Models.ViewModels.UserModels.LoginView>

@foreach (var item in Model)
{
    <tr id="userCard_@item.Id" onclick="SelectUserDetails('@item.Id', this)">
        <td>@item.FirstName  @item.LastName</td>
        <td>@item.UserName</td>
        <td>@item.RoleName</td>
        @if (_userSession.UserRole == 3 || _userSession.UserRole == 10)
        {
            <td>@item.SiteName</td>
        }
        <td>
            @if (_userSession.UserRole == 3 || _userSession.UserRole == 10)
            {
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked_@item.Id" @if (item.IsActive)
                {
                    <text>checked</text>
                } onclick="UserActiveDecative('@item.Id')">
            }
            else
            {
                <input class="form-check-input" type="checkbox" disabled id="flexSwitchCheckChecked_@item.SiteId" @if (item.IsActive)
                {
                    <text>checked</text>
                }/>
            }
        </td>
        @if (UserSession.FormPermisionData.Any(a => a.FormName == "User List" && (a.Edit == true || a.Delete == true)))
        {
            <td>
                @if (UserSession.FormPermisionData.Any(a => a.FormName == "User List" && (a.Edit == true)))
                {
                    <a class="btn text-primary" onclick="DisplayUserDetails('@item.Id')" title="Edit" aria-label="Edit"><i class="fadeIn animated bx bx-edit"></i></a>
                }
                @if (UserSession.FormPermisionData.Any(a => a.FormName == "User List" && a.Delete == true && item.RoleId != 3))
                {
                    <a href="javascript:;" class="btn text-primary" onclick="deleteUserDetails('@item.Id')" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete" aria-label="Delete"><i class="lni lni-trash"></i></a>
                }
            </td>
        }
    </tr>
}


