@model AccountManagement.DBContext.Models.ViewModels.InvoiceMaster.SupplierInvoiceList
@inject UserSession _userSession


@if (Model.InvoiceList.Any())
{
    @foreach (var item in Model.InvoiceList)
    {
        @if (item.IsApproved == false || item.IsApproved == null)
        {
            <tr class="text-center">
                <td>@item.SupplierInvoiceNo</td>
                <td style="width:86px;">@(item.Date.HasValue ? item.Date.Value.ToString("dd/MM/yyyy") : string.Empty)</td>
                <td style="width:130px;">@item.SiteName</td>
                <td>@item.SupplierName</td>
                <td>@item.CompanyName</td>
                <td>@item.TotalAmount</td>
                <td>
                    @if (_userSession.UserRole == 3)
                    {
                        <input class="form-check-input" type="checkbox" name="chk_invoicechild" id="invoice_@item.Id" />
                    }
                    else
                    {
                        @if (item.IsApproved.HasValue && item.IsApproved.Value)
                        {
                            <span class="badge bg-light-success text-success w-100">Approved</span>
                        }
                        else
                        {
                            <span class="badge bg-light-warning text-warning w-100">Pending</span>
                        }
                    }
                </td>
                @if (UserSession.FormPermisionData.Any(a => a.FormName == "Purchase  Invoice" && (a.Edit == true || a.Delete == true)))
                {
                    <td>
                        @if (UserSession.FormPermisionData.Any(a => a.FormName == "Purchase  Invoice" && (a.Delete == true)))
                        {
                            <a href="javascript:;" class="btn text-primary" onclick="dashboardDeleteSupplierInvoice('@item.Id'); event.stopPropagation();" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete" aria-label="Delete"><i class="lni lni-trash"></i></a>
                        }
                    </td>
                }
            </tr>
        }
    }
}
else
{
    <tr style="height:55px;">
        <td colspan="8" class="text-center">No data found for this criteria.</td>
    </tr>
}
