@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@model IEnumerable<AccountManagement.DBContext.Models.ViewModels.ItemMaster.ItemMasterModel>

@if(Model.Any()){

@foreach (var item in Model)
{
    @if (item.IsApproved == false)
    {
        <tr id="userCard_@item.ItemId" class="" onclick="DisplayItemDetails('@item.ItemId', this)">
            <td>@item.ItemName</td>
            <td>@item.PricePerUnit</td>
            <td>
                @if (_userSession.UserRole == 3)
                {
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked_@item.ItemId" @(item.IsApproved.HasValue && item.IsApproved.Value ? "checked" : "") onclick="dashboardItemIsApproved('@item.ItemId')" />
                }
                else
                {
                    @if (item.IsApproved.HasValue && item.IsApproved.Value)
                    {
                        <span class="badge bg-light-success text-success w-100">Approved</span>
                    }
                    else
                    {
                        <span class="badge bg-light-warning text-warning w-100">Pending</span>
                    }
                }
            </td>


            @if (UserSession.FormPermisionData.Any(a => a.FormName == "Item" && (a.Edit == true || a.Delete == true)))
            {
                <td>
                    @if (UserSession.FormPermisionData.Any(a => a.FormName == "Item" && (a.Delete == true)))
                    {
                        <a href="javascript:;" class="btn text-primary" onclick="dashboarddeleteItemDetails('@item.ItemId')" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete" aria-label="Delete"><i class="lni lni-trash"></i></a>
                    }
                </td>
            }
        </tr>
        }
    }

}
else
{
    <tr style="height:55px;">
        <td colspan="8" class="text-center">No data found for the selected criteria.</td>
    </tr>
}
