@using AccountManegments.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@model IEnumerable<AccountManagement.DBContext.Models.ViewModels.PurchaseRequest.PurchaseRequestModel>
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}


<div class="row">
    <div class="col-12 col-lg-4 col-xl-4 d-flex">
        <div class="card radius-10 w-100">
        </div>
    </div>
</div>

<!--end breadcrumb-->

<div class="container">
    <div class="row">
        <!-- Purchase Requests Table -->
        <div class="col-md-6 mb-3">
            <div class="card" style="max-width: 790px;margin-left: -152px;">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Purchase Requests</h5>
                        <button class="btn btn-success" id="PRApproveBtn" onclick="MutiplePurchaseRequestIsApproved()" style="display:none;">Approve</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive mt-3" id="PRListTable" style="max-height:280px;min-height:275px;">
                        <table class="table align-middle mb-0">
                            <thead class="table-light btn-primary">
                                <tr>
                                    <th>Site</th>
                                    <th>Item</th>
                                    <th>Unit</th>
                                    <th>Qty</th>
                                    <th>
                                        <input class="form-check-input" type="checkbox" id="checkedAllPR" />
                                        <span class="g-3">Approve</span>
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="tbPndingApproval">
                                @if (Model.Any())
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.SiteName</td>
                                            <td>@item.ItemName</td>
                                            <td>@item.UnitName</td>
                                            <td>@item.Quantity</td>
                                            <td>
                                                @if (_userSession.UserRole == 3 || _userSession.UserRole == 10)
                                                {
                                                    <input class="form-check-input" type="checkbox" name="chk_PRchild" id="PR_@item.Pid" />
                                                }
                                                else
                                                {
                                                    @if (item.IsApproved == true)
                                                    {
                                                        <span class="badge bg-light-success text-success w-100">Approved</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge bg-light-warning text-warning w-100">Pending</span>
                                                    }
                                                }
                                            </td>

                                            @if (UserSession.FormPermisionData.Any(a => a.FormName == "Purchase Request" && (a.Edit == true || a.Delete == true)))
                                            {
                                                <td>
                                                    @if (UserSession.FormPermisionData.Any(a => a.FormName == "Purchase Request" && (a.Edit == true)))
                                                    {
                                                        <a class="btn text-primary" onclick="EditPurchaseRequestDetails('@item.Pid')" title="Edit" aria-label="Edit"><i class="fadeIn animated bx bx-edit"></i></a>
                                                    }
                                                    @if (UserSession.FormPermisionData.Any(a => a.FormName == "Purchase Request" && (a.Delete == true)))
                                                    {
                                                        <a href="javascript:;" class="btn text-primary" onclick="DeletePurchaseRequest('@item.Pid')" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete" aria-label="Delete"><i class="lni lni-trash"></i></a>
                                                    }
                                                </td>
                                            }
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr style="height:55px;">
                                        <td colspan="8" class="text-center">No data found for the selected criteria.</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card" style="max-width: 790px;margin-left: -152px;">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Purchase Order</h5>
                        <button class="btn btn-success" id="POApproveBtn" onclick="dashboardPOIsApproved()" style="display:none;">Approve</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive mt-3" id="POListTable" style="max-height:280px;min-height:275px;">
                        <table class="table align-middle mb-0">
                            <thead class="table-light btn-primary">
                                <tr class="text-center">
                                    <th>Purchase-Id</th>
                                    <th>Date</th>
                                    <th>Site</th>
                                    <th>Supplier</th>
                                    <th>Company</th>
                                    <th>Amount</th>
                                    <th style="width:84px;">
                                        <input class="form-check-input" type="checkbox" id="checkedAllPO" />
                                        <span class="g-3">Approve</span>
                                    </th>
                                    @if (UserSession.FormPermisionData.Any(a => a.FormName == "Purchase Orders" && (a.Edit == true || a.Delete == true)))
                                    {
                                        <th>Action</th>
                                    }
                                </tr>
                            </thead>
                            <tbody id="dashboardPOList">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Purchase Order Table -->
        <div class="col-md-6 mb-3">
            <div class="card" style="max-width: 790px;margin-right: -152px;">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Item</h5>
                        <button class="btn btn-success" id="ItemApproveBtn" onclick="dashboardItemIsApproved()" style="display:none;">Approve</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive mt-3" id="ItemListTable" style="max-height:280px;min-height:275px;">
                        <table class="table align-middle mb-0">
                            <thead class="table-light btn-primary">
                                <tr>
                                    <th>Item</th>
                                    <th>Price</th>
                                    <th>
                                        <input class="form-check-input" type="checkbox" id="checkedAllItem" />
                                        <span class="g-3">Approve</span>
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="tbItemsList">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card" style="max-width: 790px;margin-right: -152px;">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Purchase Invoice</h5>
                        <button class="btn btn-success" id="InvoiceApproveBtn" onclick="dashboardInvoiceIsApproved()" style="display:none;">Approve</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive mt-3" id="InvoiceListTable" style="max-height:280px;min-height:275px;">
                        <table class="table align-middle mb-0">
                            <thead class="table-light btn-primary">
                                <tr class="text-center">
                                    <th>Invoice No</th>
                                    <th>Date</th>
                                    <th>Site</th>
                                    <th>Supplier</th>
                                    <th>Company</th>
                                    <th>Amount</th>
                                    <th style="width:84px;">
                                        <input class="form-check-input" type="checkbox" id="checkedAllInvoice" />
                                        <span class="g-3">Approve</span>
                                    </th>
                                    @if (UserSession.FormPermisionData.Any(a => a.FormName == "Purchase  Invoice" && (a.Edit == true || a.Delete == true)))
                                    {
                                        <th>Action</th>
                                    }
                                </tr>
                            </thead>
                            <tbody id="dashboardInvoiceList">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card" style="max-width: 790px;margin-left: -152px;">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Supplier</h5>
                        <button class="btn btn-success" id="SupplierApproveBtn" onclick="MutipleSupplierIsApproved()" style="display:none;">Approve</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive mt-3" id="SupplierListTable" style="max-height:280px;min-height:275px;">
                        <table class="table align-middle mb-0">
                            <thead class="table-light btn-primary">
                                <tr>
                                    <th>Supplier</th>
                                    <th>Gst</th>
                                    <th>
                                        <input class="form-check-input" type="checkbox" id="checkedAllSupplier" />
                                        <span class="g-3">Approve</span>
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="dashboardSupplierList">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card" style="max-width: 790px;margin-right: -152px;">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Inward Challan</h5>
                        <button class="btn btn-success" id="InwardApproveBtn" onclick="MutipleInwardIsApproved()" style="display:none;">Approve</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive mt-3" id="InwardListTable" style="max-height:280px;min-height:275px;">
                        <table class="table align-middle mb-0">
                            <thead class="table-light btn-primary">
                                <tr>
                                    <th>Item</th>
                                    <th>Quantity</th>
                                    <th>
                                        <input class="form-check-input" type="checkbox" id="checkedAllInward" />
                                        <span class="g-3">Approve</span>
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="dashboardInwardList">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!----Edit Item---->
<form id="DashboardItemMsterForm">
    <div class="modal fade show" tabindex="-1" id="EditDashboardItemModal" role="dialog" aria-labelledby="myLargeModalLabel" aria-modal="true" aria-hidden="true" style="display:none;">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary-subtle p-3">
                    <h5 class="modal-title" id="flipModalLabel">Edit Item</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-12 mb-3">
                        <label class="form-label">Item Name</label>
                        <input type="text" class="form-control" placeholder="Item Name" id="txtItemName" name="txtItemName">
                        <input type="hidden" id="txtItemid">
                        <span id="spnItemName" class="text-danger"></span>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-4 col-12">
                            <label class="form-label">Unit Type</label>
                            <input type="text" id="txtUnitType" name="txtUnitType" class="form-control" placeholder="Unit Type">
                            <span id="spnUnitType" class="text-danger"></span>
                        </div>
                        <input type="hidden" id="txtUnitTypeHidden" name="txtUnitTypeHidden">
                        <div class="col-lg-4 col-12">
                            <label class="form-label">Price</label>
                            <input type="number" class="form-control form-control" placeholder="Price Per Unit" id="txtPricePerUnit" name="txtPricePerUnit">
                            <span id="spnPricePerUnit" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4 col-12">
                            <label class="form-label">WithGST</label>
                            <div class="form-check form-switch">
                                <input class="form-check-input font-22" id="txtIsWithGst" type="checkbox" style="margin-left:-35px;">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-6 col-12">
                            <label class="form-label">GST%</label>
                            <input type="text" class="form-control form-control" placeholder="GST%" id="txtGstPerUnit" name="txtGstPerUnit">
                            <span id="spnGstPerUnit" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6 col-12">
                            <label class="form-label">GST Amount</label>
                            <input type="text" class="form-control form-control" placeholder="Gst Amount" id="txtGstAmount" name="txtGstAmount" disabled>
                            <span id="spnGstAmount" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <label class="form-label">HSN Code</label>
                        <input type="text" class="form-control form-control" placeholder="HSN Code" id="txtHSNCode">
                        <span id="spnHSNCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="UpdateItemDetails()" id="btnitem">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>



<!----Edit ItemInward---->
<form id="itemInWordForm">
    <div class="modal fade show" tabindex="-1" id="EditDashboardItemInwardModal" role="dialog" aria-labelledby="myLargeModalLabel" aria-modal="true" aria-hidden="true" style="display:none;">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary-subtle p-3">
                    <h5 class="modal-title" id="flipModalLabel">Edit Item Inward</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-12 mb-3">
                        <label class="form-label">Product Names</label>
                        <input type="text" id="searchItemnameInput" name="searchItemnameInput" class="form-control" placeholder="Product Names">
                        <input type="hidden" id="txtItemName" name="txtItemName">
                        <span id="searchItemnameInput" class="text-danger"></span>
                        <input type="hidden" id="txtItemInWordid">
                        <input type="hidden" id="userRoleId" value="@_userSession.UserRole">
                        <input type="hidden" id="txtInwardSiteid" value="@UserSession.SiteId">
                        <input type="hidden" id="txtInWardSiteName" value="@UserSession.SiteName">
                        <input type="hidden" id="txtCreatedBy" value="@_userSession.UserId">
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-6 col-12">
                            <label class="form-label">Unit Type</label>
                            <input type="text" id="txtInwardUnitType" name="txtUnitType" class="form-control" placeholder="Unit Type">
                            <span id="spnUnitType" class="text-danger"></span>
                            <input type="hidden" id="txtInwardUnitTypeHidden" name="txtInwardUnitTypeHidden">
                        </div>
                        <div class="col-lg-6 col-12">
                            <label class="form-label">Quantity</label>
                            <input type="text" class="form-control" placeholder="Quantity" id="txtQuantity" name="txtQuantity">
                            <span id="spnQuantity" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-6 col-12">
                            <label class="form-label">Receiver Name</label>
                            <input type="text" class="form-control" placeholder="Receiver Name" id="txtReceiverName" name="txtReceiverName">
                            <span id="spnReceiverName" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6 col-12">
                            <label class="form-label">Vehicle Number</label>
                            <input type="text" class="form-control text-uppercase" placeholder="Vehicle Number" id="txtVehicleNumber" name="txtVehicleNumber">
                            <span id="spnVehicleNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <label class="form-label">Date</label>
                        <input type="date" id="txtIteminwordDate" class="form-control" max="@DateTime.Today.ToString("yyyy-MM-dd")" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                        <span id="spnDate" class="text-danger"></span>
                    </div>
                    <div class="col-lg-6 col-12" id="siteSection" style="display: none;">
                        <label class="form-label">Site</label>
                        <input type="text" id="siteNameList" name="siteNameList" class="form-control" placeholder="Site">
                        <input type="hidden" id="siteNameListHidden" name="siteNameListHidden">
                        <span id="spnInWardSiteName" class="text-danger"></span>
                    </div>
                    <div class="container">
                        <div id="MultipleImageContainer">
                            <div class="row multiple-images">
                                <div class="col-12">
                                    <label>Document</label>
                                    <input type="text" id="txtDocumentName" class="form-control" hidden>
                                    <input type="file" id="txtDocument" name="txtDocument" class="form-control" onchange="showpictures()" multiple>
                                    <span id="spnDocument" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="dvDisplayImages" class="col-lg-12">
                        <div class="row" id="addNewImage">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="UpdateMultipleItemInWordDetails()" id="btnitem">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>


<!----Edit Prchase Request------>
<form id="PurchaseRequestForm">
    <div class="modal fade show" tabindex="-1" id="EditPurchaseRequestModal" role="dialog" aria-labelledby="myLargeModalLabel" aria-modal="true" aria-hidden="true" style="display:none;">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary-subtle p-3">
                    <h5 class="modal-title" id="flipModalLabel">Edit PurchaseRequest</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-12 mb-3">

                        <input type="hidden" id="txtCreatedBy" value="@_userSession.UserId"> <label class="form-label">Purchase Request No</label>
                        <input type="text" class="form-control form-control" id="prNo" readonly />
                        <input type="hidden" class="form-control form-control" id="PurchaseRequestId" readonly />
                        <input type="hidden" class="form-control form-control" id="txtcreatedby" value="@_userSession.UserId" readonly />
                        <input type="hidden" id="RoleIdinPR" value="@_userSession.UserRole">
                        <input type="hidden" id="SiteIdinPR" value="@UserSession.SiteId" />
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-6 col-12">
                            <label class="form-label">Product Names</label>
                            <input type="text" id="searchPRItemnameInput" name="searchItemnameInput" class="form-control" placeholder="Product Names">
                            <input type="hidden" id="txtPRItemName" name="txtItemName">
                            <span id="searchItemnameInput" class="text-danger"></span>
                            <input type="hidden" id="txtItemInWordid">
                            <input type="hidden" id="userRoleId" value="@_userSession.UserRole">
                            <input type="hidden" id="txtInwardSiteid" value="@UserSession.SiteId">
                            <input type="hidden" id="txtInWardSiteName" value="@UserSession.SiteName">
                        </div>
                        <div class="col-lg-6 col-12">
                            <label class="form-label">Unit Type</label>
                            <input type="text" id="txtPRUnitType" name="txtUnitType" placeholder="Unit Type" class="form-control">
                            <span id="spnUnitType" class="text-danger"></span>
                            <input type="hidden" id="txtPRUnitTypeHidden" name="txtUnitTypeHidden">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-12 col-12">
                            <label class="form-label">Quantity</label>
                            <input type="number" class="form-control form-control" placeholder="Quantity" id="txtPRQuantity" name="txtQuantity" value="1" min="1" oninput="preventEmptyValue(this)">
                            <span id="spnQuantity" class="text-danger"></span>
                        </div>
                    </div>
                    @if (_userSession.UserRole == 3 || _userSession.UserRole == 10)
                    {
                        <div class="col-lg-12 col-12" id="siteDetails">
                            <label class="form-label">Site</label>
                            <select class="form-select" id="txtPRSiteName" name="txtPRSiteName">
                                <option value="" selected>--Select Site--</option>
                            </select>
                            <span id="spnSiteName" class="text-danger"></span>
                        </div>
                    }
                    <input type="hidden" id="txtPRsiteid" value="@UserSession.SiteId" />
                    <input type="hidden" id="txtPRRoleId" value="@_userSession.UserRole" />
                    <div class="col-lg-6 col-12" id="siteSection" style="display: none;">
                        <label class="form-label">Site</label>
                        <input type="text" id="siteNameList" name="siteNameList" class="form-control" placeholder="Site">
                        <input type="hidden" id="siteNameListHidden" name="siteNameListHidden">
                        <span id="spnInWardSiteName" class="text-danger"></span>
                    </div>
                    <div class="col-lg-12 col-12">
                        <label class="form-label">Where To Ship</label>
                        <select class="single-select form-select" id="drpPRSiteAddress" name="drpPRSiteAddress">
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="UpdatePurchaseRequestDetails()" id="btnitem">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>


<!-----Edit Supplier---->

<form id="EditSupplierForm">
    <div class="modal fade show" tabindex="-1" id="EditSupplierModal" role="dialog" aria-labelledby="myLargeModalLabel" aria-modal="true" aria-hidden="true" style="display:none;">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary-subtle p-3">
                    <h5 class="modal-title" id="flipModalLabel">Edit Supplier</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-12 mb-3">
                        <label class="form-label">Supplier Name</label>
                        <input type="text" class="form-control" placeholder="Supplier Name" id="txtSupplierName" name="txtSupplierName">
                        <input type="hidden" id="txtSupplierid" required>
                        <span id="spnSupplier" class="text-danger"></span>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-6 col-12">
                            <label class="form-label">Phone Number</label>
                            <input type="number" class="form-control" placeholder="Phone Number" id="txtPhoneNo" name="txtPhoneNo">
                            <span id="spnPhoneNo" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6 col-12">
                            <label class="form-label">Email</label>
                            <input type="text" class="form-control" placeholder="Email" id="txtEmail" name="txtEmail">
                            <span id="spnEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="form-label">GST Number</label>
                        <input type="text" class="form-control" placeholder="GST Number" id="txtGST" name="txtGST">
                        <span id="spnGST" class="text-danger"></span>
                    </div>
                    <div class="col-lg-12 col-12">
                        <label class="form-label">Building Name</label>
                        <input type="text" class="form-control" placeholder="Building Name" id="txtBuilding" name="txtBuilding">
                        <span id="spnBuilding" class="text-danger"></span>
                    </div>
                    <div class="col-lg-12 col-12">
                        <label class="form-label">Landmark</label>
                        <textarea type="text" class="form-control" rows="3" placeholder="Landmark" id="txtArea" name="txtArea" style="height: 75px;"></textarea>
                        <span id="spnArea" class="text-danger"></span>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-6 col-12">
                            <label class="form-label">PinCode</label>
                            <input type="number" class="form-control" placeholder="PinCode" id="txtPinCode" name="txtPinCode">
                            <span id="spnPinCode" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6 col-12">
                            <label class="form-label">Country</label>
                            <select id="ddlCountry" name="ddlCountry" class="form-select bg-transparent" onchange="fn_getState('dropState',null,this)">
                                <option>--Select Country--</option>
                            </select>
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-6 col-12">
                            <label class="form-label">State</label>
                            <select id="dropState" name="dropState" class="form-select bg-transparent" onclick="fn_getcitiesbystateId('ddlCity',null,this)">
                                <option value="0"></option>
                            </select>
                            <input type="hidden" id="txtstate" value="" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-lg-6 col-12">
                            <label class="form-label">City</label>
                            <select id="ddlCity" name="ddlCity" class="form-select bg-transparent">
                                <option value="0">--Select City--</option>
                            </select>
                            <input type="hidden" id="txtcity" value="" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-12">
                        <h5><b>Bank Details</b></h5>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-6 col-12">
                            <label class="form-label">Bank Name</label>
                            <input type="text" class="form-control" placeholder="Bank Name" id="txtBank" name="txtBank">
                            <span id="spnBank" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6 col-12">
                            <label class="form-label">Account Number</label>
                            <input type="text" class="form-control" placeholder="Account Number" id="txtAccount" name="txtAccount">
                            <span id="spnAccount" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-6 col-12">
                            <label class="form-label">IFFC Code</label>
                            <input type="text" class="form-control" placeholder="IFFC Code" id="txtIFFC" name="txtIFFC">
                            <span id="spnIFFC" class="text-danger"></span>
                        </div><div class="col-lg-6 col-12">
                            <label class="form-label">Branch Name</label>
                            <input type="text" class="form-control" placeholder="Branch Name" id="txtBranch" name="txtBranch">
                            <span id="spnBranch" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="UpdateSupplierDetails()" id="btnitem">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script type="text/javascript">

        function DeletePurchaseRequest(PurchaseId) {
            Swal.fire({
                title: "Are you sure want to delete this?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel!",
                confirmButtonClass: "btn btn-primary w-xs me-2 mt-2",
                cancelButtonClass: "btn btn-danger w-xs mt-2",
                buttonsStyling: false,
                showCloseButton: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/PurchaseMaster/DeletePurchaseRequest?PurchaseId=' + PurchaseId,
                        type: 'POST',
                        dataType: 'json',
                        success: function (Result) {
                            siteloaderhide();
                            Swal.fire({
                                title: Result.message,
                                icon: 'success',
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'OK'
                            }).then(function () {
                                window.location = '/Home/Index';
                            })
                        },
                        error: function () {
                            siteloaderhide();
                            toastr.error("Can't delete Purchaserequest!");
                        }
                    })
                } else if (result.dismiss === Swal.DismissReason.cancel) {

                    Swal.fire(
                        'Cancelled',
                        'Purchaserequest have no changes.!!😊',
                        'error'
                    );
                }
            });
        }

        function updateCheckedAllState() {
            var allChecked = $('input[name="chk_child"]').length === $('input[name="chk_child"]:checked').length;
            $('#checkedAllItem').prop('checked', allChecked);
        }

        function anyCheckboxChecked() {
            return $("input[name='chk_child']:checked").length > 0;
        }

        $('#ItemListTable').on('change', 'input[name="chk_child"]', function () {
            if (anyCheckboxChecked()) {
                $('#ItemApproveBtn').show();
            } else {
                $('#ItemApproveBtn').hide();
            }
            updateCheckedAllState();
        });

        $('#checkedAllItem').on('change', function () {
            var checked = $(this).prop('checked');
            $('input[name="chk_child"]').prop('checked', checked);
            if (checked) {
                $('#ItemApproveBtn').show();
            } else {
                $('#ItemApproveBtn').hide();
            }
        });


        //Invoice

        function updateInvoiceCheckedAllState() {
            var allChecked = $('input[name="chk_invoicechild"]').length === $('input[name="chk_invoicechild"]:checked').length;
            $('#checkedAllInvoice').prop('checked', allChecked);
        }

        function anyInvoiceCheckboxChecked() {
            return $("input[name='chk_invoicechild']:checked").length > 0;
        }

        $('#InvoiceListTable').on('change', 'input[name="chk_invoicechild"]', function () {
            if (anyInvoiceCheckboxChecked()) {
                $('#InvoiceApproveBtn').show();
            } else {
                $('#InvoiceApproveBtn').hide();
            }
            updateInvoiceCheckedAllState();
        });

        $('#checkedAllInvoice').on('change', function () {
            var checked = $(this).prop('checked');
            $('input[name="chk_invoicechild"]').prop('checked', checked);
            if (checked) {
                $('#InvoiceApproveBtn').show();
            } else {
                $('#InvoiceApproveBtn').hide();
            }
        });

        //PO

        function updatePOCheckedAllState() {
            var allChecked = $('input[name="chk_POchild"]').length === $('input[name="chk_POchild"]:checked').length;
            $('#checkedAllPO').prop('checked', allChecked);
        }

        function anyPOCheckboxChecked() {
            return $("input[name='chk_POchild']:checked").length > 0;
        }

        $('#POListTable').on('change', 'input[name="chk_POchild"]', function () {
            if (anyPOCheckboxChecked()) {
                $('#POApproveBtn').show();
            } else {
                $('#POApproveBtn').hide();
            }
            updatePOCheckedAllState();
        });

        $('#checkedAllPO').on('change', function () {
            var checked = $(this).prop('checked');
            $('input[name="chk_POchild"]').prop('checked', checked);
            if (checked) {
                $('#POApproveBtn').show();
            } else {
                $('#POApproveBtn').hide();
            }
        });

        //PR

        function updatePRCheckedAllState() {
            var allChecked = $('input[name="chk_PRchild"]').length === $('input[name="chk_PRchild"]:checked').length;
            $('#checkedAllPR').prop('checked', allChecked);
        }

        function anyPRCheckboxChecked() {
            return $("input[name='chk_PRchild']:checked").length > 0;
        }

        $('#PRListTable').on('change', 'input[name="chk_PRchild"]', function () {
            if (anyPRCheckboxChecked()) {
                $('#PRApproveBtn').show();
            } else {
                $('#PRApproveBtn').hide();
            }
            updatePRCheckedAllState();
        });

        $('#checkedAllPR').on('change', function () {
            var checked = $(this).prop('checked');
            $('input[name="chk_PRchild"]').prop('checked', checked);
            if (checked) {
                $('#PRApproveBtn').show();
            } else {
                $('#PRApproveBtn').hide();
            }
        });

        //Supplier

        function updateSupplierCheckedAllState() {
            var allChecked = $('input[name="chk_Supplierchild"]').length === $('input[name="chk_Supplierchild"]:checked').length;
            $('#checkedAllSupplier').prop('checked', allChecked);
        }

        function anySupplierCheckboxChecked() {
            return $("input[name='chk_Supplierchild']:checked").length > 0;
        }

        $('#SupplierListTable').on('change', 'input[name="chk_Supplierchild"]', function () {
            if (anySupplierCheckboxChecked()) {
                $('#SupplierApproveBtn').show();
            } else {
                $('#SupplierApproveBtn').hide();
            }
            updateSupplierCheckedAllState();
        });

        // Event listener for "Check All" checkbox
        $('#checkedAllSupplier').on('change', function () {
            var checked = $(this).prop('checked');
            $('input[name="chk_Supplierchild"]').prop('checked', checked);
            if (checked) {
                $('#SupplierApproveBtn').show();
            } else {
                $('#SupplierApproveBtn').hide();
            }
        });

        //Inward

        function updateInwardCheckedAllState() {
            var allChecked = $('input[name="chk_Inwardchild"]').length === $('input[name="chk_Inwardchild"]:checked').length;
            $('#checkedAllInward').prop('checked', allChecked);
        }

        function anyInwardCheckboxChecked() {
            return $("input[name='chk_Inwardchild']:checked").length > 0;
        }

        $('#InwardListTable').on('change', 'input[name="chk_Inwardchild"]', function () {
            if (anyInwardCheckboxChecked()) {
                $('#InwardApproveBtn').show();
            } else {
                $('#InwardApproveBtn').hide();
            }
            updateInwardCheckedAllState();
        });

        $('#checkedAllInward').on('change', function () {
            var checked = $(this).prop('checked');
            $('input[name="chk_Inwardchild"]').prop('checked', checked);
            if (checked) {
                $('#InwardApproveBtn').show();
            } else {
                $('#InwardApproveBtn').hide();
            }
        });

    </script>
}

<script src="~/moduls/masterlistscript.js"></script>