@using AccountManegments.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@model IEnumerable<AccountManagement.DBContext.Models.ViewModels.PurchaseRequest.PurchaseRequestModel>
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}


<div class="row">
    <div class="col-12 col-lg-4 col-xl-4 d-flex">
        <div class="card radius-10 w-100">
        </div>
    </div>
</div>

<!--end breadcrumb-->

<div class="container">
    <div class="row">
        <!-- Purchase Requests Table -->
        <div class="col-md-6 mb-3">
            <div class="card" style="max-width: 790px;margin-left: -152px;">
                <div class="card-header">
                    <h5>Purchase Requests</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive mt-3" style="max-height:350px;">
                        <table class="table align-middle mb-0">
                            <thead class="table-light btn-primary">
                                <tr>
                                    <th>Site</th>
                                    <th>Item</th>
                                    <th>Unit</th>
                                    <th>Qty</th>
                                    <th></th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="tbPndingApproval">
                                @if(Model.Any()){
                                @foreach (var item in Model)
                                {
                                    <tr id="purchaseRequestCard_@item.Pid" class="" onclick="SelectPurchaseRequestDetails('@item.Pid', this)">
                                        <td>@item.SiteName</td>
                                        <td>@item.ItemName</td>
                                        <td>@item.UnitName</td>
                                        <td>@item.Quantity</td>
                                        <td>
                                            @if (_userSession.UserRole == 3)
                                            {
                                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked_@item.Pid" @(item.IsApproved.HasValue && item.IsApproved.Value ? "checked" : "") onclick="PurchaseRequestIsApproved('@item.Pid')" />
                                            }
                                            else
                                            {
                                                @if (item.IsApproved == true)
                                                {
                                                    <span class="badge bg-light-success text-success w-100">Approved</span>
                                                }
                                                else
                                                {
                                                    <span class="badge bg-light-warning text-warning w-100">Pending</span>
                                                }
                                            }
                                        </td>

                                        @if (UserSession.FormPermisionData.Any(a => a.FormName == "Purchase Request" && (a.Edit == true || a.Delete == true)))
                                        {
                                            <td>
                                                @if (UserSession.FormPermisionData.Any(a => a.FormName == "Purchase Request" && (a.Delete == true)))
                                                {
                                                    <a href="javascript:;" class="btn text-primary" onclick="DeletePurchaseRequest('@item.Pid')" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete" aria-label="Delete"><i class="lni lni-trash"></i></a>
                                                }
                                            </td>
                                        }
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr style="height:55px;">
                                        <td colspan="8" class="text-center">No data found for the selected criteria.</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card" style="max-width: 790px;margin-left: -152px;">
                <div class="card-header">
                    <h5>Purchase Order</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive mt-3" style="max-height:350px;">
                        <table class="table align-middle mb-0">
                            <thead class="table-light btn-primary">
                                <tr>
                                    <th>Purchase Order Id</th>
                                    <th>Date</th>
                                    <th>Total Amount</th>
                                    <th>IsApproved</th>
                                    @if (UserSession.FormPermisionData.Any(a => a.FormName == "Purchase Orders" && (a.Edit == true || a.Delete == true)))
                                    {
                                        <th>Action</th>
                                    }
                                </tr>
                            </thead>
                            <tbody id="dashboardPOList">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Purchase Order Table -->
        <div class="col-md-6 mb-3">
            <div class="card" style="max-width: 790px;margin-right: -152px;">
                <div class="card-header">
                    <h5>Item</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive mt-3" style="max-height:350px;">
                        <table class="table align-middle mb-0">
                            <thead class="table-light btn-primary">
                                <tr>
                                    <th>Item</th>
                                    <th>Price</th>
                                    <th>Approved</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="tbItemsList">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        function DeletePurchaseRequest(PurchaseId) {
            Swal.fire({
                title: "Are you sure want to delete this?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel!",
                confirmButtonClass: "btn btn-primary w-xs me-2 mt-2",
                cancelButtonClass: "btn btn-danger w-xs mt-2",
                buttonsStyling: false,
                showCloseButton: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/PurchaseMaster/DeletePurchaseRequest?PurchaseId=' + PurchaseId,
                        type: 'POST',
                        dataType: 'json',
                        success: function (Result) {
                            siteloaderhide();
                            Swal.fire({
                                title: Result.message,
                                icon: 'success',
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'OK'
                            }).then(function () {
                                window.location = '/Home/Index';
                            })
                        },
                        error: function () {
                            siteloaderhide();
                            toastr.error("Can't delete Purchaserequest!");
                        }
                    })
                } else if (result.dismiss === Swal.DismissReason.cancel) {

                    Swal.fire(
                        'Cancelled',
                        'Purchaserequest have no changes.!!😊',
                        'error'
                    );
                }
            });
        }

        function PurchaseRequestIsApproved(PurchaseId) {

            var isChecked = $('#flexSwitchCheckChecked_' + PurchaseId).is(':checked');
            var confirmationMessage = isChecked ? "Are you sure want to approve this purchaserequest?" : "Are you sure want to unapprove this purchaserequest?";

            Swal.fire({
                title: confirmationMessage,
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, enter it!",
                cancelButtonText: "No, cancel!",
                confirmButtonClass: "btn btn-primary w-xs me-2 mt-2",
                cancelButtonClass: "btn btn-danger w-xs mt-2",
                buttonsStyling: false,
                showCloseButton: true
            }).then((result) => {
                if (result.isConfirmed) {
                    var formData = new FormData();
                    formData.append("PurchaseId", PurchaseId);

                    $.ajax({
                        url: '/PurchaseMaster/PurchaseRequestIsApproved?PurchaseId=' + PurchaseId,
                        type: 'Post',
                        contentType: 'application/json;charset=utf-8;',
                        dataType: 'json',
                        success: function (Result) {


                            Swal.fire({
                                title: isChecked ? "Approved!" : "Unapproved!",
                                text: Result.message,
                                icon: "success",
                                confirmButtonClass: "btn btn-primary w-xs mt-2",
                                buttonsStyling: false
                            }).then(function () {
                                window.location = '/Home/Index';
                            });
                        }
                    });
                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    Swal.fire(
                        'Cancelled',
                        'Purchaserequest have no changes.!!😊',
                        'error'
                    ).then(function () {
                        window.location = '/Home/Index';
                    });
                }
            });
        }

    </script>
}
