@using AccountManegments.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@model IEnumerable<AccountManagement.DBContext.Models.ViewModels.ItemInWord.ItemInWordModel>

@foreach (var item in Model)
{
    <tr id="userCard_@item.InwordId" class="" onclick="SelectItemInWordDetails('@item.InwordId', this)">
        <td>@item.Item</td>
        <td>@item.Date?.ToString("dd/MM/yyyy")</td>
        <td>@item.Quantity</td>
        <td>
            @if (_userSession.UserRole == 3 || _userSession.UserRole == 10)
            {
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked_@item.InwordId" @(item.IsApproved.HasValue && item.IsApproved.Value ? "checked" : "") onclick="ItemInWordIsApproved('@item.InwordId')" />

            }
            else
            {
                @if (item.IsApproved.GetValueOrDefault())
                {
                    <span class="badge bg-light-success text-success w-100">Approved</span>
                }
                else
                {
                    <span class="badge bg-light-warning text-warning w-100">Pending</span>
                }
            }
        </td>
        <td>@item.SupplierName</td>
        @if (UserSession.SiteId == "")
        {
            <td>@item.SiteName</td>
        }

        @if (item.IsApproved == true)
        {
            @if (UserSession.FormPermisionData.Any(a => a.FormName == "Inward Challan" && (a.Edit == true || a.Delete == true)))
            {
                <td style="width:131px;">
                    @if (UserSession.FormPermisionData.Any(a => a.FormName == "Inward Challan" && (a.Edit == true)))
                    {
                        <a class="btn text-primary" onclick="EditItemInWordDetails('@item.InwordId')" title="Edit" aria-label="Edit"><i class="fadeIn animated bx bx-edit"></i></a>
                    }
                    @if (UserSession.FormPermisionData.Any(a => a.FormName == "Inward Challan" && (a.Delete == true)))
                    {
                        <a href="javascript:;" class="btn text-primary" onclick="DeleteItemInWord('@item.InwordId')" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete" aria-label="Delete"><i class="lni lni-trash"></i></a>
                    }
                </td>
            }

        }
        else
        {
            <td style="width:131px;">
                <a class="btn text-primary" onclick="EditItemInWordDetails('@item.InwordId')" title="Edit" aria-label="Edit"><i class="fadeIn animated bx bx-edit"></i></a>

                <a href="javascript:;" class="btn text-primary" onclick="DeleteItemInWord('@item.InwordId')" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete" aria-label="Delete"><i class="lni lni-trash"></i></a>
            </td>
        }
    </tr>
}

@section Scripts {

    <script src="~/moduls/iteminwordscript.js" asp-append-version="true"></script>
}