@model IEnumerable<AccountManagement.DBContext.Models.ViewModels.ItemInWord.ItemInWordModel>

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <tr id="userCard_@item.InwordId"
            onclick="SelectItemInWordDetails('@item.InwordId', this)">

            <td>@item.Item</td>
            <td>@item.Date?.ToString("dd/MM/yyyy")</td>
            <td class="qty">@item.Quantity</td>
            <td>@item.SupplierName</td>
            <td>@item.SiteName</td>
            <td>@item.InvoiceNo</td>
            <td>...</td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="7" style="text-align:center;">No Data Found</td>
    </tr>
}