@model AccountManagement.DBContext.Models.ViewModels.ItemInWord.ItemInWordMasterView
@using AccountManegments.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@{
    ViewData["Title"] = "Inward Challan";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<style>
    .table tbody tr {
        border-bottom: 1px solid #ddd;
        height: 50px;
    }

    .table tbody td {
        vertical-align: middle;
        padding: 5px;
    }
</style>
@section HeaderButton {

    @if (UserSession.FormPermisionData.Any(a => a.FormName == "Inward Challan" && (a.Add == true)))
    {
        <button type="button" class="btn btn-primary fixed-button" onclick="ClearItemInWordTextBox()"><i class="lni lni-circle-plus"></i>Item Inward</button>
    }
}

<div class="">
    <div class="">
        <div class=" radius-10 w-100">
            <div class="my-3 border-bottom"></div>
            <div class="">
                <div class="row">
                    <div class="col-12 col-lg-7 col-md-7 col-xl-7">
                        <div class="card radius-10 w-100">
                            <div class="card-body">
                                <div class="row w-100 ac-view-list card radius-10 w-100">
                                    <div class="row ">
                                        <div class="col-12">
                                            <div class="card-body">
                                                <div class="row g-3">
                                                    <div class="col-12 col-lg-4">
                                                        <input class="form-control" id="txtItemInWordSearch" onkeyup="filterItemInWordTable()" placeholder="Search" />
                                                    </div>
                                                    <div class="col-12 col-lg-4">
                                                        <select class="form-select" id="ItemInWordSearchBy" onchange="filterItemInWordTable()">
                                                            <option selected="selected">All</option>
                                                            <option>ItemName</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-12 col-lg-4">
                                                        <select class="form-select" id="ItemInWordSortBy" onchange="sortItemInWordTable()">
                                                            <option value="DescendingCreatedOn" selected="selected">Most Recent</option>
                                                            <option value="AscendingCreatedOn">First Created</option>
                                                            <option value="AscendingItem">ItemName(A-Z)</option>
                                                            <option value="DescendingItem">ItemName(Z-A)</option>
                                                        </select>
                                                    </div>
                                                </div><!--end row-->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table align-middle mb-0">
                                                <thead class="table-light btn-primary">
                                                    <tr>
                                                        <th>Item Name</th>
                                                        <th>Date</th>
                                                        <th>Quantity</th>
                                                        <th>Status</th>
                                                        <th>Supplier</th>
                                                        @if (UserSession.SiteId == "")
                                                        {
                                                            <th>SiteName</th>
                                                        }
                                                        @if (UserSession.FormPermisionData.Any(a => a.FormName == "Inward Challan" && (a.Edit == true || a.Delete == true)))
                                                        {
                                                            <th>Action</th>
                                                        }
                                                    </tr>
                                                </thead>
                                                <tbody id="itemInWordtbody">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end row-->
                    </div>
                    <div class="col-12 col-lg-5 col-xl-5 ac-detail hide-sm">
                        <div class="card radius-10">
                            <div class="card-body" style="height:658px;">
                                <h5 class="mb-0 mt-4" id="inwardheadingtxt"></h5>
                                <hr>
                                <div class="row g-3 ac-detail d-none" id="inwardInfo">
                                    <div class="col-12">
                                        <label class="form-label">Item Name</label>
                                        <input type="text" class="form-control" id="dspItem" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Unit Name</label>
                                        <input type="text" class="form-control" id="dspUnitName" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Site Name</label>
                                        <input type="text" class="form-control" id="dspSiteId" readonly>
                                    </div>
                                    <div class="col-4">
                                        <label class="form-label">Quantity</label>
                                        <input type="text" class="form-control" id="dspQuantity" readonly>
                                    </div>
                                    <div class="col-8">
                                        <label class="form-label">Supplier</label>
                                        <input type="text" class="form-control" id="dspinwardSupplier" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">IsApproved</label>
                                        <div class="form-check form-switch mb-3">
                                            <input class="form-check-input font-22" id="dspIsApproved" type="checkbox" style="margin-left:-35px;" disabled>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Date</label>
                                        <input type="text" class="form-control" id="dspDate" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">VehicleNumber</label>
                                        <input type="text" class="form-control" id="dspVehicleNumber" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">ReceiverName</label>
                                        <input type="text" class="form-control" id="dspReceiverName" readonly>
                                    </div>
                                    <div class="col-12">
                                        <label class="form-label">DocumentName</label>
                                        <div class="holder m-2">
                                            <img id="dspDocumentName" src="#" />
                                        </div>
                                    </div>
                                </div>
                                <div id="addInWordInfo">
                                    <form class="row g-3" id="itemInWordForm" enctype="multipart/form-data">
                                        <input type="hidden" id="txtItemInWordid">
                                        <input type="hidden" id="userRoleId" value="@_userSession.UserRole">
                                        <input type="hidden" id="txtInwardSiteid" value="@UserSession.SiteId">
                                        <input type="hidden" id="txtInWardSiteName" value="@UserSession.SiteName">
                                        <input type="hidden" id="txtCreatedBy" value="@_userSession.UserId">
                                        <div class="col-12">
                                            <label class="form-label">Product Names</label>
                                            <input type="text" id="searchItemnameInput" name="searchItemnameInput" class="form-control" placeholder="Product Names">
                                            <input type="hidden" id="txtItemName" name="txtItemName">
                                            <span id="searchItemnameInput" class="text-danger"></span>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <label class="form-label">Unit Type</label>
                                            <input type="text" id="txtUnitType" name="txtUnitType" class="form-control" placeholder="Unit Type">
                                            <span id="spnUnitType" class="text-danger"></span>
                                        </div>
                                        <input type="hidden" id="txtUnitTypeHidden" name="txtUnitTypeHidden">
                                        <div class="col-lg-6 col-12">
                                            <label class="form-label">Quantity</label>
                                            <input type="text" class="form-control" placeholder="Quantity" id="txtQuantity" name="txtQuantity">
                                            <span id="spnQuantity" class="text-danger"></span>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <label class="form-label">Receiver Name</label>
                                            <input type="text" class="form-control" placeholder="Receiver Name" id="txtReceiverName" name="txtReceiverName">
                                            <span id="spnReceiverName" class="text-danger"></span>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <label class="form-label">Vehicle Number</label>
                                            <input type="text" class="form-control text-uppercase" placeholder="Vehicle Number" id="txtVehicleNumber" name="txtVehicleNumber">
                                            <span id="spnVehicleNumber" class="text-danger"></span>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <label class="form-label">Date</label>
                                            <input type="date" id="txtIteminwordDate" class="form-control" max="@DateTime.Today.ToString("yyyy-MM-dd")" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                                            <span id="spnDate" class="text-danger"></span>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <label class="form-label">Site</label>
                                            @if (_userSession.UserRole == 3 || _userSession.UserRole == 10)
                                            {
                                                <input type="text" id="siteNameList" name="siteNameList" class="form-control" placeholder="Site">
                                                <input type="hidden" id="siteNameListHidden" name="siteNameListHidden">
                                                <span id="spnInWardSiteName" class="text-danger"></span>
                                            }
                                            else
                                            {
                                                <input type="text" id="siteName" class="form-control" value="@UserSession.SiteName" readonly>
                                                <input type="hidden" id="siteNameIdHidden" value="@UserSession.SiteId">
                                            }
                                        </div>
                                        <div class="col-lg-12 col-12">
                                            <label class="form-label">Supplier</label>
                                            <input type="text" id="inwardSupplierList" name="inwardSupplierList" class="form-control" placeholder="Supplier">
                                            <input type="hidden" id="inwardSupplierListHidden" name="inwardSupplierListHidden">
                                            <span id="inwardSupplierList" class="text-danger"></span>
                                        </div>
                                        <div class="container">
                                            <div id="MultipleImageContainer">
                                                <div class="row multiple-images">
                                                    <div class="col-12">
                                                        <label>Document</label>
                                                        <input type="text" id="txtDocumentName" class="form-control" hidden>
                                                        <input type="file" id="txtDocument" name="txtDocument" class="form-control" onchange="showpictures()" multiple>
                                                        <span id="spnDocument" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="dvDisplayImages" class="col-lg-12">
                                            <div class="row" id="addNewImage">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" onclick="InsertMultipleItemInWordDetails()" id="btnitemInWord" style="margin-top: -5px;">Save</button>
                                            <button type="button" class="btn btn-primary" onclick="UpdateMultipleItemInWordDetails()" id="updateitemInWord" style="display:none;margin-top: -5px;">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* </form> *@
    </div>
</div>
                </div>
            </div>
        </div>
    </div>

</div>

<style>

    label.failed, label.error {
        color: red;
    }
</style>

@section Scripts {
    <script src="~/moduls/iteminwordscript.js" asp-append-version="true"></script>
}


