@model AccountManagement.DBContext.Models.ViewModels.ItemInWord.ItemInWordMasterView
@using AccountManegments.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@{
    ViewData["Title"] = "Inward Challan";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
@{
    var usercompany = UserSession.CompanyData;
    var selectedcompanyId = UserSession.ComapnyId;
    var usercompanyCount = (usercompany != null) ? usercompany.Count : 0;
}

<style>
    .error-border {
        border: 2px solid red !important;
        box-shadow: none !important;
    }


    label.failed {
        color: red;
    }

    .table tbody tr {
        border-bottom: 1px solid #ddd;
        height: 50px;
    }

    .table tbody td {
        vertical-align: middle;
        padding: 5px;
    }
</style>
@section HeaderButton {

    @if (UserSession.FormPermisionData.Any(a => a.FormName == "Inward Challan" && (a.Add == true)))
    {
        <button type="button" class="btn btn-primary fixed-button" onclick="ClearItemInWordTextBox()"><i class="lni lni-circle-plus"></i>Item Inward</button>
    }
}

<div class="">
    <div class="">
        <div class=" radius-10 w-100">
            <div class="my-3 border-bottom"></div>
            <div class="">
                <div class="row">
                    <div class="col-12 col-lg-8 col-md-8 col-xl-8">
                        <div class="card radius-10 w-100">
                            <div class="card-body" style="height:700px;">
                                <div class="row w-100 ac-view-list card radius-10 w-100">
                                    <div class="row d-none">
                                        <div class="col-12">
                                            <div class="card-body">
                                                <div class="row g-3">
                                                    <div class="col-12 col-lg-4">
                                                        <input class="form-control" id="txtItemInWordSearch" onkeyup="filterItemInWordTable()" placeholder="Search" />
                                                    </div>
                                                    <div class="col-12 col-lg-4">
                                                        <select class="form-select" id="ItemInWordSearchBy" onchange="filterItemInWordTable()">
                                                            <option selected="selected">All</option>
                                                            <option>ItemName</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-12 col-lg-4">
                                                        <select class="form-select" id="ItemInWordSortBy" onchange="sortItemInWordTable()">
                                                            <option value="DescendingCreatedOn" selected="selected">Most Recent</option>
                                                            <option value="AscendingCreatedOn">First Created</option>
                                                            <option value="AscendingItem">ItemName(A-Z)</option>
                                                            <option value="DescendingItem">ItemName(Z-A)</option>
                                                        </select>
                                                    </div>
                                                </div><!--end row-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-3">
                                        <div class="col-md-6 col-lg-2 d-none">


                                            <select id="drpInwardSiteName" class="form-select">
                                                <option value="">All Sites</option>
                                            </select>

                                        </div>

                                        <div class="col-md-6 col-lg-4">
                                            <div class="input-group">
                                                <input type="text" id="textInwardSupplierName" class="form-control" placeholder="Supplier">
                                                <input type="hidden" id="textInwardSupplierNameHidden">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4">
                                            <div class="input-group">
                                                <input type="text" id="textInwardItemName" class="form-control" placeholder="Item">
                                                <input type="hidden" id="textInwardItemNameHidden">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row g-3">
                                        <div class="col-md-6 col-lg-4">
                                            <select id="timePeriodInwardDropdown" class="form-select">
                                                <option value="" selected disabled>Search By</option>
                                                <option value="This Month">This Month</option>
                                                <option value="This Year">This Year</option>
                                                <option value="Between Date">Between Date</option>
                                                <option value="Between Year">Between Year</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 col-lg-4 d-flex align-items-center gap-2" id="InwarddateYearControls">
                                            <input type="date" id="InwardstartDate" class="form-control d-none" style="width: 130px;">
                                            <input type="date" id="InwardendDate" class="form-control d-none" style="width: 130px;">
                                            <select id="InwardyearDropdown" class="form-select d-none" style="width: 110px;">
                                                <option value="">Select Year</option>
                                            </select>
                                            <button class="btn btn-primary nav-btn" id="InwardsearchButton" data-bs-toggle="tab" role="tab" onclick="filterItemInWordTable()">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                                                    <path fill="currentColor" d="m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5t1.888-4.612T9.5 3t4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3zM9.5 14q1.875 0 3.188-1.312T14 9.5t-1.312-3.187T9.5 5T6.313 6.313T5 9.5t1.313 3.188T9.5 14" />
                                                </svg>
                                            </button>

                                            <button type="button" class="btn btn-outline-secondary" onclick="fn_ResetAllInwardDropdown()">
                                                Reset
                                            </button>
                                        </div>

                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive" style="max-height:400px; overflow-y:auto;">
                                            <table class="table align-middle mb-0">
                                                <thead class="table-light btn-primary">
                                                    <tr>
                                                        <th style="width:200px">Item Name</th>
                                                        <th style="width:180px">Date</th>
                                                        <th style="width:150px;">Quantity</th>
                                                        <th style="width:200px;">Supplier</th>
                                                        <th style="width:300px;">SiteName</th>
                                                        <th style="width:200px;">InvoiceNo</th>
                                                        <th style="width:200px;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="itemInWordtbody">
                                                </tbody>
                                            </table>
                                        </div>

                                        <!-- ✅ TOTAL SECTION OUTSIDE TABLE -->
                                        <div id="totalSection" style="margin-top:10px; padding:10px; background:#f8f9fa; font-weight:bold; border-radius:5px;">
                                            Total Quantity: <span id="totalQty">0</span> |
                                            Total : <span id="totalRows">0</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end row-->
                    </div>
                    <div class="col-12 col-lg-4 col-xl-4 ac-detail hide-sm">
                        <div class="card radius-10">
                            <div class="card-body" style="height:auto;">
                                <h5 class="mb-0 mt-4" id="inwardheadingtxt"></h5>
                                <hr>
                                <div class="row g-3 ac-detail d-none" id="inwardInfo">
                                    <div class="col-12">
                                        <label class="form-label">Item Name</label>
                                        <input type="text" class="form-control" id="dspItem" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Unit Name</label>
                                        <input type="text" class="form-control" id="dspUnitName" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Site Name</label>
                                        <input type="text" class="form-control" id="dspSiteId" readonly>
                                    </div>
                                    <div class="col-4">
                                        <label class="form-label">Quantity</label>
                                        <input type="text" class="form-control" id="dspQuantity" readonly>
                                    </div>
                                    <div class="col-8">
                                        <label class="form-label">Supplier</label>
                                        <input type="text" class="form-control" id="dspinwardSupplier" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">IsApproved</label>
                                        <div class="form-check form-switch mb-3">
                                            <input class="form-check-input font-22" id="dspIsApproved" type="checkbox" style="margin-left:-35px;" disabled>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Date</label>
                                        <input type="text" class="form-control" id="dspDate" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">VehicleNumber</label>
                                        <input type="text" class="form-control" id="dspVehicleNumber" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">ReceiverName</label>
                                        <input type="text" class="form-control" id="dspReceiverName" readonly>
                                    </div>
                                    <div class="col-12">
                                        <label class="form-label">DocumentName</label>
                                        <div class="holder m-2">
                                            <img id="dspDocumentName" src="#" />
                                        </div>
                                    </div>
                                </div>
                                <div id="addInWordInfo">
                                    <form class="row g-3" id="itemInWordForm" enctype="multipart/form-data">
                                        <input type="hidden" id="txtItemInWordid">

                                        <input type="hidden" id="txtInwardSiteid" value="@UserSession.SiteId">
                                        <input type="hidden" id="txtInWardSiteName" value="@UserSession.SiteName">
                                        <input type="hidden" id="txtCreatedBy" value="@_userSession.UserId">
                                        <div class="col-12">
                                            <label class="form-label">Product Names</label>
                                            <input type="text" id="searchItemnameInput" name="searchItemnameInput" class="form-control" placeholder="Product Names">
                                            <input type="hidden" id="txtItemName" name="txtItemName">
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <label class="form-label">Unit Type</label>
                                            <input type="text" id="txtUnitType" name="txtUnitType" class="form-control" placeholder="Unit Type">
                                        </div>
                                        <input type="hidden" id="txtUnitTypeHidden" name="txtUnitTypeHidden">
                                        <div class="col-lg-6 col-12">
                                            <label class="form-label">Quantity</label>
                                            <input type="text" class="form-control" placeholder="Quantity" id="txtQuantity" name="txtQuantity">
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <label class="form-label">Receiver Name</label>
                                            <input type="text" class="form-control" placeholder="Receiver Name" id="txtReceiverName" name="txtReceiverName">
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <label class="form-label">Vehicle Number</label>
                                            <input type="text" class="form-control text-uppercase" placeholder="Vehicle Number" id="txtVehicleNumber" name="txtVehicleNumber">
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <label class="form-label">Date</label>
                                            <input type="date" id="txtIteminwordDate" class="form-control" max="@DateTime.Today.ToString("yyyy-MM-dd")" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <label class="form-label">Site</label>
                                            @if (@UserSession.SiteId != "")
                                            {
                                                <input type="text" id="siteNameList" name="siteNameList" class="form-control" placeholder="Site">
                                                <input type="hidden" id="siteNameListHidden" name="siteNameListHidden">
                                            }
                                            else
                                            {
                                                <input type="text" id="siteName" class="form-control" value="@UserSession.SiteName" readonly>
                                                <input type="hidden" id="siteNameIdHidden" value="@UserSession.SiteId">
                                            }
                                        </div>
                                        <div class="col-lg-8 col-12">
                                            <label class="form-label">Supplier</label>
                                            <input type="text" id="inwardSupplierList" name="inwardSupplierList" class="form-control" placeholder="Supplier">
                                            <input type="hidden" id="inwardSupplierListHidden" name="inwardSupplierListHidden">
                                        </div>
                                        <div class="col-lg-4 col-12">
                                            <label class="form-label">Invoice NO</label>
                                            <input type="text" id="txtIteminwordInvoice" class="form-control" value="" />
                                            <span id="spninvoiceNo" class="text-danger"></span>
                                        </div>

                                        <div class="container">
                                            <div id="MultipleImageContainer">
                                                <div class="row multiple-images">
                                                    <div class="col-12">
                                                        <label>Document</label>
                                                        <input type="text" id="txtDocumentName" class="form-control" hidden>
                                                        <input type="file" id="txtDocument" name="txtDocument" class="form-control" onchange="showpictures()" multiple>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="dvDisplayImages" class="col-lg-12">
                                            <div class="row" id="addNewImage">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" onclick="InsertMultipleItemInWordDetails()" id="btnitemInWord" style="margin-top: 5px; margin-left:557px;">Save</button>
                                            <button type="button" class="btn btn-primary" onclick="UpdateMultipleItemInWordDetails()" id="updateitemInWord" style="display:none;margin-top: 5px;margin-left:540px;">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* </form> *@
    </div>
</div>
@section Scripts {
    <script src="~/moduls/iteminwordscript.js" asp-append-version="true"></script>
}


