@model IEnumerable<AccountManagement.DBContext.Models.ViewModels.SiteMaster.SiteMasterModel>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@foreach (var item in Model)
{
    <div class="row ac-card">
        <div class="card  border mb-0">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-lg-5 col-md-5 col-xl-5" onclick="SelectSiteDetails('@item.SiteId', this)">
                        <div class="d-flex align-items-center gap-3">
                            <div class="widget-icon-2 bg-light-primary text-primary">
                                @* <div class="font-22">
                            <i class="lni lni-user" onclick="SelectSiteDetails('@item.SiteId', this)">

                            </i>
                            </div> *@
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="mb-0 text-primary">@item.SiteName </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 col-md-3 col-xl-3">
                        <div class="flex-grow-1">
                            <h6 class="mb-0 text-primary">@item.ContectPersonName</h6>
                            <p class="mb-1">@item.ContectPersonPhoneNo</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-1 col-md-1 col-xl-1 text-center">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked_@item.SiteId" @if (item.IsActive)
                            {
                                <text>checked</text>
                            } onclick="ActiveDecativeSite('@item.SiteId')" />
                            <label class="form-check-label" for="flexSwitchCheckChecked_@item.SiteId"></label>

                        </div>
                    </div>
                    <div class="col-12 col-lg-3 col-md-3 col-xl-3 text-center ac-m-btn">

                        <a class="btn text-primary" onclick="DisplaySiteDetails('@item.SiteId')" title="Edit" aria-label="Edit"><i class="fadeIn animated bx bx-edit"></i></a>
                        <a href="javascript:;" class="btn text-primary" onclick="DeleteSite('@item.SiteId')" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete" aria-label="Delete"><i class="lni lni-trash"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
