@model List<AccountManagement.DBContext.Models.ViewModels.ItemMaster.POItemDetailsModel>

@foreach(var item in Model)
{
    <tr class="product">
        <th scope="row" class="product-id"></th>
        <td class="text-start">
            <input type="text" class="form-control bg-light border-0" id="txtItemName" value="@item.ItemName" readonly />
            <input type="hidden" class="form-control bg-light border-0" id="txtItemId" readonly value="@item.ItemId" />
            <input type="hidden" class="form-control bg-light border-0" id="UnitTypeId" readonly value="@item.UnitType" />
        </td>
        <td class="text-start">
            <input type="text" class="form-control bg-light border-0" id="txtHSNcode" value="" />
        </td>
        <td class="text-start">
            <div class="input-step">
                @* <button type="button" class="minus btn btn-primary" id="minusbtn">–</button> *@
                <input type="number" class="product-quantity form-control" id="txtproductquantity" value="@item.Quantity">
                @* <button type="button" class="plus btn btn-primary" id="plusbtn">+</button> *@

            </div>
        </td>
        <td class="text-start">
            <input type="number" class="form-control bg-light border-0" id="txtproductamount" value="@item.PricePerUnit" readonly />
        </td>
        <td class="text-start">
            <input type="number" class="form-control bg-light border-0" id="txtgst" value="@item.GstPercentage" readonly />
        </td>
        <td class="text-start">
            <input type="number" class="form-control bg-light border-0" id="txtproductamountwithGST" value="@item.Gstamount" readonly />
            <input type="hidden" class="form-control bg-light border-0" id="txtperunitGST" readonly />
        </td>
       
        <td class="text-start">
            <div>
                <input type="text" class="form-control bg-light border-0" id="txtproducttotalamount" value="@item.ItemAmount" readonly />
            </div>
        </td>
        <td class="product-removal">
            <a id="remove" class="btn text-primary"><i class="lni lni-trash"></i></a>
        </td>
    </tr>
}



@section Scripts {
    <script src="~/moduls/purchaserequestscript.js"></script>
}
