@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@model IEnumerable<AccountManagement.DBContext.Models.ViewModels.PurchaseOrder.InvoiceDetailsViewModel>

@foreach (var item in Model)
{
    <tr>
        <td>@item.SupplierInvoiceNo</td>
        <td>@(item.Date.HasValue ? item.Date.Value.ToString("dd/MM/yyyy") : string.Empty)</td>
        <td>@item.InvoiceItemName</td>
        <td>@item.ItemQUT.ToString("F2")</td>
        <td>@item.ItemTotal.ToString("F2")</td>
    </tr>
}