@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@model IEnumerable<AccountManagement.DBContext.Models.ViewModels.PurchaseOrder.POPendingData>


@foreach(var item in Model)
{
    <tr>
        <td>@item.ItemName</td>
        <td>@(item.PurchaseOrderDate.HasValue ? item.PurchaseOrderDate.Value.ToString("dd/MM/yyyy") : string.Empty)</td>
        <td>@item.OrderedQuantity.ToString("F2")</td>
        <td>@item.TotalInvoicedQuantity.ToString("F2")</td>
        <td>@item.PendingQuantity.ToString("F2")</td>
    </tr>
}