@model List<AccountManagement.DBContext.Models.ViewModels.ItemMaster.POItemDetailsModel>

@foreach(var item in Model)
{
    <tr id="templateRow_@Convert.ToInt64(item.RowNumber + 1)" class="product" data-product-id="@item.ItemId">
        <td scope="row" class="product-id">@Convert.ToInt64(item.RowNumber + 1)</td>
        <td class="text-start">
            <p id="txtItemName" style="padding-top:5px !important;">@item.ItemName</p>
            <input type="hidden" class="form-control bg-light border-0" id="txtItemId" readonly value="@item.ItemId" />
            <input type="hidden" class="form-control bg-light border-0" id="UnitTypeId" readonly value="@item.UnitType" />
        </td>
        <td class="text-start">
            <input type="text" class="form-control bg-light border-0" id="txtHSNcode" value="@item.Hsncode" readonly />
        </td>
        <td class="text-start">
            <div class="">
                <input type="text" class="product-quantity form-control" id="txtproductquantity" value="1">
            </div>
        </td>
        <td class="text-start">
            <div class="">
                <select class="form-control" id="txtPOUnitType_@item.ItemId">
                    <option value="@item.UnitType">@item.UnitTypeName</option>
                </select>

        </div>
    </td>
    <td class="text-start">
        <input type="text" class="form-control bg-light border-0" id="txtproductamount" value="@Model.PricePerUnit" />
    </td>
    <td class="text-start">
        <input type="text" class="form-control bg-light border-0" id="txtgst" value="@Model.Gstper" max="99" maxlength="2" />

        </td>
        <td class="text-start">

            <input type="number" class="form-control bg-light border-0" id="txtgstAmount" value="@item.Gstamount" maxlength="2" readonly/>
        </td>
        <td class="text-start">
            <div>
                <input type="text" class="form-control bg-light border-0" id="txtproducttotalamount" value="@item.ItemAmount" readonly />
            </div>
        </td>
        <td class="product-removal">
            <a class="btn text-primary remove-btn" onclick="removeItem(this)"><i class="lni lni-trash"></i></a>
        </td>
    </tr>
}


@section Scripts {

    <script src="~/moduls/purchaserequestscript.js"></script>
}
