@model List<AccountManagement.DBContext.Models.ViewModels.ItemMaster.POItemDetailsModel>

@foreach (var item in Model)
{
    <tr id="templateRow_@Convert.ToInt64(item.RowNumber + 1)" class="product" data-product-id="@item.ItemId">
        <td scope="row" class="product-id">@Convert.ToInt64(item.RowNumber + 1)</td>
        <td class="text-start">
            <p id="txtItemName" style="padding-top:5px !important;">@item.ItemName</p>
            <input type="hidden" class="form-control bg-light border-0" id="txtItemId" readonly value="@item.ItemId" />
            <input type="hidden" class="form-control bg-light border-0" id="UnitTypeId" readonly value="@item.UnitType" />
        </td>
        <td class="text-start">
            <input type="text" class="form-control bg-light border-0" id="txtHSNcode" value="@item.Hsncode" readonly />
        </td>
        <td class="text-start">
            <div class="">
                @if (item.Quantity == 0)
                {
                    <input type="number" class="product-quantity form-control" id="txtproductquantity" value="1" min="1" oninput="preventEmptyValue(this)">
                }
                else
                {
                    <input type="number" class="product-quantity form-control" id="txtproductquantity" value="@item.Quantity" min="1" oninput="preventEmptyValue(this)">
                }
            </div>
        </td>
        <td class="text-start">
            <div class="">
                <select class="form-select" id="txtPOUnitType_@item.ItemId">
                    <option value="@item.UnitType">@item.UnitTypeName</option>
                </select>

            </div>
        </td>
        <td class="text-start">
            <input type="number" class="form-control bg-light border-0" id="txtproductamount" value="@item.PricePerUnit" min="1" oninput="preventEmptyValue(this)" />
        </td>
        <td class="text-start">
            <input type="number" class="form-control bg-light border-0" id="txtgst" value="@item.GstPercentage" max="99" oninput="preventEmptyValue(this)" />

        </td>
        <td class="text-start">
            <input type="number" class="form-control bg-light border-0" id="txtgstAmount" value="@item.Gstamount" readonly />
        </td>
        <td class="text-start">
            <div>
                <input type="number" class="form-control bg-light border-0" id="txtproducttotalamount" value="@item.ItemAmount" readonly />
            </div>
        </td>
        <td class="product-removal">
            <a class="btn text-primary remove-btn" onclick="removeItem(this)"><i class="lni lni-trash"></i></a>
        </td>
    </tr>
}


@section Scripts {

    <script src="~/moduls/purchaserequestscript.js" asp-append-version="true"></script>
}
