@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@model IEnumerable<AccountManagement.DBContext.Models.ViewModels.PurchaseOrder.PurchaseOrderView>

@foreach (var item in Model)
{
    <tr onclick="fn_GetPOPendingData('@item.Poid', this)" style="cursor: pointer;">
        <td><a class="text-primary" onclick="window.location.href='/PurchaseMaster/DisplayPODetails?POId=@item.Id'" style="cursor: pointer;"><h6 class="product-name mb-2">@item.BuyersPurchaseNo</h6></a></td>
        <td>@(item.Date.HasValue ? item.Date.Value.ToString("dd/MM/yyyy") : string.Empty)</td>
        @if (_userSession.UserRole == 3 || _userSession.UserRole == 10)
        {
            <td>@item.SiteName</td>
        }
        <td>@item.SupplierName</td>
        <td>@item.CompanyName</td>
        <td>₹@item.TotalAmount</td>
        @if (UserSession.FormPermisionData.Any(a => a.FormName == "Purchase Orders" && (a.Edit == true || a.Delete == true)))
        {
            <td>
                @if (UserSession.FormPermisionData.Any(a => a.FormName == "Purchase Orders" && (a.Edit == true)))
                {
                    <a class="btn text-primary" href="DisplayPurchaseOrderDetails?Id=@item.Id" title="Edit" aria-label="Edit"><i class="fadeIn animated bx bx-edit"></i></a>
                }
                @if (UserSession.FormPermisionData.Any(a => a.FormName == "Purchase Orders" && (a.Delete == true)))
                {
                    <a href="javascript:;" class="btn text-primary" onclick="DeletePODetails('@item.Id','@item.BuyersPurchaseNo',this); event.stopPropagation();" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete" aria-label="Delete"><i class="lni lni-trash"></i></a>
                }
                <a href='/InvoiceMaster/CreateInvoice?POId=@item.Id' class="btn text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Create Invoice" aria-label="Create Invoice"><i class="lni lni-remove-file"></i></a>

                @if (_userSession.UserRole == 3 || _userSession.UserRole == 10)
                {
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked_@item.Id" @if (item.IsActive)
                    {
                        <text>checked</text>
                    } onclick="POActiveDecative('@item.Id')">

                }

                else
                {
                    @if (item.IsActive)
                    {
                        <span class="badge bg-light-success text-success w-100">IsActive</span>
                    }
                    else
                    {
                        <span class="badge bg-light-warning text-warning w-100">Deactive</span>
                    }
                }
            </td>

        }
    </tr>
}

<script src="~/moduls/purchaserequestscript.js"></script>