@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@model IEnumerable<AccountManagement.DBContext.Models.ViewModels.PurchaseOrder.PurchaseOrderView>

@foreach (var item in Model)
{
    <tr id="userCard_@item.Id" class="" onclick="DisplayItemDetails('@item.Id', this)">
        <td>@item.SupplierName</td>
        <td>@item.TotalGstamount</td>
        <td>@item.TotalAmount</td>
        <td>
            @if (_userSession.UserRole == 3)
            {
                <a class="btn text-primary" onclick="EditPurchaseOrderDetails('@item.Id')" title="Edit" aria-label="Edit"><i class="fadeIn animated bx bx-edit"></i></a>
                <a href="javascript:;" class="btn text-primary" onclick="deleteItemDetails('@item.Id')" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete" aria-label="Delete"><i class="lni lni-trash"></i></a>
            }
            else
            {
                <a class="btn text-primary" title="Edit" aria-label="Edit"><i class="fadeIn animated bx bx-edit"></i></a>
                <a href="javascript:;" class="btn text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete" aria-label="Delete"><i class="lni lni-trash"></i></a>
            }
        </td>
    </tr>
}
