@model AccountManagement.DBContext.Models.ViewModels.PurchaseOrder.PurchaseOrderMasterView
@using AccountManegments.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@{
    ViewData["Title"] = "CreatePurchaseOrder";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />


<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Invoice</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0 align-items-center">
                <li class="breadcrumb-item">
                    <a href="javascript:;"><ion-icon name="home-outline"></ion-icon></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Create Invoice</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card" id="invoiceList">
            <div class="card-body">
                <div>
                    <div class="row justify-content-center">
                        <div class="col-xxl-12">
                            <div class="card">
                                <form id="CreateInvoiceForm">
                                    <div class="card-body border-bottom border-bottom-dashed p-4">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="profile-user mx-auto  mb-3">
                                                    <label for="profile-img-file-input" class="d-block" tabindex="0">
                                                        <span class="overflow-hidden border border-dashed d-flex align-items-center justify-content-center rounded" style="height: 60px; width: 256px;">
                                                            <img src="" class="card-logo card-logo-dark user-profile-image img-fluid" alt="Logo">
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                            </div>
                                            <div class="col-md-4">
                                                <div>
                                                    <label class="text-muted text-uppercase fw-semibold">CompanyName</label>
                                                </div>

                                                <div class="ms-auto">
                                                    @if (Model.CompanyName != null)
                                                    {
                                                        <select class="form-control bg-light border-0" id="txtcompanyname" name="txtcompanyname">
                                                            <option selected disabled value="@Model.ToCompanyId">@Model.CompanyName</option>
                                                        </select>
                                                    }
                                                    else
                                                    {
                                                        <select class="form-control bg-light border-0" id="txtcompanyname" name="txtcompanyname">
                                                            <option selected disabled value="">Select Company</option>
                                                        </select>
                                                    }

                                                    <span id="spncompanyname" class="text-danger"></span>
                                                    <input type="hidden" class="form-control" id="createdbyid" value="@_userSession.UserId">
                                                    <input type="hidden" class="form-control" id="siteid" value="@UserSession.SiteId">
                                                    <input type="hidden" class="form-control" id="RefPOid" value="@Model.Id">
                                                </div>
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                    </div>
                                </form>

                                <div class="card-body p-4 border-top border-top-dashed">
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-6">
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-12">
                                                    <label for="txtPoId">Order No</label>
                                                    <input type="text" class="form-control bg-light border-0" id="txtPoId" value="@ViewBag.PurchaseOrderNo" readonly />
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6 col-sm-12">
                                                    <div>
                                                        <div>
                                                            <label for="orderdate" class="text-muted text-uppercase fw-semibold">Order Date</label>
                                                        </div>
                                                        <div class="mb-2">
                                                            <input type="text" id="orderdate" class="form-control" name="orderdate" placeholder="Select Order-Date" value="@Model.Date" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-6 col-sm-6">
                                            <br />
                                            <div>
                                                <label for="billingName" class="text-uppercase fw-semibold">Billing Address</label>
                                            </div>
                                            <div class="mb-2" id="companybillingaddressDetails">
                                                <div class="mb-2">
                                                    <input type="text" class="form-control bg-light border-0" name="data[#].ShippingName" id="txtbillingcompanyname" value="@Model.CompanyName" placeholder="Full Name" required />
                                                </div>
                                                <div class="mb-2">
                                                    <textarea class="form-control bg-light border-0" id="txtbillingAddress" name="data[#].ShippingAddress" rows="3" placeholder="Address" required>@Model.BillingAddress</textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </div>

                                <!---- Product Details ---->
                                <div class="row">
                                    <div class="col-lg-4 col-sm-6">
                                        <div>
                                            <label for="txtSuppliername" class="form-label text-uppercase">Supplier Name</label>
                                        </div>
                                        @if (Model.SupplierName != null)
                                        {
                                            <select class="form-control bg-light border-0" id="txtSuppliername" name="txtSuppliername" style="border:hidden;">
                                                <option selected disabled value="@Model.FromSupplierId">@Model.SupplierName</option>
                                            </select>
                                        }
                                        else
                                        {
                                            <select class="form-control bg-light border-0" id="txtSuppliername" name="txtSuppliername" style="border:hidden;">
                                                <option selected disabled value="">Select Supplier</option>
                                            </select>
                                        }
                                        <span id="spnsuppliername" class="text-danger"></span>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div>
                                            <div>
                                                <label for="searchItemname" class="form-label text-uppercase">Product Names</label>
                                            </div>
                                            @if (Model.Item != null)
                                            {
                                                <select id="searchItemname" class="form-control bg-light border-0" style="border:hidden;">
                                                    <option selected disabled value="@Model.ItemId">@Model.Item</option>
                                                </select>

                                            }
                                            else
                                            {
                                                <select id="searchItemname" class="form-control bg-light border-0" style="border:hidden;">
                                                    <option selected disabled value="">select Item</option>
                                                </select>
                                            }
                                            <input type="hidden" class="text-muted text-uppercase fw-semibold" id="searchItemnameid">
                                            <div id="searchvalidationMessage" class="text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6 pt-4">
                                        <a id="addItemButton" class="btn btn-primary" onclick="SerchItemDetailsById()" style="">Add Product</a>
                                        <span id="spnitembutton" style="color:red;"></span>
                                    </div>
                                </div>

                                <div class="card-body p-4">
                                    <div class="table-responsive" style="height:350px;">
                                        <table class="invoice-table table table-bordered table-striped mb-0">
                                            <thead>
                                                <tr>
                                                    <th class="text-start">#</th>
                                                    <th class="text-start">Product Details</th>
                                                    <th class="text-start">HSN Code</th>
                                                    <th class="text-start">Quantity</th>
                                                    <th class="text-start">Rate</th>
                                                    <th class="text-start">GST (%)</th>
                                                    <th class="text-start">With GST Amt</th>
                                                    <th class="text-start">Amount</th>
                                                    <th class="text-end">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="addNewlink">
                                                @if (Model.ItemList != null)
                                                {
                                                    @Html.Partial("_EditItemDetailsPartial", Model.ItemList)
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row ">
                                        <div class="col-lg-4 col-sm-12">
                                            <div class="row ac-shippingadd">
                                                <div class="col-lg-12 col-sm-12">
                                                    <div class="input-group mb-3">
                                                        <label class="input-group-text" for="txtdelivryschedule">Delivery Schedule</label>
                                                        <input type="text" class="form-control" id="txtDeliverySchedule" placeholder="Enter Delivery Schedule" value="@Model.DeliveryShedule">
                                                    </div>
                                                    <span id="spnDeliverySchedule" class="text-danger"></span>
                                                </div>
                                                <div class="col-lg-12 col-sm-12 mt-2 ">
                                                    <div class="mb-2">
                                                        <div class="input-group mb-3">
                                                            <label class="input-group-text" for="txtdelivryschedule">Contect Person</label>
                                                            <input type="text" id="txtContectPerson" class="form-control" placeholder="Contect Person Name" value="@Model.ContactName">
                                                        </div>
                                                        <span id="spnContectPerson" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-sm-12 mt-2">
                                                    <div class="mb-2">
                                                        <div class="input-group mb-3">
                                                            <label class="input-group-text" for="txtdelivryschedule">Mobile No</label>
                                                            <input type="text" id="txtMobileNo" class="form-control" placeholder="Mobile No" value="@Model.ContactNumber">
                                                        </div>
                                                        <span id="spnMobileNo" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-sm-12">
                                            <div class="table">
                                                <table class="table table-borderless table-sm table-nowrap align-middle mb-0">
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">Sub Total</th>
                                                            <td style="width:150px;">
                                                                <input type="text" class="form-control bg-light border-0" id="cart-subtotal" placeholder="₹0.00" readonly />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Total Gst(18%)</th>
                                                            <td>
                                                                <input type="text" class="form-control bg-light border-0" id="totalgst" placeholder="₹0.00" value="@Model.TotalGstamount" readonly />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Discount <small class="text-muted">()</small></th>
                                                            <td>
                                                                <input type="text" class="form-control bg-light border-0" id="cart-discount" placeholder="₹0.00" value="@Model.TotalDiscount" readonly />
                                                            </td>
                                                        </tr>
                                                        <tr class="border-top border-top-dashed">
                                                            <th scope="row">Total Amount</th>
                                                            <td>
                                                                <input type="text" class="form-control bg-light border-0" id="cart-total" placeholder="₹0.00" value="@Model.TotalAmount" readonly />
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="container">
                                        <h4>Shipping Address</h4>
                                        <div id="shippingAddressContainer">
                                            <div class="row shipping-address">
                                                <div class="col-lg-3 col-sm-6">
                                                    <label>Shipping Address</label>
                                                    <select class="form-control form-control" id="txtPoSiteName" required>
                                                        <option selected value="">--Select Site--</option>
                                                    </select>
                                                    <span id="spnSiteAddress" style="color:red;"></span>
                                                </div>
                                                <div class="col-lg-3 col-sm-6">
                                                    <label>Qty</label>
                                                    <input type="number" class="form-control" id="quantity" name="quantity" />
                                                    <span id="spnShippingQuantity" style="color:red;"></span>
                                                </div>
                                                <div class="col-lg-4 col-sm-6 pt-3">
                                                    <button type="button" class="btn btn-success add-address">Add</button>
                                                    <span id="spnaddressbutton" style="color:red;"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="dvshipping" class="col-lg-6">
                                        <div class="row">
                                            <table class="table table-sm table-nowrap align-middle mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>Address</th>
                                                        <th>Qty</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="addNewShipping">
                                                    <tr>
                                                        <td id="address" hidden></td>
                                                    </tr>
                                                    @if (Model.AddressList != null)
                                                    {
                                                        @Html.Partial("_EditShippingDetailsPartial", Model.AddressList)
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!--end row-->

                                    <div class="hstack gap-2 justify-content-end d-print-none mt-4">
                                        @if (Model.Id == Guid.Empty)
                                        {

                                            <button type="button" class="btn btn-lg btn-success px-5" id="SavePOButton" onclick="validateAndInsertPurchaseOrder()"><i class="ri-printer-line align-bottom me-1"></i> Save</button>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-lg btn-success px-5" id="UpdatePOButton" onclick="UpdateMultiplePurchaseOrderDetails()"><i class="ri-printer-line align-bottom me-1"></i> Update</button>
                                        }
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!--end col-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end col-->
</div>
<!--end row-->
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="~/moduls/purchaserequestscript.js"></script>
}
<script type="text/javascript">
    _editCompanyselectedValue = "@Model.ToCompanyId";
    _editSupplierselectedValue = "@Model.FromSupplierId";
    _editItemselectedValue = "@Model.ItemId";
</script>


