@model AccountManagement.DBContext.Models.ViewModels.PurchaseOrder.PurchaseOrderMasterView
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@{
    ViewData["Title"] = "DisplayPODetails";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}


<style>
    .border-right {
        border-right: 2px solid black;
    }
</style>
@{
    var firstItem = Model;
    decimal? totalAmount = 0;
    decimal? totalGst = 0;
}

<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Purchase Order</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0 align-items-center">
                <li class="breadcrumb-item">
                    <a href="javascript:void();"><ion-icon name="home-outline"></ion-icon></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Purchase Order Details</li>
            </ol>
        </nav>
    </div>
</div>
<!-- end page title -->

<div class="row justify-content-center" id="displayPODetail">
    <div class="col-xxl-9">
        <div class="card border">
            <div class="row">
                @*<div class="card-body">
                    <div class="d-flex">
                        <div class="flex-grow-1 col-5 border">
                            <h4 class="text-center">Purchase Order</h4>
                        </div>
                    </div>  
                </div>*@
                <div class="card-body" id="cardbody1">
                    <div class="d-flex">
                        <div class="flex-grow-1 col-5 border">
                            <p class="text-muted"><b>@firstItem.CompanyName</b></p>
                            <p class="text-muted">@firstItem.BillingAddress</p>
                        </div>
                        <div class="flex-grow-1 col-5">
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <label class="form-label">Purchase Order Id</label>
                                <p class="text-muted text-uppercase"><b>@firstItem.Poid</b></p>
                            </div>
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <label class="form-label">Mode/Terms of Payment</label>
                                <p><span class="text-muted"><b>100% against Pi before dispatch</b></span></p>
                            </div>
                                <label class="form-label">Buyer's Ref./Order No.</label>
                                <p class="text-muted text-uppercase"><b>@firstItem.Poid</b></p>
                        </div>
                        <div class="flex-grow-1 col-2">
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <label class="form-label">Dated</label>
                                <p><span class="text-muted fw-normal">@firstItem.Date?.ToString("dd/MM/yyyy")</span></p>
                            </div>
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <label class="form-label">Mode/Terms of Payment</label>
                                <p><span class="text-muted"><b>100% against Pi before dispatch</b></span></p>
                            </div>
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <label class="form-label">Dispatched through</label>
                                <p class="text-muted"><b>@firstItem.SupplierName</b></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body" id="cardbody2" style="margin-top:-33px;">
                    <div class="d-flex">
                        <div class="flex-grow-1 col-5 border">
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <p class="text-muted"><b>Consigner:@firstItem.SupplierName</b></p>
                                <p class="text-muted">@firstItem.BuildingName,@firstItem.Area,@firstItem.Cityname,@firstItem.Statename,@firstItem.Pincode</p>
                                <br />
                                <p class="text-muted">GSTIN:- </p>
                            </div>
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <p class="text-muted"><b>Consignee (Ship to):</b></p>
                                <p class="text-muted text-uppercase"><b>@firstItem.SiteName</b></p>
                                @{
                                    int Index = 1;
                                }
                                @foreach (var item in Model.AddressList)
                                {
                                    <p><span>@Index</span><span> </span><span>@item.Address</span></p>
                                    Index++;
                                }
                            </div>
                        </div>
                        <div class="flex-grow-1 col-7 border"> 
                                <label class="form-label">Terms of Delivery</label>
                                <p class="text-muted"><b>2-3 Weeks</b></p>
                                <p class="text-muted"><b>P & F-Inclusive</b></p>
                                <p class="text-muted"><b>Freight-Extra at actual</b></p>
                                <p class="text-muted"><b>Note : Test Certificate required with material</b></p>
                        </div>
                    </div>
                </div>
                <div class="card-body" id="cardbody3" style="margin-top:-33px;">
                    <div class="table-responsive">
                        <table class="table table-border text-center table-nowrap align-middle mb-0">
                            <thead>
                                <tr class="table-active">
                                    <th class="border" scope="col">SRr.No.</th>
                                    <th class="border" scope="col">Product Details</th>
                                    <th class="border" scope="col">HSN / SAC</th>
                                    <th class="border" scope="col">Quantity</th>
                                    <th class="border" scope="col">Rate</th>
                                    <th class="border" scope="col">per</th>
                                    <th class="text-end border" text-end scope="col">Amount</th>
                                </tr>
                            </thead>
                            <tbody id="products-list">
                                @{
                                    int index = 1;
                                }
                                @foreach (var item in Model.ItemList)
                                {
                                    <tr class="product">
                                        <td class="border">@index</td>
                                        <td class="text-start border">
                                            <span class="fw-medium" id="txtproductname">@item.ItemName</span>
                                            <span class="fw-medium" id="txtproductid" hidden>@item.ItemId</span>
                                            <p class="text-muted mb-0" id="txtdescription">@Model.Description</p>
                                        </td>
                                        <td class="border" id="txtHSN"></td>
                                        <td class="border" id="txtquantity">@item.Quantity</td>
                                        <td class="border" id="txtpriceperunit">₹@item.PricePerUnit</td>
                                        <td class="border" id="txtper">No.</td>
                                        <td class="text-end border" id="txttotal">₹@item.ItemAmount</td>
                                    </tr>
                                    index++;
                                }
                                <tr>
                                    <td class="border"></td>
                                    <td class="border"></td>
                                    <td class="border"></td>
                                    <td class="border"></td>
                                    <td class="border">Total</td>
                                    <td class="border"></td>
                                    <td class="border">₹</td>
                                </tr>
                                <tr>
                                    <td class="border"></td>
                                    <td class="border"></td>
                                    <td class="border"></td>
                                    <td class="border"></td>
                                    <td class="border">SGST 9%</td>
                                    <td class="border"></td>
                                    <td class="border">₹</td>
                                </tr>
                                <tr>
                                    <td class="border"></td>
                                    <td class="border"></td>
                                    <td class="border"></td>
                                    <td class="border"></td>
                                    <td class="border">CGST 9%</td>
                                    <td class="border"></td>
                                    <td class="border">₹</td>
                                </tr>
                                <tr>
                                    <td class="border"></td>
                                    <td class="border"></td>
                                    <td class="border"></td>
                                    <td class="border"></td>
                                    <td class="border">Round Off</td>
                                    <td class="border"></td>
                                    <td class="border"></td>
                                </tr>
                                <tr>
                                    <td class="border"></td>
                                    <td class="border">Total</td>
                                    <td class="border"></td>
                                    <td class="border"></td>
                                    <td class="border"></td>
                                    <td class="border"></td>
                                    <td class="border">₹@firstItem.TotalAmount</td>
                                </tr>
                            </tbody>
                        </table><!--end table-->
                    </div>
                    <div class="hstack gap-2 justify-content-end d-print-none mt-4">
                        <a class="btn btn-primary" asp-action="ExportToPdf" asp-controller="PurchaseMaster" asp-route-POId="@firstItem.Id"><i class="ri-download-2-line align-bottom me-1"></i> Download </a>
                        <a class="btn btn-soft-primary" onclick="printDiv();"><i class="ri-printer-line align-bottom me-1"></i> Print</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/moduls/purchaserequestscript.js"></script>
        }
