@model AccountManagement.DBContext.Models.ViewModels.PurchaseOrder.PurchaseOrderMasterView

<link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
@{
    var firstItem = Model;
    decimal? totalAmount = 0;
    decimal? totalGst = 0;
}

<style>
    .PO-table {
        border-collapse: collapse;
        width: 100%;
    }

        .PO-table th, .PO-table td {
            border-left: 1px solid lightgray;
            border-right: 1px solid lightgray;
            padding: 0px;
        }

            .PO-table th[colspan] {
                text-align: center;
            }

        .PO-table thead th {
            border-top: 1px solid lightgray;
            border-bottom: 1px solid lightgray;
        }

        .PO-table tbody td {
            border-top: none;
            border-bottom: none;
        }

        .PO-table tbody tr:first-child td {
            border-top: none;
        }

        .PO-table tbody tr:last-child td {
            border-bottom: none;
        }

    .ProductTotalHR {
        border: 0px solid lightgray;
        border-width: 0.5px;
        margin: -3px;
        width: -1%;
    }

    .VerticalBorder {
        border-left: 2px solid lightgray;
        height: 100%;
    }

    .Address-Details {
        display: flex;
        border: 1px solid lightgray;
        height: 155px;
    }

    .col-6.no-top-border {
        border-top: none !important;
    }
</style>

<div class="row justify-content-center">
    <div class="col-xxl-9">
            <div class="row">
                <div class="d-flex">
                    <p style="margin-left: 385px; font-size:22px;"><b>Purchase Order</b></p>
                </div>
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-grow-1 col-6" style="border: 1px solid lightgray;">
                            <div class="flex-shrink-0 mt-sm-0 mt-3">
                                <span class="text-muted" style="padding-left: 5px;"><b>@firstItem.CompanyName</b></span> <br />
                                <span class="text-muted" style="padding-left: 5px; display: block;">@firstItem.BillingAddress</span>
                                <span class="text-muted text-uppercase" style="padding-left: 5px;">GSTIN/UIN: @firstItem.CompanyGstno</span> <br />
                                <span style="padding-left: 5px;">State Name: @firstItem.CompanyStateName, Code: @firstItem.CompanyStateCode</span>
                            </div>

                            <div style="border: 0px solid lightgray;border-width:0.5px;margin:0px;width:100%;"></div>
                            <div class="flex-shrink-0 mt-sm-0 mt-3">
                                <p class="text-muted" style="padding-left: 5px;"><b>Consigner :</b></p>
                                <span class="text-muted" style="padding-left: 5px;"><b>@firstItem.SupplierName</b></span><br />
                                <span class="text-muted" style="padding-left: 5px;display: block;">@firstItem.SupplierFullAddress</span>
                                <span class="text-muted text-uppercase" style="padding-left: 5px;">GSTIN/UIN :@firstItem.SupplierGstno</span><br />
                                <span class="text-muted" style="padding-left: 5px;">State Name :@firstItem.SupplierStateName, Code  :@firstItem.SupplierStateCode</span>
                            </div>
                        </div>
                        <div class="flex-grow-1 col-6" style="border: 1px solid lightgray;">
                            <div class="row" style="position: relative;">
                                <div class="col-6">
                                    <div class="flex-shrink-0 mt-sm-0 mt-3">
                                        <p class="text-muted" style="height: 15px;padding-left: 5px;">Purchase Order No.</p>
                                        <p class="text-muted text-uppercase" style="height: 5px;padding-left: 5px;"><b>@Model.Poid</b></p>
                                    </div>
                                    <div style="border: 0px solid lightgray;border-width:0.5px;margin:0px;width:106%;"></div>
                                    <div class="flex-shrink-0 mt-sm-0 mt-3">
                                        <p class="text-muted" style="padding:4px;padding-left: 5px;height: 15px;">Contact Name</p>
                                        <p class="text-muted text-uppercase" style="height: 5px;padding-left: 5px;"><b>@Model.ContactName</b></p>
                                    </div>
                                    <div style="border: 0px solid lightgray;border-width:0.5px;margin:0px;width:106%;"></div>
                                    <div class="flex-shrink-0 mt-sm-0 mt-3">
                                        <p class="text-muted" style="padding:4px;padding-left: 5px;height: 15px;">Dispatched By</p>
                                        <p class="text-muted text-uppercase" style="height: 30px;padding-left: 5px;"><b>@Model.SupplierName</b></p>
                                    </div>
                                    <div style="border: 0px solid lightgray;border-width:0.5px;margin:0px;width:105%;"></div>
                                    <div class="flex-shrink-0 mt-sm-0 mt-3">
                                        <p class="text-muted" style="padding-left: 5px;">Mode / Terms of Payment</p>
                                        <p class="text-muted text-uppercase" style="padding-left: 5px; height:88px;"><b>@firstItem.PaymentTerms</b></p>
                                    </div>
                                </div>

                                <!-- Vertical line -->
                                <div style="border-left: 2px solid lightgray; position: absolute; top: 0; bottom: 0; left: 50%;"></div>

                                <div class="col-6">
                                    <div class="flex-shrink-0 mt-sm-0 mt-3">
                                        <p class="text-muted" style="height: 15px;">Dated</p>
                                        <p class="text-muted text-uppercase" style="height: 15px;">
                                            @{
                                                string formattedDate = string.Empty;
                                                if (!Model.Date.HasValue || Model.Date.Value == DateTime.MinValue)
                                                {
                                                    formattedDate = "";
                                                }
                                                else
                                                {
                                                    formattedDate = firstItem.Date?.ToString("dd-MMM-yy");
                                                }
                                            }
                                            <b>@formattedDate</b>
                                        </p>
                                    </div>
                                    <div style="border: 0px solid lightgray;border-width:0.5px;margin:-10px;width:103%;"></div>
                                    <div class="flex-shrink-0 mt-sm-0 mt-3">
                                        <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;margin-top:10px;">Contact Number</p>
                                        <p class="text-muted text-uppercase" style="height: 15px;"><b>@firstItem.ContactNumber</b></p>
                                    </div>
                                    <div style="border: 0px solid lightgray;border-width:0.5px;margin:-10px;width:103%;"></div>
                                    <div class="flex-shrink-0 mt-sm-0 mt-3">
                                        <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;margin-top:10px;">Dispatched Through</p>
                                        <p class="text-muted text-uppercase" style="height: 40px;"><b>@Model.DispatchBy</b></p>
                                    </div>
                                    <div style="border: 0px solid lightgray;border-width:0.5px;margin:-10px;width:103%;"></div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="d-flex Address-Details">
                        <div class="flex-grow-1 col-6">
                            <p class="text-muted" style="padding-left: 5px;"><b>Consignee (Ship to):</b></p>
                            <span class="text-muted" style="padding-left: 5px;"><b>@firstItem.SiteName</b></span><br />
                            @{
                                int Index = 1;
                            }
                            @foreach (var item in Model.AddressList)
                            {
                                <span class="text-muted" style="padding-left: 5px;display: block;">@firstItem.SupplierFullAddress</span>
                                Index++;
                            }
                        </div>
                        <div class="VerticalBorder"></div>
                        <div class="flex-grow-1 col-6 no-top-border">
                            @* <p class="text-muted" style="padding-left: 5px;">Mode / Terms of Payment</p>
                            <p class="text-muted" style="padding-left: 5px;">@firstItem.PaymentTerms</p> *@
                        </div>
                    </div>
                    <table class="table text-center align-middle PO-table" style="border: 1px solid lightgray; margin: 0;">
                        <thead class="text-muted">
                            <tr class="table-active" style="border: 1px solid lightgray;">
                                <th>Sr No.</th>
                                <th>Product Details</th>
                                <th>Quantity</th>
                                <th>Rate</th>
                                <th>GST</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int index = 1;
                                decimal? totalprice = 0;
                                decimal? totalAmt = 0;
                                decimal? TotalQty = 0;
                                decimal? cgst = 0;
                                decimal? sgst = 0;
                            }

                            @foreach (var item in Model.ItemList)
                            {
                                totalprice = (item.Quantity * item.PricePerUnit);
                                totalAmt += totalprice;
                                TotalQty += item.Quantity;
                                cgst = firstItem.TotalGstamount / 2;
                                sgst = firstItem.TotalGstamount / 2;


                                <tr>
                                    <td>@index</td>
                                    <td class="text-center">
                                        <span class="fw-medium fw-semibold" id="txtproductname">@item.ItemName</span><br />
                                        <span class="fw-medium text-muted" style="font-size:12px;">@item.ItemDescription</span>
                                    </td>
                                    <td id="txtper">@item.Quantity</td>
                                    <td id="txtHSN">@item.PricePerUnit</td>
                                    <td id="txtper">@item.GstPercentage</td>
                                    <td id="txttotal">₹@($"{item.Quantity * item.PricePerUnit:F2}")</td>
                                </tr>
                                index++;
                            }
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="border-top: 1px solid lightgray;"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style="text-align: end;">CGST</td>
                                <td></td>
                                <td style="text-align: end;"></td>
                                <td style="text-align: start;"></td>
                                <td><b>₹@($"{cgst:F2}")</b></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style="text-align: end;">SGST</td>
                                <td></td>
                                <td style="text-align: end;"></td>
                                <td style="text-align: start;"></td>
                                <td><b>₹@($"{sgst:F2}")</b></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><div class="ProductTotalHR"></div></td>
                                <td><div class="ProductTotalHR"></div></td>
                                <td><div class="ProductTotalHR"></div></td>
                                <td><div class="ProductTotalHR"></div></td>
                                <td><div class="ProductTotalHR"></div></td>
                                <td><div class="ProductTotalHR"></div></td>
                            </tr>
                            
                            <tr>
                                <td></td>
                                <td class="text-end">Total</td>
                                <td>@TotalQty</td>
                                <td></td>
                                <td></td>
                                <td><b>₹@firstItem.TotalAmount</b></td>
                            </tr>
                        </tbody>
                    </table><!--end table-->
                    <div class="flex-grow-1 col-12" style="border: 1px solid lightgray; margin: 0;">
                        <span class="text-muted">Amount Chargeable (in words)<i style="margin-left: 580px;">E. &amp; O.E</i></span><br />
                        <p class="text-muted text-capitalize"><b>INR @ViewData["TotalAmountInWords"]</b></p>

                        <div class="row d-flex" style="position: relative;">
                            <div class="col-6">
                                @if (firstItem.Terms != null && firstItem.Terms != "")
                                {
                                    <span class="text-muted"><u>Terms & Conditions</u></span>
                                    <div style="border: 1px solid lightgray; padding: 10px; margin-top: 10px;">
                                        <span class="text-muted">@Html.Raw(firstItem.Terms)</span>
                                    </div>
                                }
                                else
                                {
                                    <span class="text-muted"><u></u></span>
                                    <span class="text-muted"></span>
                                }
                            </div>
                            <div class="col-6 d-flex align-items-end">
                                <div class="text-end p-1" style="border: 1px solid lightgray; height:100px; width:578px;">
                                    <p class="text-muted"><b>for @firstItem.SupplierName</b></p>
                                    <p class="text-muted" style="margin-top:45px;">Authorised Signatory</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <p style="margin-left: 400px;">This is a Computer Generated Purchase Order</p>
                </div>
            </div>
        </div>
    </div>
</div>