@model AccountManagement.DBContext.Models.ViewModels.PurchaseOrder.PurchaseOrderMasterView

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        .table {
            width: 100%;
            border-collapse: collapse;
        }

            .table th, .table td {
                border: 1px solid black;
                padding: 8px;
                font-size: 13px;
                padding: 0px;
            }

        .no-border-table {
            border-collapse: collapse;
        }

            .no-border-table th, .no-border-table td {
                border: none;
                text-align: center;
                padding: 8px;
                font-size: 13px;
            }

        .table th {
            background-color: #f2f2f2;
        }

        h5 {
            margin: 10px 0;
        }

        .container {
            max-width: 800px;
            width: 100%;
            margin: 0 auto;
            padding: 20px;
            background-color: white;
            min-height: 1000px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div>
            <div>
                <div class="my-3 border-bottom"></div>
                <div>
                    <div class="row justify-content-center">
                        <div class="col-xxl-9">
                            <div class="card">
                                <div>
                                    <div>
                                        <img src="~/assets/images/dh_latter.jpeg" />
                                        <div class="table-responsive">
                                            <table class="table no-border-table">
                                                <tbody>
                                                    <tr>
                                                        <td colspan="2" style="color: steelblue;padding-right: 310px;font-size: 12px;">Ref. No.</td>
                                                        <td colspan="2" style="color: steelblue;padding-right: 150px;font-size: 12px;">Date :</td>
                                                    </tr>
                                                    <tr style="height: 5px;">
                                                        <td colspan="5">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" style="text-align: left;padding: 0; margin: 0;font-weight: 800;">
                                                        </td>
                                                        <td colspan="4" style="text-align: right;padding: 0; margin: 0;padding-right: 10px;font-weight: 800;">
                                                            @Model.Date?.ToString("dd/MM/yyyy")  @Model.Poid
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" style="text-align: left;padding: 0; margin: 0; padding-left:5px;">
                                                            <span>To</span><br>
                                                            <span>JK Lakshmi Cement Limited</span><br>
                                                            <span>Surat</span>
                                                        </td>
                                                        <td colspan="2" style="text-align: right;padding: 0; margin: 0;padding-right: 70px;">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div style="display: flex; justify-content: center; align-items: center;padding-bottom: 20px;font-size: 13px;">
                                                <p style="margin: 0;">Purchase Order</p>
                                            </div>
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td style="text-align: center; width: 60px; height: 20px; vertical-align: bottom; position: relative;">
                                                            <b style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);">1</b>
                                                        </td>
                                                        <td style="text-align: left;padding-left: 5px;font-size: 14px;width: 190px;">Qty & Grade</td>
                                                        <td style="text-align: center;font-weight: 800;">@Model.ItemList.FirstOrDefault()?.Quantity MT</td>
                                                        <td style="text-align: center;padding-left: 5px;" colspan="2">@Model.ItemList.FirstOrDefault()?.ItemName</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; width: 60px; height: 20px; vertical-align: bottom; position: relative;">
                                                            <b style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);">2</b>
                                                        </td>
                                                        <td style="text-align: center; width: 137px; height: 20px; vertical-align: top; font-size: 15px; position: relative;">
                                                            <b style="position: absolute; top: 0; left: 50%; transform: translateX(-50%); font-weight: 800; width: 190px;">Price</b>
                                                        </td>
                                                        <td style="text-align: center; height: 20px; vertical-align: top; font-size: 11px; position: relative;">
                                                            <b style="position: absolute; top: 0; left: 50%; transform: translateX(-50%); font-weight: 800;width: 138px;">Basic Price</b>
                                                        </td>
                                                        <td style="text-align: center; vertical-align: bottom; height: 30px; font-weight: 800; font-size: 11px; width: 80px;">GST &#64; @Model.ItemList.FirstOrDefault()?.GstPercentage%</td>
                                                        <td style="text-align: center; vertical-align: bottom; height: 30px; font-weight: 800; font-size: 11px; width: 200px;">Billing Price</td>
                                                    </tr>
                                                    @foreach (var item in Model.ItemList)
                                                    {
                                                        var quantity = @Model.ItemList.FirstOrDefault()?.Quantity ?? 1;
                                                        var singleGstAmount = (decimal?)(@item.Gstamount / quantity) ?? 0m;
                                                        var singleTotalAmount = (decimal?)(@item.TotalAmount / quantity) ?? 0m;

                                                        <tr>
                                                            <td style="text-align: center;width: 70px;border-bottom: none;"></td>
                                                            <td style="text-align: left;padding: 5px;">
                                                                Per MT
                                                            </td>
                                                            <td style="text-align: center;font-size: 15px;">
                                                                @item.PricePerUnit
                                                            </td>
                                                            <td style="text-align: center;font-size: 15px;">
                                                                @singleGstAmount.ToString("F2")
                                                            </td>
                                                            <td style="text-align: center;font-size: 15px;">
                                                                <b>@singleTotalAmount.ToString("F2")</b>
                                                            </td>
                                                        </tr>

                                                    }


                                                    <tr style="height: 25px;">
                                                        <td style="text-align: center;width: 60px;border-bottom: none;"></td>
                                                        <td style="text-align: left;padding: 5px;font-size: 13px;width: 190px;"></td>
                                                        <td style="text-align: center;font-size: 15px;"></td>
                                                        <td style="text-align: center;font-size: 15px;"></td>
                                                        <td style="text-align: center;font-size: 15px;"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; width: 60px; height: 20px; vertical-align: bottom; position: relative;border-top: none;">
                                                            <b style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);"></b>
                                                        </td>
                                                        <td colspan="4" style="text-align: center;width: 70px;padding-right: 10px;font-weight: 800;height: 30px;font-size: 13px;">
                                                            The agreed price is Basic Price + @Model.ItemList.FirstOrDefault()?.GstPercentage% GST as applicable
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; width: 60px; height: 20px; vertical-align: bottom; position: relative;">
                                                            <b style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);">3</b>
                                                        </td>
                                                        <td style="padding-left: 5px;font-size: 14px;width: 190px;">GST NO.</td>
                                                        <td colspan="3" style="padding-left: 5px;">24AABFD8160H1ZN</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; width: 60px; height: 20px; vertical-align: bottom; position: relative;">
                                                            <b style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);">4</b>
                                                        </td>
                                                        <td style="padding-left: 5px;font-size: 14px;width: 190px;">PAN NO.</td>
                                                        <td colspan="3" style="padding-left: 5px;">AABFD8160H</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; width: 60px; height: 20px; vertical-align: bottom; position: relative;">
                                                            <b style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);">5</b>
                                                        </td>
                                                        <td style="padding-left: 5px;font-size: 14px;width: 190px;">Unloading Charges</td>
                                                        <td colspan="3" style="padding-left: 5px;">By Company</td>
                                                    </tr>
                                                    <tr style="height: 55px;">
                                                        <td style="text-align: center; width: 60px; height: 20px; vertical-align: bottom; position: relative;">
                                                            <b style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);">6</b>
                                                        </td>
                                                        <td style="padding-left: 5px;font-size: 14px;width: 190px;">Billing Address</td>
                                                        <td colspan="3" style="padding-left: 5px;">
                                                            @Model.CompanyName<br>
                                                            @Model.BillingAddress
                                                        </td>
                                                    </tr>
                                                    <tr style="height: 55px;">
                                                        <td style="text-align: center; width: 60px; height: 20px; vertical-align: bottom; position: relative;">
                                                            <b style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);">7</b>
                                                        </td>
                                                        <td style="padding-left: 5px;font-size: 14px;width: 190px;">Site Address</td>
                                                        <td colspan="3" style="text-align: right; padding: 5px; padding-right: 20px;">
                                                            @{
                                                                int Index = 1;
                                                            }

                                                            <div style="display: inline;">
                                                                <span>@Index.</span>
                                                                <span class="text-muted" style="padding-left: 5px;">@Model.GroupAddress</span>
                                                            </div>


                                                        </td>
                                                    </tr>
                                                    <tr style="height: 20px;">
                                                        <td style="text-align: center; width: 60px; height: 20px; vertical-align: bottom; position: relative;">
                                                            <b style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);">8</b>
                                                        </td>
                                                        <td style="padding-left: 5px;font-size: 14px;width: 190px;">Contact Person Name & No</td>
                                                        <td colspan="3" style="padding-left: 5px;">@Model.ContactName  Mo. @Model.ContactNumber</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; width: 60px; height: 20px; vertical-align: bottom; position: relative;">
                                                            <b style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);">9</b>
                                                        </td>
                                                        <td style="padding-left: 5px;font-size: 14px;width: 190px;">Email ID</td>
                                                        <td style="padding-left: 5px;" colspan="3">dhpatelinfrasurat@gmail.com</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <img src="~/assets/images/dh_stamp.jpeg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>