@model AccountManagement.DBContext.Models.ViewModels.PurchaseOrder.PurchaseOrderMasterView

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        .table {
            width: 100%;
            border-collapse: collapse;
        }

            .table th, .table td {
                border: 1px solid black;
                padding: 8px;
                font-size: 12px;
                padding: 0px;
            }

        .no-border-table {
            border-collapse: collapse;
        }

            .no-border-table th, .no-border-table td {
                border: none;
                text-align: center;
                padding: 8px;
                font-size: 13px;
            }

        .table th {
            background-color: #f2f2f2;
        }

        h5 {
            margin: 10px 0;
        }

        .container {
            max-width: 800px;
            width: 100%;
            margin: 0 auto;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: white;
            min-height: 1000px;
        }

        .page-container {
            max-width: 700px;
            width: 100%;
            margin: 0 auto;
            padding: 20px;
            background-color: white;
            min-height: 1000px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="page-container">
            <div>
                <div class="my-3 border-bottom"></div>
                <div>
                    <div class="row justify-content-center">
                        <div class="col-xxl-9">
                            <div class="card">
                                <div>
                                    <div>
                                        <div class="table-responsive">
                                            <table class="table no-border-table">
                                                <tbody>
                                                    <tr>
                                                        <td colspan="2" style="color: steelblue;padding-right: 310px;">Ref. No.</td>
                                                        <td colspan="2" style="color: steelblue;padding-right: 150px;">Date :</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" style="text-align: left;padding: 0; margin: 0;font-weight: 800;">
                                                            <span>To</span><br>
                                                            <span>UltraTech Cement Limited</span><br>
                                                            <span>Surat</span>
                                                        </td>
                                                        <td colspan="2" style="text-align: right;padding: 0; margin: 0;padding-right: 70px;font-weight: 800;">
                                                            @Model.Date?.ToString("dd/MM/yyyy")
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" style="text-align: left; padding: 0; margin: 0;font-weight: 800;">
                                                            <span>Sub:&nbsp;&nbsp;&nbsp;&nbsp;Purchase Order</span>
                                                        </td>
                                                        <td colspan="2" style="text-align: right; padding: 0; margin: 0;padding-right: 100px;font-weight: 800;">
                                                            <span>PO No: @Model.Poid</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td style="text-align: center; width: 70px; height: 20px; vertical-align: bottom; position: relative;">
                                                            <b style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);">1</b>
                                                        </td>
                                                        <td style="text-align: left;padding-left: 5px;font-size: 13px;">Qty & Grade</td>
                                                        <td style="text-align: center;font-weight: 800;">50 MT</td>
                                                        <td style="text-align: left;padding-left: 5px;" colspan="2"><span style="font-weight: 700;font-size: 11px;">OPC 53 Grade </span><span style="font-weight: 800;">(BAG)</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; width: 70px; height: 20px; vertical-align: bottom; position: relative;">
                                                            <b style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);">2</b>
                                                        </td>
                                                        <td style="text-align: center;font-weight: 800;">Price</td>
                                                        <td style="text-align: center;font-weight: 800;">Basic Price</td>
                                                        <td style="text-align: center; vertical-align: bottom; height: 30px;font-weight: 800;width: 111px;font-size: 11px;">GST &#64; @Model.ItemList.FirstOrDefault()?.GstPercentage%</td>
                                                        <td style="text-align: center; vertical-align: bottom; height: 30px;font-weight: 800;font-size: 11px;">Billing Price</td>
                                                    </tr>
                                                    @foreach (var item in Model.ItemList)
                                                    {
                                                        <tr>
                                                            <td style="text-align: center;width: 70px;border-bottom: none;"></td>
                                                            <td style="text-align: left;padding: 5px;">Per Bag</td>
                                                            <td style="text-align: center;font-size: 15px;">@item.PricePerUnit</td>
                                                            <td style="text-align: center;font-size: 15px;">@item.Gstamount</td>
                                                            <td style="text-align: center;font-size: 15px;"><b>@item.TotalAmount</b></td>
                                                        </tr>
                                                    }
                                                    <tr>
                                                        <td colspan="5" style="text-align: right;width: 70px;padding-right: 10px;font-weight: 800;height: 30px;font-size: 13px;border-right: none;">
                                                            The agreed price is Basic Price + @Model.ItemList.FirstOrDefault()?.GstPercentage% GST as applicable
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; width: 70px; height: 20px; vertical-align: bottom; position: relative;">
                                                            <b style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);">3</b>
                                                        </td>
                                                        <td style="padding-left: 5px;font-size: 13px;">GST NO.</td>
                                                        <td colspan="3" style="padding-left: 5px;">24AABFD8160H1ZN</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; width: 70px; height: 20px; vertical-align: bottom; position: relative;">
                                                            <b style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);">4</b>
                                                        </td>
                                                        <td style="padding-left: 5px;font-size: 13px;">PAN NO.</td>
                                                        <td colspan="3" style="padding-left: 5px;">AABFD8160H</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; width: 70px; height: 20px; vertical-align: bottom; position: relative;">
                                                            <b style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);">5</b>
                                                        </td>
                                                        <td style="padding-left: 5px;font-size: 13px;">Payment Terms</td>
                                                        <td colspan="3" style="padding-left: 5px;">CREDIT</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; width: 70px; height: 20px; vertical-align: bottom; position: relative;">
                                                            <b style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);">6</b>
                                                        </td>
                                                        <td style="padding-left: 5px;font-size: 13px;">Unloading Charges</td>
                                                        <td colspan="3" style="padding-left: 5px;">By Company</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; width: 70px; height: 20px; vertical-align: bottom; position: relative;">
                                                            <b style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);">7</b>
                                                        </td>
                                                        <td style="padding-left: 5px;font-size: 13px;">Validity</td>
                                                        <td colspan="3" style="padding-left: 5px;">Month End</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; width: 70px; height: 20px; vertical-align: bottom; position: relative;">
                                                            <b style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);">8</b>
                                                        </td>
                                                        <td style="padding-left: 5px;font-size: 13px;">Billing Address</td>
                                                        <td colspan="3" style="padding-left: 5px;">
                                                            @Model.CompanyName<br>
                                                            @Model.BillingAddress
                                                        </td>
                                                    </tr>
                                                    <tr style="height: 55px;">
                                                        <td style="text-align: center;width: 70px"><b>9</b></td>
                                                        <td style="padding-left: 5px;text-align: center;font-size: 13px;font-weight: 800;">Site Address</td>
                                                        <td colspan="3" style="padding-left: 5px;text-align: center;">
                                                            @{
                                                                int Index = 1;
                                                            }

                                                            <div style="display: inline;">
                                                                <span>@Index.</span>
                                                                <span class="text-muted" style="padding-left: 5px;">@Model.GroupAddress</span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr style="height: 20px;">
                                                        <td></td>
                                                        <td style="padding-left: 5px;font-size: 13px;">Contact Person Name & No</td>
                                                        <td colspan="3" style="padding-left: 5px;font-weight: 800;">@Model.ContactName  Mo. @Model.ContactNumber</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center;width: 70px"><b>10</b></td>
                                                        <td colspan="4">
                                                            <div style="padding: 5px;">
                                                                The above mentioned quantity lifted will be utilised for the consumption at the mention site only for our own project as mention in purchased order.
                                                                The above quantity is not mean for resale/retail. We hereby declaered that GST Number stated in this PO is correct and final, and in future,
                                                                if there is any change in the above GST then any responsibitly towards credit input will be at our account.
                                                            </div>
                                                            <div style="border-top: 1px solid black;font-size: 13px;padding: 5px;font-size: 12px;">
                                                                The above PO is valid till the validity or the quantity whichever is later.
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; width: 70px; height: 20px; vertical-align: bottom; position: relative;">
                                                            <b style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);">11</b>
                                                        </td>
                                                        <td style="padding-left: 5px;font-size: 13px;">Delivery Schedule</td>
                                                        <td colspan="3" style="padding-left: 5px;">@Model.DeliveryShedule</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; width: 70px; height: 20px; vertical-align: bottom; position: relative;">
                                                            <b style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);">12</b>
                                                        </td>
                                                        <td style="padding-left: 5px;font-size: 13px;">End Use of Cement</td>
                                                        <td colspan="3" style="padding-left: 5px;">Construction of Project</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; width: 70px; height: 20px; vertical-align: bottom; position: relative;">
                                                            <b style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);">13</b>
                                                        </td>
                                                        <td style="padding-left: 5px;font-size: 13px;">Category</td>
                                                        <td colspan="3" style="padding-left: 5px;">Contractor</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; width: 70px; height: 20px; vertical-align: bottom; position: relative;">
                                                            <b style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);">14</b>
                                                        </td>
                                                        <td style="padding-left: 5px;font-size: 13px;">Email ID</td>
                                                        <td style="padding-left: 5px;" colspan="3">dhpatelinfrasurat@gmail.com</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; width: 70px; height: 20px; vertical-align: bottom; position: relative;">
                                                            <b style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);">15</b>
                                                        </td>
                                                        <td style="padding-left: 5px;font-size: 13px;">TPC Name</td>
                                                        <td colspan="3" style="padding-left: 5px;">SHIVAM ENTERPRISE - 6312555055</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div>
                                                <p style="padding-left: 17px;font-size: 11px;font-weight: 800;">
                                                    <u>
                                                        TCS will be collected, if applicable, as per Income Tax Act 1956, Section 206C(1H). Please note the price
                                                        as quoted above is exclusive of such TCS.
                                                    </u>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


