@using AccountManegments.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@{
    ViewData["Title"] = "Purchase Request";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<!-- CSS -->
@* <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" /> *@
<style>
    .fixed-button {
        position: fixed;
        top: 90px;
        right: 20px;
        z-index: 1000;
    }

    #searchItemname-error, #txtUnitType-error, #txtQuantity-error {
        color: red;
    }

    label.failed {
        color: red;
    }
</style>
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="d-flex align-items-center">
        <form class="ms-auto position-relative">
            @if (UserSession.FormPermisionData.Any(a => a.FormName == "Purchase Request" && (a.Add == true)))
            {
                <button type="button" class="btn btn-primary fixed-button" onclick="ClearPurchaseRequestTextBox()"><i class="lni lni-circle-plus"></i>Purchase Request</button>
            }
        </form>
    </div>
</div>
<div class="">
    <div class="">
        <div class=" radius-10 w-100">
            <div class="my-3 border-bottom"></div>
            <div class="">
                <div class="row">
                    <div class="col-12 col-lg-7 col-md-7 col-xl-7">
                        <div class="card radius-10 w-100">
                            <div class="card-body">


                                <div class="row w-100 ac-view-list card radius-10 w-100">

                                    <div class="row ">
                                        <div class="col-12">
                                            <div class="card-body">
                                                <div class="row g-3">

                                                    <div class="col-12 col-lg-4">
                                                        <input class="form-control" id="txtPurchaseRequestSearch" onkeyup="filterPurchaseRequestTable()" placeholder="Search" />
                                                    </div>
                                                    <div class="col-12 col-lg-4">
                                                        <select class="form-select" id="PurchaseRequestSearchBy" onchange="filterPurchaseRequestTable()">
                                                            <option selected="selected">All</option>
                                                            <option>ItemName</option>
                                                            <option>UnitName</option>
                                                        </select>
                                                        <input type="hidden" id="textsiteId" value="@UserSession.SiteId" />
                                                    </div>

                                                    <div class="col-12 col-lg-4">
                                                        <select class="form-select" id="PurchaseRequestSortBy" onchange="sortPurchaseRequestTable()">
                                                            <option value="DescendingCreatedOn" selected="selected">Most Recent</option>
                                                            <option value="AscendingCreatedOn">First Created</option>
                                                            <option value="AscendingItem">ItemName(A-Z)</option>
                                                            <option value="DescendingItem">ItemName(Z-A)</option>
                                                        </select>
                                                    </div>
                                                </div><!--end row-->

                                            </div>

                                        </div>

                                    </div>


                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table align-middle mb-0">
                                                <thead class="table-light btn-primary">
                                                    <tr>
                                                        <th>Item Name</th>
                                                        <th>Unit</th>
                                                        <th>Quantity</th>
                                                        <th>Status</th>
                                                        @if(UserSession.SiteId=="")
                                                        {
                                                            <th>SiteName</th>
                                                        }
                                                        @if (UserSession.FormPermisionData.Any(a => a.FormName == "Purchase Request" && (a.Edit == true || a.Delete == true)))
                                                        {
                                                            <th>Action</th>
                                                        }
                                                    </tr>
                                                </thead>
                                                <tbody id="purchaseRequesttbody">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                        <!--end row-->


                    </div>
                    <div class="col-12 col-lg-5 col-xl-5 ac-detail hide-sm">
                        <div class="card radius-10">
                            <div class="card-body" style="height:658px;">
                                <h5 class="mb-0 mt-4">Purchase Request Details</h5>
                                <hr>
                                <div class="row g-3 ac-detail d-none">
                                    <div class="col-12">
                                        <label class="form-label">Purchase Request No</label>
                                        <input type="text" class="form-control" id="dspPrNo" readonly>
                                    </div>
                                    <div class="col-12">
                                        <label class="form-label">Item Name</label>
                                        <input type="text" class="form-control" id="dspItem" readonly>
                                        <input type="hidden" class="form-control" id="dspPId" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Unit Name</label>
                                        <input type="text" class="form-control" id="dspUnitName" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Quantity</label>
                                        <input type="text" class="form-control" id="dspQuantity" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">SiteName</label>
                                        <input type="text" class="form-control" id="dspSiteName" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">IsApproved</label>
                                        <div class="form-check form-switch mb-3">
                                            <input class="form-check-input font-22" id="dspIsApproved" type="checkbox" style="margin-left:-35px;" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @* </form> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-end border-0 w-25 ac-add-edit" id="CreatePurchaseRequest">
        <div class="d-flex align-items-center bg-primary bg-gradient p-3 offcanvas-header">
            <h5 class="m-0 me-2 text-white">Purchase Request</h5>

            <button type="button" class="btn-close btn-close-white ms-auto" id="customizerclose-btn" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-0">
            <div data-simplebar class="h-100">
                <div class="p-4">
                    <div class="card">
                        <div class="card-body">
                            <form class="row g-3" id="purchaseRequestForm">
                                <div class="col-12">
                                    <label class="form-label">Purchase Request No</label>
                                    <input type="text" class="form-control form-control" id="prNo" value="@ViewData["PrNo"].ToString()" readonly />
                                    <input type="hidden" class="form-control form-control" id="PurchaseRequestId" readonly />
                                    <input type="hidden" class="form-control form-control" id="txtcreatedby" value="@_userSession.UserId" readonly />
                                    <input type="hidden" id="RoleIdinPR" value="@_userSession.UserRole">
                                    <input type="hidden" id="SiteIdinPR" value="@UserSession.SiteId" />
                                </div>
                                <div class="col-12">
                                    <label class="form-label">Product Names</label>
                                    <select id="searchItemname" name="searchItemname" class="single-select form-select">
                                        <option selected value="">--Select Item--</option>
                                    </select>
                                    <input type="hidden" id="txtItemName" name="txtItemName">
                                </div>

                                <div class="col-6">
                                    <label class="form-label">Unit Type</label>
                                    <select class="form-select" id="txtUnitType" name="txtUnitType">
                                        <option selected disabled value="">--Select Unit Type--</option>
                                    </select>
                                    <span id="spnUnitType" class="text-danger"></span>
                                </div>
                                <div class="col-6">
                                    <label class="form-label">Quantity</label>
                                    <input type="number" class="form-control form-control" placeholder="Quantity" id="txtQuantity" name="txtQuantity" value="1" min="1" oninput="preventEmptyValue(this)">
                                    <span id="spnQuantity" class="text-danger"></span>
                                </div>
                                @if (_userSession.UserRole == 3)
                                {
                                    <div class="col-12" id="siteDetails">
                                        <label class="form-label">Site</label>
                                        <select class="form-select" id="txtPoSiteName" name="txtPoSiteName">
                                        </select>
                                        <span id="spnSiteName" class="text-danger"></span>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-12" id="siteDetails">
                                        <label class="form-label">Site</label>
                                        <select class="form-select" id="txtPoSiteName" name="txtPoSiteName">
                                            <option selected value="@UserSession.SiteId">@UserSession.SiteName</option>
                                        </select>
                                        <span id="spnSiteName" class="text-danger"></span>
                                    </div>
                                }


                                <div class="col-12">
                                    <button type="button" class="btn btn-lg btn-success col-lg-12" onclick="validateAndCreatePurchaseRequest()" id="btnpurchaseRequest"></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

@section Scripts {

    <script src="~/moduls/purchaserequestscript.js" asp-append-version="true"></script>
}
