@model List<AccountManagement.DBContext.Models.ViewModels.ItemMaster.POItemDetailsModel>
@* <style>
    div.item-name {
        width: 20px;
        word-wrap: break-word;
    }
</style> *@

@foreach (var item in Model)
{
    <tr id="templateRow_@Convert.ToInt64(item.RowNumber + 1)" class="product" data-product-id="@item.ItemId" onclick="updateProductTotalAmount(this)">
        <td scope="row" class="product-id text-start">@Convert.ToInt64(item.RowNumber + 1)</td>
        <td class="text-start" style="width:230px">
            <p>@item.ItemName</p>
        </td>
        <td class="text-center">
            <input type="hidden" class="form-control" id="txtItemId" readonly value="@item.ItemId" />
            <input type="hidden" class="form-control" id="UnitTypeId" readonly value="@item.UnitType" />
            <input type="text" class="form-control bg-light" id="txtHSNcode" value="@item.Hsncode" readonly style="width: 75px;" />
        </td>
        <td class="text-start">
            <div class="">
                @if (item.Quantity == 0)
                {
                    <input type="number" class="product-quantity form-control" id="txtproductquantity" value="" min="1" oninput="preventEmptyValue(this)" style="width:80px;">
                }
                else
                {
                    <input type="number" class="product-quantity form-control" id="txtproductquantity" value="@item.Quantity" min="1" oninput="preventEmptyValue(this)" style="width:80px;">
                }
            </div>
        </td>
        <td class="text-start">
            <div class="">
                <input type="hidden" id="txtunittype_@item.ItemId" value="@item.UnitType" />
                <select class="form-control" id="txtPOUnitType_@item.ItemId" style="width: 100px;" onclick="UnitTypeDropdown('@item.ItemId')">
                    <option value="@item.UnitType">@item.UnitTypeName</option>
                </select>
            </div>
        </td>
        <td class="text-start">
            <input type="text" class="form-control" id="txtproductamount" value="@item.PricePerUnit" oninput="preventEmptyValue(this)" style="width:100px;" />
            <input type="hidden" class="form-control" id="productamount" value="@item.PricePerUnit" />
        </td>
        <td class="text-start">
            @if (item.DiscountAmount != null)
            {
                <input type="text" class="product-discountamount form-control" id="txtdiscountamount" value="@item.DiscountAmount" style="width:100px;" />
            }
            else
            {
                <input type="text" class="form-control" id="txtdiscountamount" value="0" style="width:100px;" />
            }
        </td>
        <td class="text-start">
            @if (item.DiscountPer != null)
            {
                <input type="text" class="product-discountpercentage form-control" id="txtdiscountpercentage" value="@item.DiscountPer" style="width:100px;" />
            }
            else
            {
                <input type="text" class="form-control " id="txtdiscountpercentage" value="0" style="width:100px;" />
            }
        </td>
        <td class="text-start">
            <input type="text" class="product-Gstper form-control" id="txtgst" value="@item.GstPercentage" oninput="preventEmptyValue(this)" style="width:100px;" />
        </td>
        <td>
            <input type="number" class="product-Gstamount form-control bg-light" id="txtgstAmount" value="@item.Gstamount" readonly style="width:130px;" />
        </td>
        <td class="text-start">
            <input type="text" class="product-producttotalamount form-control bg-light" id="txtproducttotalamount" value="@item.TotalAmount" readonly style="width:130px;" />
        </td>
        <td class="product-removal">
            <a class="btn text-primary remove-btn" onclick="removeItem(this)"><i class="lni lni-trash"></i></a>
        </td>
    </tr>
}


@section Scripts {
    <script src="~/moduls/invoicemasterscript.js" asp-append-version="true"></script>
}
