@model List<AccountManagement.DBContext.Models.ViewModels.InvoiceMaster.SupplierInvoiceModel>


@foreach (var item in Model)
{
    if (item.InvoiceNo == "PayOut")
    {
        <tr style="height:30px;">
            <td class="border-1">@item.InvoiceNo</td>
            <td class="border-1">@item.Date?.ToString("MM-dd-yyyy")</td>
            <td class="text-danger"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-up text-danger"><polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline><polyline points="17 6 23 6 23 12"></polyline></svg> @item.TotalAmount</td>
            <td class="border-1"></td>
        </tr>
    }
    else
    {
        <tr style="height:30px;">
            <td>@item.InvoiceNo</td>
            <td>@item.Date?.ToString("MM-dd-yyyy")</td>
            <td></td>
            <td class="text-success"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-down text-success"><polyline points="23 18 13.5 8.5 8.5 13.5 1 6"></polyline><polyline points="17 18 23 18 23 12"></polyline></svg> @item.TotalAmount</td>
        </tr>
    }
}

