@model AccountManagement.DBContext.Models.ViewModels.InvoiceMaster.InvoiceTotalAmount


@foreach (var item in Model.InvoiceList)
{
    <tr>
        <td class="form_name">@item.SupplierName</td>
        <td class="form_name" id="txtvendorid">@item.CompanyName</td>
        <td class="form_name" id="txtinvoicetype">@item.InvoiceNo</td>
        <td class="form_name" id="txtinvoiceno">@item.TotalGstamount</td>
        <td class="form_name" id="txtdate">@item.TotalAmount</td>
    </tr>
}

<script>
    var TotalPending = '@Model.TotalPending';
    var TotalCreadit = '@Model.TotalCreadit';
    var TotalOutstanding = '@Model.TotalOutstanding';
    var TotalPurchase = '@Model.TotalPurchase';
</script>
