@model IEnumerable<AccountManagement.DBContext.Models.ViewModels.InvoiceMaster.SupplierInvoiceModel>
@{
    decimal? TotalAmount = 0;

}
@foreach (var item in Model)
{
    TotalAmount += item.TotalAmount;
}

@foreach (var item in Model)
{
    <tr>
        <td class="form_name">@item.FromSupplierName</td>
        <td class="form_name" id="txtvendorid">@item.ToCompanyName</td>
        <td class="form_name" id="txtinvoicetype">@item.InvoiceNo</td>
        <td class="form_name" id="txtinvoiceno">@item.PaymentStatus</td>
        <td class="form_name" id="txtinvoiceno">@item.IsPayOut</td>
        <td class="form_name" id="txtinvoiceno">@item.TotalGstamount</td>
        <td class="form_name" id="txtdate">@item.TotalAmount</td>
    </tr>
}

<script>
    var TotalAmount = '@TotalAmount';
</script>