@model IEnumerable<AccountManagement.DBContext.Models.ViewModels.InvoiceMaster.SupplierInvoiceModel>
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@foreach (var item in Model)
{
    <tr id="userCard_@item.Id" class="" onclick="DisplayItemDetails('@item.Id', this)">
        <td><a class="text-primary" href="/InvoiceMaster/DisplayInvoiceDetails?Id=@item.Id"><h6 class="product-name mb-2">@item.InvoiceNo</h6></a></td>
        <td>@(item.Date.HasValue ? item.Date.Value.ToString("dd/MM/yyyy") : string.Empty)</td>
        <td>@item.SiteName</td>
        <td>@item.SupplierName</td>
        <td>@item.CompanyName</td>
        <td>@item.TotalAmount</td>
        @if (UserSession.FormPermisionData.Any(a => a.FormName == "Purchase  Invoice" && (a.Edit == true || a.Delete == true)))
        {
            <td>
                @if (UserSession.FormPermisionData.Any(a => a.FormName == "Purchase  Invoice" && (a.Edit == true)))
                {
                    <a class="btn text-primary" href="EditInvoiceDetails?Id=@item.Id" title="Edit" aria-label="Edit"><i class="fadeIn animated bx bx-edit"></i></a>
                }
                @if (UserSession.FormPermisionData.Any(a => a.FormName == "Purchase  Invoice" && (a.Delete == true)))
                {
                    <a href="javascript:;" class="btn text-primary" onclick="DeleteSupplierInvoice('@item.Id')" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete" aria-label="Delete"><i class="lni lni-trash"></i></a>
                }

            </td>
        }
    </tr>
}
