@model AccountManagement.DBContext.Models.ViewModels.InvoiceMaster.SupplierInvoiceMasterView
@using AccountManegments.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@{
    ViewData["Title"] = "Create Invoice";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<style>
    #paymentStatus-error, #textSupplierName-error, #textCompanyName-error, #txtgst-error, #textSupplierMobile-error, #textmdAddress-error {
        color: red;
    }

    label.error {
        color: red;
    }

    .disabled {
        opacity: 0.5;
        pointer-events: none;
    }
</style>

<div class="">
    <div class="">
        <div class="radius-10 w-100">
            <div class="my-3 border-bottom"></div>
            <div class="">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="" id="invoiceSupplierList">
                            <form id="CreateInvoiceForm">
                                <div class="">
                                    <div>
                                        <div class="row justify-content-center">
                                            <div class="col-xxl-12">
                                                <div class="">
                                                    <div class="border-bottom border-bottom-dashed">
                                                        <div class="row">
                                                            <div class="col-6 col-lg-6">
                                                                <div class="card">
                                                                    <div class="card-header">
                                                                        <div class="row align-items-center">
                                                                            <div class="col">
                                                                                <h6 class="mb-0">Supplier Details</h6>
                                                                            </div>
                                                                            <div class="col" style="padding-left: 400px;">
                                                                                @if (Model.InvoiceType != null)
                                                                                {
                                                                                    <select class="form-control form-select valid" id="ddlinvoicetype" name="ddlinvoicetype">
                                                                                        <option value="@Model.InvoiceType" selected>@Model.InvoiceType</option>
                                                                                        @if (@Model.InvoiceType == "Purchase")
                                                                                        {
                                                                                            <option value="Purchase Return">Purchase Return</option>
                                                                                            <option value="Credit Note">Credit Note</option>
                                                                                        }
                                                                                        @if (@Model.InvoiceType == "Purchase Return")
                                                                                        {
                                                                                            <option value="Purchase">Purchase</option>
                                                                                            <option value="Credit Note">Credit Note</option>
                                                                                        }
                                                                                        @if (@Model.InvoiceType == "Credit Note")
                                                                                        {
                                                                                            <option value="Purchase">Purchase</option>
                                                                                            <option value="Purchase Return">Purchase Return</option>
                                                                                        }
                                                                                    </select>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <select class="form-control form-select valid" id="ddlinvoicetype" name="ddlinvoicetype">
                                                                                        <option value="Purchase" selected>Purchase</option>
                                                                                        <option value="Purchase Return">Purchase Return</option>
                                                                                        <option value="Credit Note">Credit Note</option>
                                                                                    </select>
                                                                                }
                                                                                <input type="hidden" id="txtinvoicetype" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="card-body">
                                                                        <div class="row">
                                                                            <div class="col-6 col-lg-6">
                                                                                <label for="textSupplierName" class="form-label">Supplier Name</label>
                                                                                @if (Model.SupplierName != null)
                                                                                {
                                                                                    <select class="form-select" id="textSupplierName" name="textSupplierName">
                                                                                        <option selected value="@Model.SupplierId">@Model.SupplierName</option>
                                                                                    </select>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <select class="form-select" id="textSupplierName" name="textSupplierName">
                                                                                        <option selected disabled value="">Select Supplier</option>
                                                                                    </select>
                                                                                }
                                                                                <label id="textSupplierName-error" class="error" for="textSupplierName"></label>
                                                                                <span id="spnsuppliername" class="text-danger"></span>
                                                                            </div>
                                                                            <div class="col-6 col-lg-6">
                                                                                <label for="textSupplierMobile" class="form-label">Mobile No</label>
                                                                                <input type="text" id="textSupplierMobile" name="textSupplierMobile" value="@Model.SupplierMobileNo" class="form-control" placeholder="Mobile No" readonly />
                                                                                <span id="spnSupplierMobile" class="text-danger"></span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row mt-3">
                                                                            <div class="col-6 col-lg-6">
                                                                                <label for="textSupplierAddress" class="form-label">Address</label>
                                                                                <input type="text" id="textSupplierAddress" name="textSupplierAddress" value="@Model.SupplierFullAddress" class="form-control" placeholder="Address" readonly />
                                                                                <span id="spnSupplierAddress" class="text-danger"></span>
                                                                            </div>
                                                                            <div class="col-6 col-lg-6">
                                                                                <label for="textSupplierGST" class="form-label">GST NO</label>
                                                                                <input type="text" id="textSupplierGST" value="@Model.SupplierGstNo" class="form-control" placeholder="GST No" readonly />
                                                                                <span id="spnSupplierGST" class="text-danger"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-6 col-lg-6">
                                                                <div class="card">
                                                                    <div class="card-header">
                                                                        <div class="row align-items-center">
                                                                            <div class="col">
                                                                                <h6 class="mb-0">Invoice Details</h6>
                                                                            </div>
                                                                            <input type="hidden" value="@Model.Poid" id="txtInvoicePOID" />
                                                                            <div class="col">
                                                                                <input type="text" class="form-control" id="textInvoicePrefix" value="@Model.InvoiceNo" readonly />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="card-body">
                                                                        <div class="row">
                                                                            <div class="col-md-4">
                                                                                <div>
                                                                                    <label for="textCompanyName" class="form-label">Company Name</label>
                                                                                </div>
                                                                                <div class="ms-auto">
                                                                                    @if (Model.CompanyName != null)
                                                                                    {
                                                                                        <select class="form-select" id="textCompanyName" name="textCompanyName">
                                                                                            <option selected value="@Model.CompanyId">@Model.CompanyName</option>
                                                                                        </select>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <select class="form-select" id="textCompanyName" name="textCompanyName">
                                                                                            <option selected disabled value="">Select Company</option>
                                                                                        </select>
                                                                                    }
                                                                                    <label id="textCompanyName-error" class="error" for="textCompanyName"></label>
                                                                                    <span id="spnCompanyName" class="text-danger"></span>
                                                                                    <input type="hidden" class="form-control" id="createdbyid" value="@_userSession.UserId">
                                                                                    <input type="hidden" class="form-control" id="textSupplierInvoiceId" value="@Model.Id">
                                                                                    <input type="hidden" class="form-control" id="textCreatedOn" value="@Model.CreatedOn">
                                                                                    <input type="hidden" class="form-control" id="UserRoleinInvoice" value="@_userSession.UserRole">
                                                                                    <input type="hidden" id="txtsessionSiteName" value="@UserSession.SiteId" />
                                                                                    <input type="hidden" id="txtModelSiteId" value="@Model.SiteId" />
                                                                                    <input type="hidden" id="txtInvoiceIsApproved" value="@Model.IsApproved.ToString()" />

                                                                                </div>
                                                                            </div>
                                                                            <div class="col-5 col-lg-5">
                                                                                <label for="SupplierInvoiceNo" class="form-label">Supplier Invoice No</label>
                                                                                <input type="text" id="textSupplierInvoiceNo" value="@Model.SupplierInvoiceNo" class="form-control" name="textSupplierInvoiceNo" placeholder="Supplier Invoice No" />
                                                                                <span id="InvoicenoErrorMesssage"></span>
                                                                            </div>
                                                                            <div class="col-3 col-lg-3">
                                                                                <label for="textOrderDate" class="form-label">Order Date</label>
                                                                                @{
                                                                                    DateTime invoiceDate = Model.Date ?? DateTime.Now;
                                                                                    string formattedDate = invoiceDate.ToString("yyyy-MM-dd");
                                                                                }
                                                                                <input type="date" id="textOrderDate" class="form-control" name="textInvoiceDate" value="@formattedDate">
                                                                            </div>
                                                                        </div>
                                                                        <div class="row mt-3">
                                                                            <div class="col-6 col-lg-6">
                                                                                <label for="textcompanybillingaddress" class="form-label">Billing Address</label>
                                                                                <input type="text" id="textCompanyBillingAddress" value="@Model.CompanyFullAddress" class="form-control" placeholder="Billing Address" readonly />
                                                                                <span id="spnBillingAddress" class="text-danger"></span>
                                                                            </div>
                                                                            <div class="col-6 col-lg-6">
                                                                                <label for="textCompanyGstNo" class="form-label">GST NO</label>
                                                                                <input type="text" id="textCompanyGstNo" value="@Model.CompanyGstNo" class="form-control" placeholder="GST No" readonly />
                                                                                <span id="spnCompanyGST" class="text-danger"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!---- Product Details ---->
                                                <div class="row">
                                                </div>
                                                <div class="card">
                                                    <div class="row p-3">

                                                        <h5 class="card-header">
                                                            Add Product

                                                            <a class="font-22" onclick="fn_OpenAddproductmodal()">
                                                                <i class="lni lni-circle-plus"></i>
                                                            </a>

                                                            <span id="spnitembutton" class="text-danger"></span>
                                                        </h5>
                                                    </div>

                                                    <div class="card-body pt-0">
                                                        <div class="table-responsive" style="height:350px">
                                                            <table class="table align-middle mb-0">
                                                                <thead class="table-light btn-primary">
                                                                    <tr class="text-uppercase">
                                                                        <th>No</th>
                                                                        <th>Product</th>
                                                                        <th>HSN</th>
                                                                        <th>Qty</th>
                                                                        <th>Qty Type</th>
                                                                        <th>Price(₹)</th>
                                                                        <th>Dis(₹)</th>
                                                                        <th>Dis(%)</th>
                                                                        <th>GST(%)</th>
                                                                        <th>GST(₹)</th>
                                                                        <th>Amount(₹)</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                @if (Model.ItemList != null)
                                                                {
                                                                    <tbody id="addnewproductlink">
                                                                        @Html.Partial("_DisplayInvoiceItemDetailsPartial", Model.ItemList)
                                                                    </tbody>
                                                                }
                                                                else
                                                                {
                                                                    <tbody id="addnewproductlink">
                                                                    </tbody>
                                                                }
                                                            </table>

                                                        </div>
                                                        <div class="card-footer">
                                                            <table class="table align-middle mb-0">
                                                                <thead class="table-light btn-primary mb-0">
                                                                    <tr>
                                                                        <th>#</th>
                                                                        <th>Total</th>
                                                                        <th id="TotalProductQuantity"></th>
                                                                        <th id="TotalProductPrice"></th>
                                                                        <th></th>
                                                                        <th id="TotalDiscountPrice"></th>
                                                                        <th></th>
                                                                        <th></th>
                                                                        <th></th>
                                                                        <th id="TotalProductGST"></th>
                                                                        <th></th>
                                                                        <th id="TotalProductAmount"></th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                            </table>
                                                        </div>
                                                        <div class=" card">
                                                            <div class="row card-body">
                                                                <div class="col-lg-6 col-sm-12 ">
                                                                    <div class="row">
                                                                        <div class="col-lg-12 col-sm-12 mt-2 ">
                                                                            <div class="mb-2">
                                                                                <div class="input-group mb-3">
                                                                                    <label class="input-group-text">
                                                                                        Challan/Document No
                                                                                    </label>
                                                                                    <input type="text" class="form-control" placeholder="Challan/Document No" id="txtchalanNo" name="txtchalanNo" value="@Model.ChallanNo">
                                                                                </div>
                                                                                <div class="input-group mb-3">
                                                                                    <label class="input-group-text">
                                                                                        BUYERS CODE
                                                                                    </label>
                                                                                    <input type="text" class="form-control" placeholder="Buyer's Code" id="txtlrNo" name="txtlrNo" value="@Model.Lrno">

                                                                                </div>
                                                                                <div class="input-group mb-3">
                                                                                    <label class="input-group-text">
                                                                                        Active PO
                                                                                    </label>
                                                                                    <input type="text" id="textPONoList" name="textPONoList" class="form-control" placeholder=" Active PO" readonly />
                                                                                    <input type="hidden" id="textPONoListHidden" name="textPONoListHidden" />
                                                                                </div>
                                                                                <div class="input-group mb-3">
                                                                                    <label class="input-group-text">
                                                                                        Vehicle No
                                                                                    </label>
                                                                                    <input type="text" class="form-control" placeholder="Vehicle No" id="txtvehicleno" name="txtvehicleno" value="@Model.VehicleNo">
                                                                                </div>
                                                                                <div class="input-group mb-3">
                                                                                    <label class="input-group-text">
                                                                                        Dispatch By
                                                                                    </label>
                                                                                    <input type="text" class="form-control" placeholder="Dispatch By" id="txtdispatch" name="txtdispatch" value="@Model.DispatchBy">
                                                                                </div>
                                                                                <div class="input-group mb-3">
                                                                                    <label class="input-group-text">
                                                                                        Payment Terms
                                                                                    </label>
                                                                                    <input type="text" class="form-control" placeholder="Payment Terms" id="txtpayment" name="txtpayment" value="@Model.PaymentTerms">

                                                                                </div>
                                                                                <div class="input-group mb-3">
                                                                                    <label class="input-group-text">
                                                                                        Group
                                                                                    </label>
                                                                                    @if (Model.SiteGroup != null)
                                                                                    {
                                                                                        <select class="form-select" id="InvoiceGroupList" name="InvoiceGroupList">
                                                                                            <option selected value="@Model.SiteGroup" data-groupids="@Model.SiteGroupId">@Model.SiteGroup</option>
                                                                                        </select>

                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <select class="form-select" id="InvoiceGroupList" name="InvoiceGroupList">
                                                                                            <option selected value="" disabled>Select Group</option>
                                                                                        </select>
                                                                                    }
                                                                                </div>
                                                                                <div class="form-check form-check-inline" style="display:none">
                                                                                    <input class="form-check-input" style="margin-left:2px;" type="radio" id="unpaidRadio" value="unpaid" name="paymentStatus" checked>
                                                                                    <label class="form-check-label" for="unpaidRadio">Unpaid</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-lg-6 col-sm-12 ac-invoice-total">
                                                                    <div class="table">
                                                                        <table class="table table-borderless table-sm table-nowrap align-middle mb-0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <th scope="row">Sub Total</th>
                                                                                    <td style="width:150px;">
                                                                                        <input type="text" class="form-control border-0" id="cart-subtotal" placeholder="₹0.00" readonly />
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th scope="row">Total GST</th>
                                                                                    <td>
                                                                                        <input type="text" class="form-control border-0" id="totalgst" placeholder="₹0.00" value="@Model.TotalGstamount" readonly />
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th scope="row">TDS <small class="text-muted"></small></th>
                                                                                    <td>
                                                                                        @if (Model.Tds != null)
                                                                                        {
                                                                                            <input type="text" class="form-control border-0" id="cart-tds" placeholder="₹0.00" value="@Model.Tds" />
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <input type="text" class="form-control border-0" id="cart-tds" placeholder="₹0.00" />
                                                                                        }

                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th scope="row">Discount <small class="text-muted"></small></th>
                                                                                    <td>
                                                                                        <input type="text" class="form-control border-0" id="cart-discount" placeholder="₹0.00" value="@Model.TotalDiscount" readonly />
                                                                                    </td>
                                                                                </tr>
                                                                                <tr class="border-top border-top-dashed">
                                                                                    <th scope="row">Adjustment</th>
                                                                                    @if (Model.DiscountRoundoff != null)
                                                                                    {
                                                                                        <td>
                                                                                            <input type="text" class="form-control border-0" id="IDiscountRoundOff" value="@Model.DiscountRoundoff" placeholder="₹0.00" />
                                                                                        </td>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <td>
                                                                                            <input type="text" class="form-control border-0" id="IDiscountRoundOff" placeholder="₹0.00" />
                                                                                        </td>
                                                                                    }
                                                                                </tr>
                                                                                <tr class="border-top border-top-dashed">
                                                                                    <th scope="row">Total Amount</th>
                                                                                    <td>
                                                                                        <input type="text" class="form-control border-0" id="cart-total" placeholder="₹0.00" value="@Model.TotalAmountInvoice" readonly />
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6 col-sm-6">
                                                        <div class="card">
                                                            <h5 class="card-header">
                                                                Shipping Addresses
                                                                <span id="spnshipping" style="color:red;"></span>
                                                            </h5>
                                                            <div class="card-body Address" id="dvShippingAddress">
                                                                @{
                                                                    var counter = 1;
                                                                    var selectedShippingAddress = ViewBag.EditShippingAddress;
                                                                    var siteAddresses = ViewBag.SiteAddress;

                                                                    bool isSingleAddress = siteAddresses is string;
                                                                    bool isAddressList = siteAddresses is IEnumerable<AccountManagement.DBContext.Models.ViewModels.SiteMaster.SiteAddressModel>;
                                                                    bool isSelected = false;

                                                                    var slectedPOShippingAddress = ViewBag.POShippingAddress;
                                                                }

                                                                @if (isSingleAddress && !string.IsNullOrEmpty(siteAddresses.ToString()))
                                                                {
                                                                    <div class="row ac-invoice-shippingadd ShippingAddress">
                                                                        <div class="col-2 col-sm-2">
                                                                            <label id="lblshprownum1">@counter</label>
                                                                        </div>

                                                                        <div class="col-5 col-sm-5">
                                                                            <p id="shippingaddress_@counter">@siteAddresses</p>
                                                                            <input type="hidden" id="selectedShippingAddress" name="selectedShippingAddress" />
                                                                        </div>
                                                                        <div class="col-2 col-sm-2">
                                                                            <input class="nav-radio form-check-input"
                                                                                   name="selectedAddress"
                                                                                   data-bs-toggle="tab"
                                                                                   role="tab"
                                                                                   type="radio"
                                                                                   id="AddressRadio_@counter"
                                                                                   data-address="@siteAddresses"
                                                                            @(selectedShippingAddress != null && siteAddresses == selectedShippingAddress ? "checked" : "") />
                                                                        </div>
                                                                    </div>
                                                                    counter++;
                                                                }
                                                                else if (isAddressList)
                                                                {
                                                                    foreach (var address in siteAddresses as IEnumerable<AccountManagement.DBContext.Models.ViewModels.SiteMaster.SiteAddressModel>)
                                                                    {
                                                                        <div class="row ac-invoice-shippingadd ShippingAddress">
                                                                            <div class="col-2 col-sm-2">
                                                                                <label id="lblshprownum1">@counter</label>
                                                                            </div>

                                                                            <div class="col-5 col-sm-5">
                                                                                <p id="shippingaddress_@counter">@address.Address</p>
                                                                                <input type="hidden" id="selectedShippingAddress" name="selectedShippingAddress" />
                                                                            </div>
                                                                            <div class="col-2 col-sm-2">
                                                                                <input class="nav-radio form-check-input"
                                                                                       name="selectedAddress"
                                                                                       data-bs-toggle="tab"
                                                                                       role="tab"
                                                                                       type="radio"
                                                                                       id="AddressRadio_@counter"
                                                                                       data-address="@address.Address"
                                                                                @(selectedShippingAddress != null && address.Address == selectedShippingAddress ? "checked" : (counter == 1 && selectedShippingAddress == null ? "checked" : "")) />
                                                                            </div>
                                                                        </div>
                                                                        counter++;
                                                                    }
                                                                }
                                                                else if (slectedPOShippingAddress != null)
                                                                {
                                                                    foreach (var address in slectedPOShippingAddress)
                                                                    {
                                                                        var podAddress = address as AccountManagement.DBContext.Models.ViewModels.PurchaseOrder.PODeliveryAddressModel;

                                                                        <div class="row ac-invoice-shippingadd ShippingAddress">
                                                                            <div class="col-2 col-sm-2">
                                                                                <label id="lblshprownum1">@counter</label>
                                                                            </div>

                                                                            <div class="col-5 col-sm-5">
                                                                                <!-- Display the relevant address details -->
                                                                                <p id="shippingaddress_@counter">@podAddress?.Address</p>
                                                                                <input type="hidden" id="selectedShippingAddress" name="selectedShippingAddress" />
                                                                            </div>
                                                                            <div class="col-2 col-sm-2">
                                                                                <input class="nav-radio form-check-input"
                                                                                       name="selectedAddress"
                                                                                       data-bs-toggle="tab"
                                                                                       role="tab"
                                                                                       type="radio"
                                                                                       id="AddressRadio_@counter"
                                                                                       data-address="@podAddress?.Address"
                                                                                @(selectedShippingAddress != null && @podAddress?.Address == selectedShippingAddress ? "checked" : (counter == 1 && selectedShippingAddress == null ? "checked" : "")) />
                                                                            </div>
                                                                        </div>
                                                                        counter++;
                                                                    }
                                                                }

                                                                else if (string.IsNullOrEmpty(siteAddresses?.ToString()) && selectedShippingAddress != null)
                                                                {
                                                                    <div class="row ac-invoice-shippingadd ShippingAddress">
                                                                        <div class="col-2 col-sm-2">
                                                                            <label id="lblshprownum1">@counter</label>
                                                                        </div>

                                                                        <div class="col-5 col-sm-5">
                                                                            <p id="shippingaddress_@counter">@selectedShippingAddress</p>
                                                                            <input type="hidden" id="selectedShippingAddress" name="selectedShippingAddress" />
                                                                        </div>
                                                                        <div class="col-2 col-sm-2">
                                                                            <input class="nav-radio form-check-input"
                                                                                   name="selectedAddress"
                                                                                   data-bs-toggle="tab"
                                                                                   role="tab"
                                                                                   type="radio"
                                                                                   id="AddressRadio_@counter"
                                                                                   data-address="@selectedShippingAddress"
                                                                            @(selectedShippingAddress != null ? "checked" : "") />
                                                                        </div>
                                                                    </div>
                                                                    counter++;
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-6 col-sm-6">
                                                        <div class="card">
                                                            <h5 class="card-header">
                                                                Group Addresses
                                                            </h5>
                                                            @{
                                                                var index = 1;
                                                                var selectedGroupAddress = Model.GroupAddress;
                                                                var GroupAddress = ViewBag.GroupAddresses;
                                                            }
                                                            @if (Model.Id == Guid.Empty)
                                                            {
                                                                <div class="card-body GroupAddress" id="dvGroupAddress">
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="card-body GroupAddress" id="dvGroupAddress">
                                                                    @if (GroupAddress != null)
                                                                    {
                                                                        @foreach (var address in GroupAddress as IEnumerable<AccountManagement.DBContext.Models.ViewModels.SiteMaster.GroupAddressList>)
                                                                        {
                                                                            <div class="row ac-invoice-shippingadd ShippingAddress">
                                                                                <div class="col-2 col-sm-2">
                                                                                    <label id="lblshprownum1">@index</label>
                                                                                </div>

                                                                                <div class="col-5 col-sm-5">
                                                                                    <p id="groupaddress_@counter">@address.GroupAddress</p>
                                                                                    <input type="hidden" id="selectedGroupAddress" name="selectedGroupAddress" />
                                                                                </div>

                                                                                <div class="col-2 col-sm-2">
                                                                                    <input class="nav-radio form-check-input"
                                                                                           name="selectedGroupAddress"
                                                                                           data-bs-toggle="tab"
                                                                                           role="tab"
                                                                                           type="radio"
                                                                                           id="AddressRadio_@counter"
                                                                                           data-address="@address.GroupAddress"
                                                                                    @(address.GroupAddress == selectedGroupAddress ? "checked" : "") />
                                                                                </div>
                                                                            </div>

                                                                            index++;
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="card-body GroupAddress" id="dvGroupAddress">
                                                                        </div>
                                                                    }
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="dvShipping" class="col-lg-6">
                                                <div class="row">
                                                </div>
                                            </div>
                                            <!--end row-->
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="hstack gap-2 justify-content-end d-print-none mt-4">
                                                        @if (Model.Id == Guid.Empty)
                                                        {
                                                            <button type="button" class="btn btn-lg btn-primary px-5" id="SaveInvoiceOButton" onclick="InsertMultipleSupplierItem()"><i class="ri-printer-line align-bottom me-1"></i>Create Invoice</button>
                                                        }
                                                        else
                                                        {
                                                            <button type="button" class="btn btn-lg btn-primary px-5" id="UpdateInvoiceOButton" onclick="UpdateInvoiceDetails()"><i class="ri-printer-line align-bottom me-1"></i>Update Invoice</button>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

@* <div class="modal fade" id="mdShippingAdd" tabindex="-1" aria-labelledby="mdShippingAddlLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mdShippingAddlLabel">Shipping Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="shippingAddressForm">
                    <div class="container">
                        <div class="row">
                            <div class="col-10 col-sm-10 ">
                                <label class="form-label">Select Site</label>
                                @if (_userSession.UserRole == 3)
                                {
                                    <select class="form-control" id="textInvoiceSiteName" name="textInvoiceSiteName">
                                        <option selected value="">--Select Site--</option>
                                    </select>
                                }
                                else
                                {
                                    <select class="form-control" id="textInvoiceSiteName" name="textInvoiceSiteName" disabled>
                                        <option selected value="@UserSession.SiteId">@UserSession.SiteName-</option>
                                    </select>
                                }
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-10 col-sm-10">
                                <label class="form-label">Address</label>
                                <select class="single-select form-select" id="drpInvoiceSiteAddress">
                                    <option value="">--Select Site Address--</option>
                                </select>
                                <br />
                                <div>
                                    <textarea class="form-control" id="textmdAddress" name="textmdAddress" style="height:90px;"></textarea>
                                </div>
                                <span id="spnSiteAddress" style="color:red;"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary add-addresses" onclick="addShippingAddress()">Add</button>
                <span id="spnaddressbutton" style="color:red;"></span>
                @* <button type="button" class="btn btn-primary" onclick="fn_mdAddAddress()">Add</button>
            </div>
        </div>
    </div>
</div> *@


<div class="modal fade show" tabindex="-1" id="mdPoproductModal" role="dialog" aria-labelledby="myLargeModalLabel" aria-modal="true" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="clearItemtListSearchText()"></button>
            </div>
            <div class="modal-header d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center gap-2">
                    <label class="form-label mb-0">Search Product</label>
                    <input class="form-control" id="mdProductSearch" onkeyup="filterallItemTable()" style="width: 500px;" />
                </div>
                @if (UserSession.FormPermisionData.Any(a => a.FormName == "Item" && a.Add))
                {
                    <button type="button" class="btn btn-primary" onclick="ClearAddProductTextBox()" style="width: 150px;">
                        <i class="lni lni-circle-plus"></i> Item
                    </button>
                }
            </div>

            <div class="modal-body" id="mdlistofItem" style="max-height: 630px; overflow-y: auto;">
            </div>
        </div>
    </div>
</div>


<form id="addnewItemForm">
    <div class="modal fade show" tabindex="-1" id="addnewItemModal" role="dialog" aria-labelledby="myLargeModalLabel" aria-modal="true" aria-hidden="true" style="display:none;">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary-subtle p-3">
                    <h5 class="modal-title" id="flipModalLabel">Add Item</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-12 mb-3">
                        <label class="form-label">Item Name</label>
                        <input type="text" class="form-control" placeholder="Item Name" id="textItemName" name="textItemName">
                        <input type="hidden" id="txtItemid">
                        <span id="spnItemName" class="text-danger"></span>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-4 col-12">
                            <label class="form-label">Unit Type</label>
                            <input type="text" id="textUnitType" name="textUnitType" class="form-control" placeholder="Unit Type">
                            <span id="spnUnitType" class="text-danger"></span>
                        </div>
                        <input type="hidden" id="textUnitTypeHidden" name="textUnitTypeHidden">
                        <div class="col-lg-4 col-12">
                            <label class="form-label">Price</label>
                            <input type="number" class="form-control" placeholder="Price Per Unit" id="textPricePerUnit" name="textPricePerUnit">
                            <span id="spnPricePerUnit" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4 col-12">
                            <label class="form-label">With GST</label>
                            <div class="form-check form-switch">
                                <input class="form-check-input font-22" id="textIsWithGst" type="checkbox" style="margin-left:-35px;">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-6 col-12">
                            <label class="form-label">GST%</label>
                            <input type="text" class="form-control" placeholder="GST%" id="textGstPerUnit" name="textGstPerUnit">
                            <span id="spnGstPerUnit" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6 col-12">
                            <label class="form-label">GST Amount</label>
                            <input type="text" class="form-control" placeholder="Gst Amount" id="textGstAmount" name="textGstAmount" disabled>
                            <span id="spnGstAmount" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <label class="form-label">HSN Code</label>
                        <input type="text" class="form-control" placeholder="HSN Code" id="textHSNCode">
                        <span id="spnHSNCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="CreateNewItem()" id="btnitem">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>

<!--end col-->
@section Scripts {
    <script src="~/moduls/invoicemasterscript.js" asp-append-version="true"></script>
    <script src="~/moduls/purchaserequestscript.js" asp-append-version="true"></script>
}
<script type="text/javascript">

    function fn_OpenShippingModal() {
        $('#textmdAddress').val('');
        $('#textmdQty').val('');
        $('#mdShippingAdd').modal('show');
    }

    function fn_mdAddAddress() {
        var rowcount = $('#dvShippingAddress .row.ac-invoice-shippingadd').length + 1
        if ($('#textmdAddress').val() != null && $('#textmdAddress').val().trim() != "") {
            var html = `<div class="row ac-invoice-shippingadd">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                </div>`
            $('#dvShippingAddress').append(html);
        } else {
            tostar.error('Please select address!');
            $('#textmdAddress').focus();
        }

    }
    function fn_removeShippingAdd(that) {
        $(that).closest('.ac-invoice-shippingadd').remove();
    }

    document.addEventListener("DOMContentLoaded", function () {
        const supplierNameDropdown = document.getElementById("textSupplierName");
        const companyNameDropdown = document.getElementById("textCompanyName");

        supplierNameDropdown.addEventListener("change", function () {
            companyNameDropdown.focus();
        });
    });
</script>
