@model AccountManagement.DBContext.Models.ViewModels.InvoiceMaster.SupplierInvoiceMasterView
@using AccountManegments.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@{
    ViewData["Title"] = "CreateInvoice";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<style>
    #paymentStatus-error, #textSupplierName-error, #textCompanyName-error, #txtgst-error, #textSupplierMobile-error, #textSupplierAddress-error {
        color: red;
    }

    .disabled {
        opacity: 0.5;
        pointer-events: none;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <div class="" id="invoiceSupplierList">
            <form id="CreateInvoiceForm">
                <div class="">
                    <div>
                        <div class="row justify-content-center">
                            <div class="col-xxl-12">
                                <div class="">
                                    <div class="border-bottom border-bottom-dashed">
                                        <div class="row">
                                            <div class="col-6 col-lg-6">
                                                <div class="card">
                                                    <h5 class="card-header">Supplier Details</h5>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-6 col-lg-6">
                                                                <label for="textSupplierName" class="form-label">Supplier Name</label>
                                                                @if (Model.SupplierName != null)
                                                                {
                                                                    <select class="form-select" id="textSupplierName" name="textSupplierName" disabled>
                                                                        <option selected value="@Model.SupplierId">@Model.SupplierName</option>
                                                                    </select>
                                                                }
                                                                else
                                                                {
                                                                    <select class="form-select" id="textSupplierName" name="textSupplierName">
                                                                        <option selected disabled value="">Select Supplier</option>
                                                                    </select>
                                                                }
                                                                <span id="spnsuppliername" class="text-danger"></span>
                                                            </div>
                                                            <div class="col-6 col-lg-6">
                                                                <label for="textSupplierMobile" class="form-label">Mobile No</label>
                                                                <input type="text" id="textSupplierMobile" name="textSupplierMobile" value="@Model.SupplierMobileNo" class="form-control" placeholder="Mobile No" />
                                                                <span id="spnSupplierMobile" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-3">
                                                            <div class="col-6 col-lg-6">
                                                                <label for="textSupplierAddress" class="form-label">Address</label>
                                                                <input type="text" id="textSupplierAddress" name="textSupplierAddress" value="@Model.SupplierFullAddress" class="form-control" placeholder="Address" />
                                                                <span id="spnSupplierAddress" class="text-danger"></span>
                                                            </div>
                                                            <div class="col-6 col-lg-6">
                                                                <label for="textSupplierGST" class="form-label">GST NO</label>
                                                                <input type="text" id="textSupplierGST" value="@Model.SupplierGstNo" class="form-control" placeholder="GST No" readonly />
                                                                <span id="spnSupplierGST" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-lg-6">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <div class="row align-items-center">
                                                            <div class="col">
                                                                <h6 class="mb-0">Invoice Details</h6>
                                                            </div>
                                                            <div class="col">
                                                                <input type="text" class="form-control" id="textInvoicePrefix" value="@Model.InvoiceNo" readonly />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div>
                                                                    <label for="textCompanyName" class="form-label">Company Name</label>
                                                                </div>
                                                                <div class="ms-auto">
                                                                    @if (Model.CompanyName != null)
                                                                    {
                                                                        <select class="form-select" id="textCompanyName" name="textCompanyName" disabled>
                                                                            <option selected value="@Model.CompanyId">@Model.CompanyName</option>
                                                                        </select>
                                                                    }
                                                                    else
                                                                    {
                                                                        <select class="form-select" id="textCompanyName" name="textCompanyName">
                                                                            <option selected disabled value="">Select Company</option>
                                                                        </select>
                                                                    }
                                                                    <span id="spnCompanyName" class="text-danger"></span>
                                                                    <input type="hidden" class="form-control" id="createdbyid" value="@_userSession.UserId">
                                                                    <input type="hidden" class="form-control" id="siteid" value="@UserSession.SiteId">
                                                                    <input type="hidden" class="form-control" id="textSupplierInvoiceId" value="@Model.Id">

                                                                </div>
                                                            </div>
                                                            <div class="col-5 col-lg-5">
                                                                <label for="SupplierInvoiceNo" class="form-label">Supplier Invoice No</label>
                                                                <input type="text" id="textSupplierInvoiceNo" value="@Model.SupplierInvoiceNo" class="form-control" name="textSupplierInvoiceNo" placeholder="Supplier Invoice Id" />
                                                            </div>
                                                            <div class="col-3 col-lg-3">
                                                                <label for="textOrderDate" class="form-label">Order Date</label>
                                                                <input type="date" id="textOrderDate" class="form-control" name="textOrderDate" placeholder="Select Order-Date" value="@Model.Date?.ToString("dd/MM/yyyy")" readonly>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-3">
                                                            <div class="col-6 col-lg-6">
                                                                <label for="textcompanybillingaddress" class="form-label">Billing Address</label>
                                                                <input type="text" id="textCompanyBillingAddress" value="@Model.CompanyFullAddress" class="form-control" placeholder="Billing Address" readonly />
                                                                <span id="spnBillingAddress" class="text-danger"></span>
                                                            </div>
                                                            <div class="col-6 col-lg-6">
                                                                <label for="textCompanyGstNo" class="form-label">GST NO</label>
                                                                <input type="text" id="textCompanyGstNo" value="@Model.CompanyGstNo" class="form-control" placeholder="GST No" readonly />
                                                                <span id="spnCompanyGST" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!---- Product Details ---->
                                <div class="row">
                                </div>
                                <div class="card">
                                    <div class="row p-3">

                                        <h5 class="card-header">
                                            Add Product
                                            @if (Model.ItemList != null)
                                            {
                                                <a class="disabled">
                                                    <i class="lni lni-circle-plus"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a class="font-22" onclick="fn_OpenAddproductmodal()">
                                                    <i class="lni lni-circle-plus"></i>
                                                </a>
                                            }
                                            <span id="spnitembutton" class="text-danger"></span>
                                        </h5>
                                    </div>

                                    <div class="card-body pt-0">
                                        <div class="table-responsive" style="height:350px">
                                            <table class="table align-middle mb-0">
                                                <thead class="table-secondary">
                                                    <tr class="text-uppercase">
                                                        <th>#</th>
                                                        <th>Product</th>
                                                        <th>HSN</th>
                                                        <th>Price</th>
                                                        <th>Quantity</th>
                                                        <th>Qty Type</th>

                                                        <th>
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    Discount
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    Dis(%)
                                                                </div>

                                                            </div>
                                                        </th>
                                                        <th>
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    GST (%)
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    GST Amt (₹)
                                                                </div>

                                                            </div>
                                                        </th>
                                                        <th>Amount (₹)</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                @if (Model.ItemList != null)
                                                {
                                                    <tbody id="addnewproductlink" class="disabled">
                                                        @Html.Partial("_DisplayInvoiceItemDetailsPartial", Model.ItemList)
                                                    </tbody>
                                                }
                                                else
                                                {
                                                    <tbody id="addnewproductlink">
                                                    </tbody>
                                                }
                                            </table>

                                        </div>
                                        <div class="card-footer">
                                            <table class="table align-middle mb-0">
                                                <thead class="table align-middle mb-0">
                                                    <tr>
                                                        <th>#</th>
                                                        <th colspan="2">Total</th>
                                                        <th></th>
                                                        <th></th>
                                                        <th id="TotalProductQuantity"></th>
                                                        <th></th>
                                                        <th id="TotalProductPrice"></th>
                                                        <th></th>
                                                        <th id="TotalProductGST"></th>
                                                        <th></th>
                                                        <th id="TotalProductAmount"></th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class=" card">
                                            <div class="row card-body">
                                                <div class="col-lg-6 col-sm-12 ">
                                                    <div class="row">
                                                        <div class="col-lg-12 col-sm-12">
                                                            <div class="input-group mb-2">
                                                                <label class="input-group-text">Payment Status</label>

                                                                @if (Model.PaymentStatus != null)
                                                                {
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" style="margin-left:2px;" type="radio" id="unpaidRadio" name="paymentStatus" value="unpaid" @(Model.PaymentStatus == "unpaid" ? "checked" : "") disabled>
                                                                        <label class="form-check-label" for="unpaidRadio">Unpaid</label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" style="margin-left:2px;" type="radio" id="paidRadio" name="paymentStatus" value="paid" @(Model.PaymentStatus == "paid" ? "checked" : "") disabled>
                                                                        <label class="form-check-label" for="paidRadio">Paid</label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" style="margin-left:2px;" type="radio" id="cashRadio" name="paymentStatus" value="cash" @(Model.PaymentStatus == "cash" ? "checked" : "") disabled>
                                                                        <label class="form-check-label" for="cashRadio">Cash</label>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" style="margin-left:2px;" type="radio" id="unpaidRadio" value="unpaid" name="paymentStatus" checked>
                                                                        <label class="form-check-label" for="unpaidRadio">Unpaid</label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" style="margin-left:2px;" type="radio" id="paidRadio" value="paid" name="paymentStatus">
                                                                        <label class="form-check-label" for="paidRadio">Paid</label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" style="margin-left:2px;" type="radio" id="cashRadio" value="cash" name="paymentStatus">
                                                                        <label class="form-check-label" for="cashRadio">Cash</label>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 col-sm-12 mt-2 ">
                                                            <div class="mb-2">
                                                                @if (Model.Description != null)
                                                                {
                                                                    <div class="input-group mb-3">
                                                                        <label class="input-group-text" for="textDescription">Description</label>
                                                                        <textarea type="text" id="textDescription" rows="3" class="form-control disabled" placeholder="Enter Description" name="textDescription">@Model.Description</textarea>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="input-group mb-3">
                                                                        <label class="input-group-text" for="textDescription">Description</label>
                                                                        <textarea type="text" id="textDescription" rows="3" class="form-control" placeholder="Enter Description" name="textDescription"></textarea>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-sm-12 ac-invoice-total">
                                                    <div class="table">
                                                        <table class="table table-borderless table-sm table-nowrap align-middle mb-0">
                                                            <tbody>
                                                                <tr>
                                                                    <th scope="row">Sub Total</th>
                                                                    <td style="width:150px;">
                                                                        <input type="text" class="form-control bg-light border-0" id="cart-subtotal" placeholder="₹0.00" readonly />
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">Total GST</th>
                                                                    <td>
                                                                        <input type="text" class="form-control bg-light border-0" id="totalgst" placeholder="₹0.00" value="@Model.TotalGstamount" readonly />
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">Discount <small class="text-muted"></small></th>
                                                                    <td>
                                                                        <input type="text" class="form-control bg-light border-0" id="cart-discount" placeholder="₹0.00" value="@Model.TotalDiscount" readonly />
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>
                                                                        Roundoff
                                                                    </th>
                                                                    <td>
                                                                        @if(Model.Roundoff != null)
                                                                        {
                                                                            <input type="text" class="form-control bg-light border-0" id="cart-roundOff" value="@Model.Roundoff" readonly />
                                                                        }
                                                                        else{
                                                                            <input type="text" class="form-control bg-light border-0" id="cart-roundOff" placeholder="₹0.00" />
                                                                        }
                                                                        
                                                                    </td>
                                                                </tr>
                                                                <tr class="border-top border-top-dashed">
                                                                    <th scope="row">Total Amount</th>
                                                                    <td>
                                                                        <input type="text" class="form-control bg-light border-0" id="cart-total" placeholder="₹0.00" value="@Model.TotalAmountInvoice" readonly />
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 col-sm-6">
                                        <div class="card">
                                            <h5 class="card-header">
                                                Shipping Addresses
                                                <a class="font-22" onclick="fn_OpenShippingModal()">
                                                    <i class="lni lni-circle-plus"></i>
                                                </a>
                                                <span id="spnshipping" style="color:red;"></span>
                                            </h5>
                                            <div class="card-body Address" id="dvShippingAddress">
                                                @if (!string.IsNullOrEmpty(Model.ShippingAddress))
                                                {
                                                    @Html.Partial("_EditShippingAddressPartial", Model)
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="dvShipping" class="col-lg-6">
                                    <div class="row">
                                    </div>
                                </div>
                                <!--end row-->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="hstack gap-2 justify-content-end d-print-none mt-4">
                                            @if (Model.Id == Guid.Empty)
                                            {
                                                <button type="button" class="btn btn-lg btn-primary px-5" id="SaveInvoiceOButton" onclick="InsertMultipleSupplierItem()"><i class="ri-printer-line align-bottom me-1"></i>Create Invoice</button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-lg btn-primary px-5" id="UpdateInvoiceOButton" onclick="UpdateInvoiceDetails()"><i class="ri-printer-line align-bottom me-1"></i>Update Invoice</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="mdShippingAdd" tabindex="-1" aria-labelledby="mdShippingAddlLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mdShippingAddlLabel">Shipping Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="shippingAddressForm">
                    <div class="container">
                        <div class="row">
                            <div class="col-10 col-sm-10 ">
                                <label class="form-label">Select Site</label>
                                <select class="form-control form-control" id="textInvoiceSiteName">
                                    <option selected value="">--Select Site--</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-10 col-sm-10">
                                <label class="form-label">Address</label>
                                <textarea class="form-control" id="textmdAddress" style="height:90px;"></textarea>
                                <span id="spnSiteAddress" style="color:red;"></span>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary add-addresses" onclick="addShippingAddress()">Add</button>
                <span id="spnaddressbutton" style="color:red;"></span>
                @* <button type="button" class="btn btn-primary" onclick="fn_mdAddAddress()">Add</button> *@
            </div>
        </div>
    </div>
</div>


<div class="modal fade show" tabindex="-1" id="mdPoproductModal" role="dialog" aria-labelledby="myLargeModalLabel" aria-modal="true" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Select Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-header">
                <label class="form-label">Search Product</label>
                <input class="form-control" id="mdProductSearch" onkeyup="filterallItemTable()" />
            </div>

            <div class="modal-body" id="mdlistofItem" style="overflow-x: hidden">
            </div>
        </div>
    </div>
</div>
<!--end col-->
@section Scripts {
    <script src="~/moduls/invoicemasterscript.js" asp-append-version="true"></script>
    <script src="~/moduls/purchaserequestscript.js" asp-append-version="true"></script>
}
<script type="text/javascript">

    function fn_OpenShippingModal() {
        $('#textmdAddress').val('');
        $('#textmdQty').val('');
        $('#mdShippingAdd').modal('show');
    }

    function fn_mdAddAddress() {
        var rowcount = $('#dvShippingAddress .row.ac-invoice-shippingadd').length + 1
        if ($('#textmdAddress').val() != null && $('#textmdAddress').val().trim() != "") {
            var html = `<div class="row ac-invoice-shippingadd">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    </div>`
            $('#dvShippingAddress').append(html);
        } else {
            tostar.error('Please select address!');
            $('#textmdAddress').focus();
        }

    }
    function fn_removeShippingAdd(that) {
        $(that).closest('.ac-invoice-shippingadd').remove();
    }

    function fn_OpenAddproductmodal() {

        $('#mdProductSearch').val('');
        $('#mdPoproductModal').modal('show');
    }
</script>
