@model AccountManagement.DBContext.Models.ViewModels.InvoiceMaster.SupplierInvoiceMasterView
@{
    ViewData["Title"] = "Purchase Invoice";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<style>
    .border-right {
        border-right: 2px solid black;
    }

</style>

@{
    var firstItem = Model;
    decimal? totalAmount = 0;
    decimal? totalGst = 0;
}

<div class="row justify-content-center" id="displayInvoiceDetail">
    <div class="col-xxl-9">
        <div class="card border">
            <div class="row">
                <div class="card-body" id="cardbody1">
                    <div class="d-flex">
                        <div class="flex-grow-1 col-6 border">
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <span class="text-muted"><b>@firstItem.SupplierName</b></span> <br />
                                <span class="text-muted">@firstItem.SupplierBuildingName,@firstItem.SupplierArea,@firstItem.SupplierCity,@firstItem.SupplierState - @firstItem.SupplierPincode</span><br />
                                <span class="text-muted text-uppercase">GSTIN/UIN :@firstItem.SupplierGstNo</span><br />
                                <p class="text-muted text-uppercase">Email :@firstItem.SupplierEmail</p>
                            </div>
                            <p class="text-muted"><b>Consignee (Ship to):</b></p>
                            <span class="text-muted text-uppercase"><b>@firstItem.SiteName</b></span><br />
                            <span class="text-muted">@firstItem.ShippingAddress</span><br />
                            <span class="text-muted">GSTIN:- </span>
                        </div>
                        <div class="flex-grow-1 col-3">
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <label class="form-label">Invoice No</label>
                                <p class="text-muted text-uppercase"><b>@firstItem.InvoiceNo</b></p>
                            </div>
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <label class="form-label">Delivery Note</label>
                                <p class="text-muted">@firstItem.Description</p>
                            </div>
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <label class="form-label">Reference No. & Date</label>
                                <p><span class="text-muted"><b></b></span></p>
                            </div>
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <label class="form-label">Buyer's Order No</label>
                                <p class="text-muted text-uppercase"><b></b></p>
                            </div>
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <label class="form-label">Dispatch Doc No.</label>
                                <p class="text-muted text-uppercase"><b></b></p>
                            </div>
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <label class="form-label">Dispatched Through</label>
                                <p class="text-muted text-uppercase"><b>Tempo</b></p>
                            </div>
                            <label class="form-label">Bill of Landing/LR-RR No.</label>
                            <p class="text-muted text-uppercase"><b></b></p>
                        </div>
                        <div class="flex-grow-1 col-3">
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <label class="form-label">Date</label>
                                <p><span class="text-muted fw-normal">@firstItem.Date?.ToString("dd/MM/yyyy")</span></p>
                            </div>
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <label class="form-label">Mode/Terms of Payment</label>
                                <p><span class="text-muted text-uppercase"><b>7 days</b></span></p>
                            </div>
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <label class="form-label">Other Reference</label>
                                <p class="text-muted"></p>
                            </div>
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <label class="form-label">Date</label>
                                <p class="text-muted text-uppercase"><b></b></p>
                            </div>
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <label class="form-label">Delivery Note Date</label>
                                <p class="text-muted text-uppercase"><b></p>
                            </div>
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <label class="form-label">Destination</label>
                                <p class="text-muted text-uppercase"><b></b></p>
                            </div>
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <label class="form-label">Motor Vehicle No</label>
                                <p class="text-muted text-uppercase"><b>GJ27TT6505</b></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body" id="cardbody2" style="margin-top:-33px;">
                    <div class="d-flex">
                        <div class="flex-grow-1 col-6 border">
                            <p class="text-muted"><b>Buyer (Bill to)</b></p>
                            <span class="text-muted text-uppercase"><b>@firstItem.CompanyName</b></span><br />
                            <span class="text-muted text-uppercase">@firstItem.CompanyAddress,@firstItem.CompanyArea,@firstItem.CompanyCityName,@firstItem.CompanyStateName,@firstItem.CompanyCountryName,@firstItem.CompanyPincode</span><br />
                            <p class="text-muted text-uppercase"><b>GSTIN/UIN :@firstItem.CompanyGstNo</b></p>
                        </div>
                        <div class="flex-grow-1 col-6 border">
                            <label class="form-label">Terms of Delivery</label>
                            <p class="text-muted"><b>Dispatched from Rakhial, Ahemdabad</b></p>
                        </div>
                    </div>
                </div>
                <div class="card-body" id="cardbody3" style="margin-top:-33px;">
                    <table class="table table-border text-center table-nowrap align-middle mb-0">
                        <thead>
                            <tr class="table-active">
                                <th class="border" scope="col">SINo.</th>
                                <th class="border" scope="col">Product Details</th>
                                <th class="border" scope="col">Price</th>
                                <th class="border" scope="col">Quantity</th>
                                <th class="border" scope="col">Unit</th>
                                <th class="border" scope="col">Discount</th>
                                <th class="border" scope="col">Amount</th>
                            </tr>
                        </thead>
                        <tbody id="products-list">
                            @{
                                int index = 1;
                                decimal subtotal = 0;
                            }
                            @foreach (var item in Model.ItemList)
                            {
                                subtotal = (item.Quantity * item.PricePerUnit);
                                <tr class="product">
                                    <td class="border">@index</td>
                                    <td class="text-start border">
                                        <span class="fw-medium" id="txtproductname">@item.ItemName</span>
                                    </td>
                                    <td class="border" id="txtHSN">@item.PricePerUnit</td>
                                    <td class="border" id="txtquantity">@item.Quantity</td>
                                    <td class="border" id="txtper">@item.UnitTypeName</td>
                                    <td class="border" id="txtper">@item.DiscountAmount (@item.DiscountPer%)</td>
                                    <td class="border" id="txttotal">₹@subtotal</td>
                                </tr>
                                index++;
                            }
                            <tr>
                                <td class="border"></td>
                                <td class="text-end border">FREIGHT CHARGES</td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                            </tr>
                            <tr>
                                <td class="border"></td>
                                <td class="text-end border">GST</td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border">₹@firstItem.TotalGstamount</td>
                            </tr>
                            <tr>
                                <td class="border"></td>
                                <td class="text-end border">Discount</td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border">@firstItem.TotalDiscount</td>
                            </tr>
                            <tr>
                                <td class="border"></td>
                                <td class="text-end border">Round Off</td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border">@firstItem.Roundoff</td>
                            </tr>
                            <tr>
                                <td class="border"></td>
                                <td class="text-end border">Total</td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border">₹@firstItem.TotalAmountInvoice</td>
                            </tr>
                        </tbody>
                    </table><!--end table-->
                    <div class="flex-grow-1 col-12">
                        <span class="text-muted">Amount Chargeable (in words)</span><br />
                        <p class="text-muted text-capitalize"><b>INR @ViewData["TotalAmountInWords"]</b></p>
                    </div>
                </div>
                <div class="card-body" id="cardbody4" style="margin-top:-33px;">
                    <table class="table table-border text-center table-nowrap align-middle mb-0">
                        <thead>
                            <tr class="table-active">
                                <th class="border col-4">HSN / SAC</th>
                                <th class="border col-2">Taxable value</th>
                                <th class="border col-2">
                                    <div class="d-flex">
                                        <div class="flex-grow-1 col-5">
                                            <label class="form-label">GST%</label>
                                        </div>
                                        <div class="flex-grow-1 col-7">
                                            <label class="form-label">Amount</label>
                                        </div>
                                    </div>
                                </th>
                                <th class="text-end border col-2">Total Tax Amount</th>
                            </tr>
                        </thead>
                        <tbody id="products-list">
                            @{
                                decimal subTotal = 0;
                            }
                            @foreach (var item in Model.ItemList)
                            {
                                subTotal = (item.Quantity * item.PricePerUnit);
                                <tr>
                                    <td class="border" id="txtHSN">@item.Hsncode</td>
                                    <td class="border" id="txtTaxablevalue">₹@subTotal</td>
                                    <td class="border" id="txtgstpercentage">
                                        <div class="d-flex">
                                            <div class="flex-grow-1 col-5">
                                                <label class="form-label">@item.GstPercentage%</label>
                                            </div>
                                            <div class="flex-grow-1 col-7">
                                                <label class="form-label">₹@item.Gstamount</label>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="border" id="txtgsttotal">₹@item.Gstamount</td>
                                </tr>
                                index++;
                            }
                            <tr>
                                <td class="border">Total</td>
                                <td class="border"></td>
                                <td class="border">
                                    <div class="d-flex">
                                        <div class="flex-grow-1 col-5">
                                            <label class="form-label"></label>
                                        </div>
                                        <div class="flex-grow-1 col-7">
                                            <label class="form-label"></label>
                                        </div>
                                    </div>
                                </td>
                                <td class="border">₹@firstItem.TotalGstamount</td>
                            </tr>
                        </tbody>
                    </table><!--end table-->
                    <span class="text-muted">Tax Amount (in words) : </span>
                    <span class="text-muted text-capitalize"><b>INR @ViewData["TotalAmountInWords"]</b></span>
                    <div class="d-flex">
                        <div class="flex-grow-1 col-6">
                            <p class="text-muted">Company's PAN : <span> </span><span class="text-muted"><b>@firstItem.CompanyPanNo</b></span></p>
                            <span class="text-muted"><u>Description</u></span><br />
                            <span class="text-muted">@firstItem.Description</span><br />
                        </div>
                        <div class="flex-grow-1 col-6">
                            <span class="form-label">Company's Bank Details</span><br />
                            <span class="text-muted"> Bank Name :  <span><b>@firstItem.SupplierBankName</b></span></span> <br />
                            <span class="text-muted"> A/c No :  <span><b>@firstItem.SupplierAccountNo</b></span></span> <br />
                            <p class="text-muted">Branch & IFS Code  :       <span><b>@firstItem.SupplierIFSCCode</b></span></p>
                            <div class="border border-box text-end p-1" style="border: solid black">
                                <p class="text-muted"><b>@firstItem.SupplierName</b></p>
                                <br />
                                <br />
                                <p class="text-muted">Authorised Signatory</p>
                            </div>
                        </div>
                    </div>
                    <div class="card d-print-none">
                        <div class="card-body">
                            <div class="d-lg-flex align-items-center gap-3">
                                <a class="btn btn-primary btn-ecomm" onclick="printInvoiceDiv();"><i class="fadeIn animated bx bx-printer"></i>Print Invoice</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/moduls/invoicemasterscript.js" asp-append-version="true"></script>
}
