@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@model AccountManagement.DBContext.Models.ViewModels.InvoiceMaster.SupplierInvoiceList


<div class="table-responsive" style="height: 506px;">
    <table class="table align-middle mb-0">
        <thead class="table-light btn-primary">
            <tr class="text-left">
                <th style="width: 90px;">InvoiceNo</th>
                <th style="width: 130px;">Supplier</th>
                <th>Site</th>
                <th style="width: 86px;">Date</th>
                <th>Price</th>
                <th>GST</th>
                <th>PriceWithGST</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.InvoiceList.Any())
            {
                foreach (var item in Model.InvoiceList)
                {
                    decimal? Quantity = item.Quantity;
                    decimal? TotalAmount = item.TotalAmount;
                    decimal? PerItemTotalAmoount = TotalAmount / Quantity;

                    <tr class="" onclick="window.location.href='/InvoiceMaster/DisplayInvoiceDetails?Id=@item.Id'" style="cursor: pointer;">

                        <td><a class="text-primary"><h6 class="product-name mb-2">@item.SupplierInvoiceNo</h6></a></td>
                        <td>@item.SupplierName</td>
                        <td>@item.SiteName</td>
                        <td style="width: 86px;">@item.Date?.ToString("dd/MM/yyyy")</td>

                       @*  @if (Model.InvoiceItemList.TryGetValue(item.Id, out var itemDetails))
                        {
                            foreach (var itemDetail in itemDetails)
                            {
                                <td>
                                    @itemDetail.Quantity
                                </td>
                            }
                        } *@
                        <td>@item.ItemPrice?.ToString("N2")</td>
                        <td>@item.GSTper</td>
                        <td class="text-center">@PerItemTotalAmoount?.ToString("N2")</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">No invoices found.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
