@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@model IEnumerable<AccountManagement.DBContext.Models.ViewModels.ItemMaster.ItemMasterModel>

@foreach (var item in Model)
{

    <tr>
        <td id="userCard_@item.ItemId" class="" onclick="DisplayItemDetails('@item.ItemId', this)">@item.ItemName</td>
        <td id ="userCard_@item.ItemId" class="" onclick="DisplayItemDetails('@item.ItemId', this)">₹@item.PricePerUnit</td>
        <td>
            @if (_userSession.UserRole == 3)
            {
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked_@item.ItemId" @(item.IsApproved.HasValue && item.IsApproved.Value ? "checked" : "") onclick="ItemIsApproved('@item.ItemId')" />
            }
            else
            {
                @if (item.IsApproved.HasValue && item.IsApproved.Value)
                {
                    <span class="badge bg-light-success text-success w-100">Approved</span>
                }
                else
                {
                    <span class="badge bg-light-warning text-warning w-100">Pending</span>
                }
            }
        </td>


        @if (UserSession.FormPermisionData.Any(a => a.FormName == "Item" && (a.Edit == true || a.Delete == true)))
        {
            <td>
                @if (UserSession.FormPermisionData.Any(a => a.FormName == "Item" && (a.Edit == true)))
                {
                    <a class="btn text-primary" onclick="EditItemDetails('@item.ItemId')" title="Edit" aria-label="Edit"><i class="fadeIn animated bx bx-edit"></i></a>
                }
                @if (UserSession.FormPermisionData.Any(a => a.FormName == "Item" && (a.Delete == true)))
                {
                    <a href="javascript:;" class="btn text-primary" onclick="deleteItemDetails('@item.ItemId')" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete" aria-label="Delete"><i class="lni lni-trash"></i></a>
                }
                <a class="btn text-primary" onclick="ItemHistory('@item.ItemId')" data-bs-toggle="tooltip" data-bs-placement="bottom" title="History" aria-label="History"><i class="fadeIn animated bx bx-history"></i></a>
            </td>
        }
    </tr>
}
