@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@model AccountManagement.DBContext.Models.ViewModels.InvoiceMaster.SupplierInvoiceList


<div class="table-responsive" style="height: 506px;">
    <table class="table align-middle mb-0">
        <thead class="table-light btn-primary">
            <tr class="text-left">
                <th>InvoiceNo</th>
                <th>Date</th>
                <th>Qty</th>
                <th>Price</th>
                <th>GST</th>
                <th>PriceWithGST</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.InvoiceList.Any())
            {
                foreach (var item in Model.InvoiceList)
                {
                    <tr class="" onclick="window.location.href='/InvoiceMaster/DisplayInvoiceDetails?Id=@item.Id'" style="cursor: pointer;">
                        <td><a class="text-primary"><h6 class="product-name mb-2">@item.SupplierInvoiceNo</h6></a></td>
                        <td>@item.Date?.ToString("dd/MM/yyyy")</td>

                        @if (Model.InvoiceItemList.TryGetValue(item.Id, out var itemDetails))
                        {
                            foreach (var itemDetail in itemDetails)
                            {
                                <td>
                                    @itemDetail.Quantity
                                </td>
                            }
                        }
                        <td>@item.ItemPrice</td>
                        <td>@item.GSTper</td>
                        <td class="text-center">@item.ItemPricewithGST</td>

                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">No invoices found.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
