@model IEnumerable<AccountManagement.DBContext.Models.ViewModels.ItemMaster.ItemMasterModel>

@foreach (var item in Model)
{
    <div class="row ac-card" id="userCard_@item.ItemId">
        <div class="card border">
            <div class="card-body">
                <div class="row align-items-center" onclick="SelectItemDetails('@item.ItemId', this)">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <div class="d-flex align-items-center gap-3">
                            <div class="widget-icon-2 bg-light-primary text-primary">
                                @* <div class="font-22">
                            <i class="lni lni-user" onclick="SelectItemDetails('@item.ItemId', this)"></i>
                            </div> *@
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tag"><path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path><line x1="7" y1="7" x2="7.01" y2="7"></line></svg>
                            </div>
                            <div class="flex-grow-1">
                                <h4 class="mb-0 text-primary">@item.ItemName</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <div>
                            <h5 class="mb-0 text-primary">@item.PricePerUnit</h5>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <div>
                            <h5 class="mb-0 text-primary">@item.IsApproved</h5>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 ac-m-btn">
                        <a class="btn text-warning" onclick="DisplayItemDetails('@item.ItemId')" title="Edit" aria-label="Edit"><i class="fadeIn animated bx bx-edit"></i></a>
                        <a href="javascript:;" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete" aria-label="Delete"><i class="lni lni-trash"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
