@model AccountManagement.DBContext.Models.ViewModels.InvoiceMaster.InvoiceTotalAmount

@{
    decimal? youGaveTotal = 0;
    decimal? youGetTotal = 0;

}

<div class="card">
    <div class="card-body">
        <p class="fs-5"></p>
        <div class="input-group d-none">
            <div class="row row-cols-1 row-cols-lg-3">
                <div class="col">
                    <div class="card radius-10 shadow-none bg-light-success">
                        <div class="card-body">
                            <div class="d-flex align-items-center gap-2">
                                <div><p class="mb-0">Total Credit</p></div>
                            </div>
                            <div class="d-flex align-items-center mt-3">
                                <div>
                                    <h6 class="mb-0" id="txttotalpurchase">@Model.TotalCreadit</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card radius-10 shadow-none bg-light-danger">
                        <div class="card-body">
                            <div class="d-flex align-items-center gap-2">
                                <div><p class="mb-0">Total Debit</p></div>
                            </div>
                            <div class="d-flex align-items-center mt-3">
                                <div>
                                    <h6 class="mb-0" id="txttotalcreditamount">@Model.TotalPurchase</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card radius-10 shadow-none bg-light-primary">
                        <div class="card-body">
                            <div class="d-flex align-items-center gap-2">
                                <div><p class="mb-0">Net Balance</p></div>
                            </div>
                            <div class="d-flex align-items-center mt-3">
                                <div>
                                    <h6 class="mb-0" id="txttotalpendingamount">@Model.TotalPending</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <p class="fs-5">Supplier List Report</p>
        <div class="my-3 border-top"></div>
        <div style=" overflow-y: auto; max-height: 450px;">
            <table class="table align-middle mb-0">
                <thead class="table-light btn-primary">
                    <tr>
                        <th>Supplier</th>
                        <th>Debit</th>
                        <th>Credit</th>
                        <th>Net Amount</th>
                    </tr>
                </thead>
                <tbody id="reportInvoicenet">
                    @if (Model != null && Model.InvoiceList.Any())
                    {
                        foreach (var item in Model.InvoiceList)
                        {
                            youGaveTotal += item.PayOutTotalAmount;
                            youGetTotal += item.NonPayOutTotalAmount;

                            <tr style="height:55px;" class="text-center">
                                <td>@item.SupplierName</td>
                                <td class="text-danger">
                                    @item.PayOutTotalAmount
                                </td>
                                <td class="text-success">
                                    @item.NonPayOutTotalAmount
                                </td>
                                <td>@item.NetAmount</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr style="height:55px;">
                            <td colspan="8" class="text-center">No data found for the selected criteria.</td>
                        </tr>
                    }
                </tbody>
                <tfoot id="reportInvoicenetFooter" class="bg-light">
                </tfoot>
            </table>
        </div>
    </div>
    <div id="downloadnetreportfile" class="col-12 text-end" style="display:none;">
        <a class="btn" onclick="ExportNetReportToExcel()" style="background-color:#018749;color:white;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
                <path fill="currentColor" fill-rule="evenodd" d="M29 6v8h13v2H29v7h13V8c0-1.105-.836-2-1.867-2zm0 19h13v7H29zm0 9h13v6c0 1.105-.836 2-1.867 2H29zm-2 0v8H15.867C14.836 42 14 41.105 14 40v-6zm0-20H14V8c0-1.105.836-2 1.867-2H27zm-3.948 2v7H27v-7zm0 9v7H27v-7zM6 17a1 1 0 0 1 1-1h13.158a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm3.607 2h2.26l1.834 3.754L15.64 19h2.112l-2.91 5l2.976 5H15.59l-1.999-3.93l-1.99 3.93H9.34l3.024-5.018z" clip-rule="evenodd" />
            </svg><span>  </span>Export To Excel
        </a>
        <a class="btn" onclick="ExportNetReportToPDF()" style="background-color:#B31B1B;color:white;">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 1536 1792">
                <path fill="currentColor" d="M1468 380q28 28 48 76t20 88v1152q0 40-28 68t-68 28H96q-40 0-68-28t-28-68V96q0-40 28-68T96 0h896q40 0 88 20t76 48zm-444-244v376h376q-10-29-22-41l-313-313q-12-12-41-22m384 1528V640H992q-40 0-68-28t-28-68V128H128v1536zm-514-593q33 26 84 56q59-7 117-7q147 0 177 49q16 22 2 52q0 1-1 2l-2 2v1q-6 38-71 38q-48 0-115-20t-130-53q-221 24-392 83q-153 262-242 262q-15 0-28-7l-24-12q-1-1-6-5q-10-10-6-36q9-40 56-91.5t132-96.5q14-9 23 6q2 2 2 4q52-85 107-197q68-136 104-262q-24-82-30.5-159.5T657 552q11-40 42-40h22q23 0 35 15q18 21 9 68q-2 6-4 8q1 3 1 8v30q-2 123-14 192q55 164 146 238m-576 411q52-24 137-158q-51 40-87.5 84t-49.5 74m398-920q-15 42-2 132q1-7 7-44q0-3 7-43q1-4 4-8q-1-1-1-2q-1-2-1-3q-1-22-13-36q0 1-1 2zm-124 661q135-54 284-81q-2-1-13-9.5t-16-13.5q-76-67-127-176q-27 86-83 197q-30 56-45 83m646-16q-24-24-140-24q76 28 124 28q14 0 18-1q0-1-2-3" />
            </svg><span> </span>Export To Pdf
        </a>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var youGaveTotal = @youGaveTotal ?? 0;
        var youGetTotal = @youGetTotal ?? 0;
        var Pending = youGetTotal - youGaveTotal;

        var footerContent = '<tr style="height:55px;"><td><b>Total</b></td>' +
            '<td><b class="text-danger">' + youGaveTotal.toFixed(2) + '</b></td>' +
            '<td><b class="text-success">' + youGetTotal.toFixed(2) + '</b></td>'               +
            '<td><b class="">' + Pending.toFixed(2) + '</b></td></tr>';

        $('#reportInvoicenetFooter').html(footerContent);
    });
</script>








