@model List<AccountManagement.DBContext.Models.ViewModels.InvoiceMaster.SupplierInvoiceModel>

@{
    decimal? youGaveTotal = 0;
    decimal? youGetTotal = 0;
}

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        youGaveTotal += item.InvoiceNo == "PayOut" ? item.TotalAmount : 0;
        youGetTotal += item.InvoiceNo != "PayOut" ? item.TotalAmount : 0;

        <tr style="height:55px;" class="text-center">
            <td>@(item.InvoiceNo == "PayOut" ? item.InvoiceNo : item.SupplierInvoiceNo)</td>
            <td style="width:86px;">@item.Date?.ToString("dd-MM-yyyy")</td>
            <td>@item.SiteName</td>
            <td>@item.GroupName</td>
            <td style="width: 120px;">@item.CompanyName</td>
            <td>@item.SupplierName</td>
            <td class="text-danger">
                @if (item.InvoiceNo == "PayOut")
                {
                    @item.TotalAmount
                }
                else
                {
                    @:0.00
                }
            </td>
            <td class="text-success">
                @if (item.InvoiceNo != "PayOut")
                {
                    @item.TotalAmount
                }
                else
                {
                    @:0.00
                }
            </td>

            @if (item.InvoiceNo == "PayOut" && UserSession.FormPermisionData.Any(a => a.FormName == "Reports" && (a.Edit == true || a.Delete == true)))
            {
                <td style="width:auto; white-space: nowrap; padding: 0;">
                    @if (UserSession.FormPermisionData.Any(a => a.FormName == "Reports" && a.Edit == true))
                    {
                        <a class="btn text-primary p-0 m-0" style="display: inline-block;" onclick="EditPayoutDetails('@item.Id')" title="Edit" aria-label="Edit">
                            <i class="fadeIn animated bx bx-edit"></i>
                        </a>
                    }
                    @if (UserSession.FormPermisionData.Any(a => a.FormName == "Reports" && a.Delete == true))
                    {
                        <a href="javascript:;" class="btn text-primary p-0 m-0" style="display: inline-block;" onclick="deletePayoutDetails('@item.Id')" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete" aria-label="Delete">
                            <i class="lni lni-trash"></i>
                        </a>
                    }
                </td>


            }
        </tr>
    }
}
else
{
    <tr style="height:55px;">
        <td colspan="8" class="text-center">No data found for the selected criteria.</td>
    </tr>
}

<script type="text/javascript">
    $(document).ready(function () {
        var youGaveTotal = @youGaveTotal ?? 0;
        var youGetTotal = @youGetTotal ?? 0;
        var Pending = youGetTotal - youGaveTotal;

        var footerContent = '<tr style="height:55px;"><td><b>Total</b></td><td></td><td></td><td></td><td></td><td></td>' +
            '<td><b class="text-danger">' + youGaveTotal.toFixed(2) + '</b></td>' +
            '<td><b class="text-success">' + youGetTotal.toFixed(2) + '</b></td>' +
            '<td><b class="">' + Pending.toFixed(2) + '</b></td>';

    @if (UserSession.FormPermisionData.Any(a => a.FormName == "Reports" && (a.Edit == true || a.Delete == true)))
    {
        @:footerContent += '<td></td>';
    }

            footerContent += '</tr>';
            $('#reportInvoiceListFooter').html(footerContent);
        });
</script>
