@model List<AccountManagement.DBContext.Models.ViewModels.InvoiceMaster.SupplierInvoiceModel>

@{
    decimal? youGaveTotal = 0;
    decimal? youGetTotal = 0;
}

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        if (item.InvoiceNo == "PayOut")
        {
            youGaveTotal += item.TotalAmount;
            <tr style="height:55px;">
                <td style="width:150px;">@item.InvoiceNo</td>
                <td style="width:120px;">@item.Date?.ToString("MM-dd-yyyy")</td>
                <td style="width:300px;">@item.CompanyName</td>
                <td style="width:250px;">@item.SupplierName</td>
                <td class="text-danger" style="width:200px;">@item.TotalAmount</td>
                <td></td>
            </tr>
        }
        else
        {
            youGetTotal += item.TotalAmount;
            <tr style="height:55px;">
                <td style="width:150px;">@item.InvoiceNo</td>
                <td style="width:120px;">@item.Date?.ToString("MM-dd-yyyy")</td>
                <td style="width:300px;">@item.CompanyName</td>
                <td style="width:250px;">@item.SupplierName</td>
                <td></td>
                <td class="text-success" style="width:200px;">@item.TotalAmount</td>
            </tr>
        }
    }
}
else
{
    <tr style="height:55px;">
        <td colspan="6" class="text-center">No data found for the selected criteria.</td>
    </tr>
}

<script type="text/javascript">
    $(document).ready(function () {
        var youGaveTotal = @youGaveTotal ?? 0;
        var youGetTotal = @youGetTotal ?? 0;

        var footerContent = '<tr style="height:55px;"><td><b>Total</b></td><td></td><td></td><td></td>' +
            '<td><b class="text-danger">' + youGaveTotal.toFixed(2) + '</b></td>' +
            '<td><b class="text-success">' + youGetTotal.toFixed(2) + '</b></td></tr>';
        $('#reportInvoiceListFooter').html(footerContent);
    });
</script>
