@model List<AccountManagement.DBContext.Models.ViewModels.InvoiceMaster.SupplierInvoiceModel>

@{
    decimal? youGaveTotal = 0;
    decimal? youGetTotal = 0;
}

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        if (item.InvoiceNo == "PayOut")
        {
            youGaveTotal += item.TotalAmount;
            <tr style="height:55px;">
                <td>@item.InvoiceNo</td>
                <td>@item.Date?.ToString("MM-dd-yyyy")</td>
                <td class="text-danger">@item.TotalAmount</td>
                <td></td>
            </tr>
        }
        else
        {
            youGetTotal += item.TotalAmount;
            <tr style="height:55px;">
                <td>@item.InvoiceNo</td>
                <td>@item.Date?.ToString("MM-dd-yyyy")</td>
                <td></td>
                <td class="text-success">@item.TotalAmount</td>
            </tr>
        }
    }
}
else
{
    <tr style="height:55px;">
        <td colspan="4" class="text-center">No data found for the selected criteria.</td>
    </tr>
}

<script type="text/javascript">
    $(document).ready(function () {
        var youGaveTotal = @youGaveTotal;
        var youGetTotal = @youGetTotal;

        var footerContent = '<tr style="height:55px;"><td><b>Total</b></td><td></td>' +
            '<td><b>' + (youGaveTotal ? youGaveTotal.toFixed(2) : '0.00') + '</b></td>' +
            '<td><b>' + (youGetTotal ? youGetTotal.toFixed(2) : '0.00') + '</b></td></tr>';
        $('#reportInvoiceListFooter').html(footerContent);
    });
</script>