@model List<AccountManagement.DBContext.Models.ViewModels.InvoiceMaster.SupplierInvoiceModel>

@{
decimal? yougavetotal = 0;
decimal? yougettotal = 0;
}

@if (Model != null && Model.Any())
{
    @foreach (var item in Model)
    {
        if (item.InvoiceNo == "PayOut")
        {
            yougavetotal += item.TotalAmount;

            <tr style="height:55px;">
                <td>@item.InvoiceNo</td>
                <td>@item.Date?.ToString("MM-dd-yyyy")</td>
                <td class="text-danger">@item.TotalAmount</td>
                <td></td>
            </tr>
        }
        else
        {

            yougettotal += item.TotalAmount;

            <tr style="height:55px;">
                <td>@item.InvoiceNo</td>
                <td>@item.Date?.ToString("MM-dd-yyyy")</td>
                <td></td>
                <td class="text-success">@item.TotalAmount</td>
            </tr>
        }
    }
}
else
{
    <tr>
        <td colspan="4" class="text-center">No data found for the selected criteria.</td>
    </tr>
}
<tr style="height:55px;" class="sticky-footer">
    <td><b>Total</b></td>
    <td></td>
    <td><b>@yougavetotal</b></td>
    <td><b>@yougettotal</b></td>
</tr>