@model List<AccountManagement.DBContext.Models.ViewModels.InvoiceMaster.SupplierInvoiceModel>

@if (Model != null && Model.Any())
{
    decimal? youGaveTotal = 0;
    decimal? youGetTotal = 0;

    foreach (var item in Model)
    {
        if (item.InvoiceNo == "PayOut")
        {
            <tr style="height:55px;">
                <td>@item.InvoiceNo</td>
                <td>@item.Date?.ToString("MM-dd-yyyy")</td>
                <td class="text-danger">@item.TotalAmount</td>
                <td></td>
            </tr>
        }
        else if (item.InvoiceNo != "Totals")
        {
            <tr style="height:55px;">
                <td>@item.InvoiceNo</td>
                <td>@item.Date?.ToString("MM-dd-yyyy")</td>
                <td></td>
                <td class="text-success">@item.TotalAmount</td>
            </tr>
        }
        if (item.InvoiceNo == "Totals")
        {
            youGaveTotal = item.youGaveTotal;
            youGetTotal = item.youGetTotal;
        }
    }

    if (youGaveTotal != 0 || youGetTotal != 0)
    {
        <tr style="height:55px;" class="sticky-footer">
            <td><b>Total</b></td>
            <td></td>
            <td><b>@youGaveTotal</b></td>
            <td><b>@youGetTotal</b></td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="4" class="text-center">No data found for the selected criteria.</td>
    </tr>
}

